Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, svelte:check

lefthook.yml:

# Lefthook configuration for Atlas
# Documentation: https://github.com/evilmartians/lefthook

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    format:
      run: pnpm format:check
      glob: '*.{js,ts,svelte,json,yaml,yml,md,css,html}'

    lint:
      run: pnpm lint
      glob: '*.{js,ts,svelte}'

    cpd:
      run: pnpm audit:duplicates

    knip:
      run: pnpm audit:unused

    test:
      run: pnpm test:coverage

    typecheck:
      run: pnpm typecheck

    svelte:check:
      run: pnpm svelte:check
      glob: '*.svelte'

pre-push:
  commands:
    check-branch:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          echo "❌ Push direct sur main interdit. Utilisez une branche et une PR."
          exit 1
        fi
      priority: 1

    check-sync:
      run: |
        git fetch origin --quiet
        if ! git merge-base --is-ancestor origin/main HEAD 2>/dev/null; then
          echo "⚠️  Votre branche n'est pas à jour avec main."
          echo "   Exécutez: git fetch origin && git rebase origin/main"
        fi
      priority: 1

    check-audit:
      run: pnpm audit:security
      priority: 2

    check-licenses:
      run: pnpm audit:licenses
      priority: 2

    check-lockfile:
      run: pnpm install --frozen-lockfile
      priority: 2

fix(ci): tighten gitleaks rule to ignore jsdoc fixture tokens
  .gitleaks.toml
Due: none

docs: mark security policy as best-effort, not a contractual commitment
  SECURITY.md
Due: format

docs: update post-pr-127 status and add gitleaks follow-up backlog
  TODO.md
Due: format

docs: add ui-components extraction to backlog
  TODO.md
Due: format

fix(ci): broaden gitleaks allowlist to cover all tests/fixtures paths
  .gitleaks.toml
Due: none

fix(ci): scan push-diff only on main, keep full audit on workflow_dispatch
  .github/workflows/gitleaks.yml
Due: format

docs: record gitleaks 3-iteration saga and post-pr-144 strategy in todo
  TODO.md
Due: format

fix(ci): allowlist historical paths surfaced by full-history audit
  .gitleaks.toml
Due: none

docs: close gitleaks saga in todo after pr-145 + dispatch audit
  TODO.md
Due: format

feat(ci): add dependabot auto-merge for patches and devdeps minors
  .github/workflows/dependabot-auto-merge.yml
Due: format

fix(amarre): base composante/labo signing requirements on invitation type
  apps/amarre/src/lib/server/services/surveys.ts
  apps/amarre/src/lib/types/api/surveys.ts
  apps/amarre/src/lib/ui/Request.svelte
Due: format, lint, svelte:check

test(amarre): add invitation_type to survey list test mock data
  apps/amarre/tests/routes/api/v1/surveys/list.test.ts
Due: format, lint

fix(amarre): update rgpd consent modal wording and add link to form
  apps/amarre/src/lib/ui/CreateRequest.svelte
Due: format, lint, svelte:check

style(amarre): prettier reformat after upstream port
  apps/amarre/src/lib/ui/Request.svelte
Due: format, lint, svelte:check

ci(infra): add codeql sast workflow (phase 1.1)
  .github/workflows/codeql.yml
  TODO.md
Due: format

fix(infra): atlas-logos via prepare script, drop static-copy plugin
  .gitignore
  TODO.md
  apps/amarre/package.json
  apps/amarre/vite.config.ts
  apps/ecrin/package.json
  apps/ecrin/vite.config.ts
  apps/find-an-expert/package.json
  apps/find-an-expert/vite.config.ts
  packages/logos/bin/install.mjs
  packages/logos/package.json
  pnpm-lock.yaml
Due: format, lint

docs: mark verified items in prochaines actions
  TODO.md
Due: format

style(amarre): white background for header, navbar and footer
  apps/amarre/src/lib/ui/Footer.svelte
  apps/amarre/src/lib/ui/MainTitle.svelte
  apps/amarre/src/lib/ui/TopNavbar.svelte
Due: format, lint, svelte:check

chore: knip cleanup and amarre cosmetic dette
  TODO.md
  apps/amarre/src/lib/ui/CreateRequest.svelte
  apps/amarre/src/lib/ui/Request.svelte
  knip.json
Due: format, lint, svelte:check

ci(infra): add dependency-review workflow (phase 3.2)
  .github/workflows/dependency-review.yml
Due: format

docs(ci): clarify dependency graph prerequisite in workflow comment
  .github/workflows/dependency-review.yml
Due: format

docs: mark phase 3.2 done and surface 7 dependabot alerts
  TODO.md
Due: format

docs: record decision to leave standalone amarre repo as-is
  TODO.md
Due: format

docs: mark ui actions applied (secret scanning, branch protection)
  TODO.md
Due: format

chore(ci): collapse dependabot groups and limit open prs to 1
  .github/dependabot.yml
Due: format

docs: inventory secrets and exposed surfaces (phase 0.2 + 0.3)
  TODO.md
  docs/security/secrets.md
  docs/security/surfaces.md
Due: format

feat: add http security headers across sveltekit apps (phase 6.3)
  TODO.md
  apps/amarre/src/hooks.server.ts
  apps/amarre/svelte.config.js
  apps/ecrin/src/hooks.server.ts
  apps/ecrin/svelte.config.js
  apps/find-an-expert/src/hooks.server.ts
  apps/find-an-expert/svelte.config.js
Due: format, lint

feat(auth): explicit httponly on session cookies (phase 6.4)
  TODO.md
  apps/amarre/src/lib/server/services/auth.ts
  apps/ecrin/src/lib/server/services/authService.test.ts
  apps/ecrin/src/lib/server/services/authService.ts
  apps/find-an-expert/src/lib/server/auth/service.ts
  packages/auth/src/index.test.ts
  packages/auth/src/index.ts
Due: format, lint

chore(ci): lower coverage thresholds after phase 6.3 headers
  TODO.md
  apps/amarre/vitest.config.ts
  apps/ecrin/vitest.config.ts
Due: format, lint

feat(auth): rate limiter and apply to public endpoints (phase 6.5)
  TODO.md
  apps/amarre/package.json
  apps/amarre/src/routes/api/v1/auth/signup/+server.ts
  apps/amarre/vitest.config.ts
  apps/ecrin/package.json
  apps/ecrin/src/routes/api/v1/auth/signup/+server.ts
  apps/ecrin/src/routes/api/v1/graphs/+server.ts
  apps/ecrin/vitest.config.ts
  apps/find-an-expert/package.json
  apps/find-an-expert/src/routes/api/v1/auth/signup/+server.ts
  apps/find-an-expert/src/routes/api/v1/institutions/search/+server.ts
  apps/find-an-expert/src/routes/api/v1/repositories/[id]/+server.ts
  packages/auth/src/index.ts
  packages/auth/src/rate-limit.test.ts
  packages/auth/src/rate-limit.ts
  pnpm-lock.yaml
Due: format, lint

test: handler tests for rate-limited endpoints (phase 7.2)
  TODO.md
  apps/amarre/tests/routes/api/v1/auth/signup.test.ts
  apps/amarre/vitest.config.ts
  apps/ecrin/src/routes/api/v1/auth/signup/server.test.ts
  apps/ecrin/src/routes/api/v1/graphs/server.test.ts
  apps/ecrin/vitest.config.ts
  apps/find-an-expert/src/routes/api/v1/auth/signup/server.test.ts
  apps/find-an-expert/src/routes/api/v1/institutions/search/server.test.ts
  apps/find-an-expert/src/routes/api/v1/repositories/[id]/server.test.ts
Due: format, lint

refactor(auth): dedup auth services via shared factory
  TODO.md
  apps/amarre/src/lib/server/services/auth.ts
  apps/ecrin/src/lib/server/services/authService.test.ts
  apps/ecrin/src/lib/server/services/authService.ts
  apps/find-an-expert/src/lib/server/auth/service.ts
Due: format, lint

refactor(baas): dedup baas clients via shared package
  TODO.md
  apps/amarre/src/lib/server/baas/index.ts
  apps/find-an-expert/src/lib/server/baas/index.ts
Due: format, lint

refactor(baas): dedup user repository via shared package subclass
  apps/amarre/src/lib/server/baas/index.ts
  apps/amarre/src/lib/server/baas/userRepository.ts
  apps/find-an-expert/src/lib/server/baas/index.ts
  apps/find-an-expert/src/lib/server/user/repository.ts
Due: format, lint

docs: refresh roadmap snapshot and dedup notes
  TODO.md
Due: format

refactor(auth): dedup auth validators via shared package
  TODO.md
  apps/amarre/src/lib/server/validators/auth.ts
  apps/amarre/tests/server/validators/auth.test.ts
  apps/ecrin/src/lib/validators/server/auth.ts
  apps/find-an-expert/src/lib/server/auth/validators.ts
Due: format, lint

test: hooks server handle tests for 3 apps (phase 7.2)
  TODO.md
  apps/amarre/tests/hooks.server.test.ts
  apps/ecrin/src/hooks.server.test.ts
  apps/find-an-expert/src/hooks.server.test.ts
Due: format, lint

chore: cleanup unused exports after dedup refactor
  TODO.md
  apps/amarre/src/lib/constants/index.ts
  apps/amarre/src/lib/server/baas/index.ts
  apps/ecrin/src/lib/constants/index.ts
  apps/find-an-expert/src/lib/constants/index.ts
  apps/find-an-expert/vite.config.ts
Due: format, lint

chore: changeset for phase 6.5 + 7.2 + dedups
  .changeset/security-hardening-and-shared-factories.md
Due: format

feat(infra): add amarre-sandbox docker package for local end-to-end runs
  TODO.md
  pnpm-lock.yaml
  sandbox/amarre-sandbox/.env.example
  sandbox/amarre-sandbox/.gitignore
  sandbox/amarre-sandbox/README.md
  sandbox/amarre-sandbox/docker-compose.yaml
  sandbox/amarre-sandbox/package.json
  sandbox/amarre-sandbox/scripts/bootstrap-baas.sh
  sandbox/amarre-sandbox/scripts/bootstrap-crf.sh
  sandbox/amarre-sandbox/scripts/bootstrap.sh
  sandbox/amarre-sandbox/scripts/wait-for.sh
  sandbox/amarre-sandbox/scripts/write-amarre-env.sh
Due: format
