Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, svelte:check

format:
  run: pnpm format:check

lint:
  run: pnpm lint

svelte:check:
  run: pnpm svelte:check

perf: reduce ci coverage report output
  apps/amarre/vitest.config.ts
  apps/ecrin/vitest.config.ts
  apps/find-an-expert/vite.config.ts
  cli/researcher-profiles/vitest.config.ts
  packages/appwrite/vitest.config.ts
  packages/auth/vitest.config.ts
  packages/errors/vitest.config.ts
  packages/fetch-one-api-page/vitest.config.ts
  packages/fetch-openalex/vitest.config.ts
  packages/net/vitest.config.ts
  packages/openalex-types/vitest.config.ts
  packages/openalex/vitest.config.ts
  packages/redcap-client/vitest.config.ts
  packages/redcap-logs/vitest.config.ts
  packages/researcher-profiles/vitest.config.ts
  packages/validate-openalex/vitest.config.ts
  packages/validators/vitest.config.ts
  sandbox/redcap-sandbox/vitest.config.ts
  services/crf/vitest.config.ts
Due: format, lint

test: standardize coverage collection
  apps/amarre/vitest.config.ts
  apps/ecrin/vitest.config.ts
  apps/find-an-expert/vite.config.ts
  cli/researcher-profiles/vitest.config.ts
  config/shared-config/package.json
  config/shared-config/vitest/index.js
  packages/appwrite/vitest.config.ts
  packages/auth/vitest.config.ts
  packages/errors/vitest.config.ts
  packages/fetch-one-api-page/vitest.config.ts
  packages/fetch-openalex/vitest.config.ts
  packages/net/vitest.config.ts
  packages/openalex-types/vitest.config.ts
  packages/openalex/vitest.config.ts
  packages/redcap-client/vitest.config.ts
  packages/redcap-core/vitest.config.ts
  packages/redcap-logs/vitest.config.ts
  packages/researcher-profiles/vitest.config.ts
  packages/validate-openalex/vitest.config.ts
  packages/validators/vitest.config.ts
  sandbox/redcap-sandbox/vitest.config.ts
  services/crf/vitest.config.ts
  turbo.json
Due: format, lint

test: raise fetch openalex coverage
  package.json
  packages/fetch-openalex/src/api.test.ts
  packages/fetch-openalex/src/authors.test.ts
  packages/fetch-openalex/vitest.config.ts
  scripts/audit/coverage-report.mjs
Due: format, lint

perf: improve coverage report completeness and presentation
  scripts/audit/coverage-report.mjs
Due: none

feat(researcher-profiles): add test and test:coverage scripts to cli
  cli/researcher-profiles/package.json
Due: format

fix(researcher-profiles): pass with no tests in cli test script
  cli/researcher-profiles/package.json
Due: format

test: improve coverage across openalex-types, fetch-one-api-page, openalex and validate-openalex
  packages/fetch-one-api-page/src/index.spec.ts
  packages/openalex-types/src/setter.test.ts
  packages/openalex/src/errors.test.ts
  packages/openalex/src/group/helpers.test.ts
  packages/openalex/src/group/index.test.ts
  packages/validate-openalex/src/events/aggregate.test.ts
  packages/validate-openalex/src/prompt/transformer.test.ts
Due: format, lint

test(redcap-logs): add unit tests for pure analytics functions
  packages/redcap-logs/src/enrich.test.ts
  packages/redcap-logs/src/monthly.test.ts
  packages/redcap-logs/src/rolling.test.ts
  packages/redcap-logs/src/surveyed.test.ts
  packages/validate-openalex/src/store/init.test.ts
  packages/validate-openalex/src/store/loader.test.ts
  packages/validate-openalex/src/store/saver.test.ts
Due: format, lint

test: fix coverage thresholds so test:coverage passes
  cli/researcher-profiles/vitest.config.ts
  packages/openalex-types/vitest.config.ts
  packages/openalex/vitest.config.ts
  packages/redcap-client/vitest.config.ts
  packages/redcap-logs/vitest.config.ts
Due: format, lint

chore(redcap-logs): remove stale eslint-disable comments in cache.ts
  packages/redcap-logs/src/cache.ts
Due: format, lint

test(ci): extend coverage to all code units with thresholds
  apps/atlas-dashboard/package.json
  apps/atlas-dashboard/vitest.config.ts
  apps/ecrin/vitest.config.ts
  apps/redcap-dashboard/package.json
  apps/redcap-dashboard/vitest.config.ts
  cli/atlas-stats/package.json
  cli/atlas-stats/vitest.config.ts
  cli/biblio/package.json
  cli/biblio/vitest.config.ts
  cli/crf/package.json
  cli/crf/vitest.config.ts
  cli/net/package.json
  cli/net/vitest.config.ts
  cli/openalex/package.json
  cli/openalex/vitest.config.ts
  cli/redcap-openapi/package.json
  cli/redcap-openapi/src/core/comparator.test.ts
  cli/redcap-openapi/vitest.config.ts
  cli/redcap-stats/package.json
  cli/redcap-stats/vitest.config.ts
  packages/atlas-stats/package.json
  packages/atlas-stats/src/compute.test.ts
  packages/atlas-stats/vitest.config.ts
  pnpm-lock.yaml
  sandbox/redcap-sandbox/vitest.config.ts
Due: format, lint

perf(ci): exclude 0%-covered files from coverage report aggregates
  scripts/audit/coverage-report.mjs
Due: none

test(ci): add tests for find-an-expert, shared-config and logos
  apps/find-an-expert/vitest.config.ts
  config/shared-config/package.json
  config/shared-config/vitest.config.ts
  config/shared-config/vitest/index.test.js
  packages/logos/assets.test.ts
  packages/logos/package.json
  packages/logos/vitest.config.ts
  pnpm-lock.yaml
Due: format, lint

perf(ci): add directory column to coverage report
  scripts/audit/coverage-report.mjs
Due: none

test(ci): add unit tests for pure-function modules and improve coverage report
  apps/ecrin/src/lib/constants/constants.test.ts
  apps/ecrin/src/lib/transformers/build-name.test.ts
  apps/ecrin/vitest.config.ts
  apps/redcap-dashboard/src/lib/patches.test.ts
  cli/crf/src/shared/context.test.ts
  cli/crf/src/shared/terminal.test.ts
  packages/redcap-core/src/params/inference.test.ts
  packages/redcap-core/src/version/supported.test.ts
  scripts/audit/coverage-report.mjs
  scripts/audit/workspace-structure.mjs
Due: format, lint

test(validate-openalex): extend edge-case coverage and fix backup path
  packages/validate-openalex/src/events/builder.test.ts
  packages/validate-openalex/src/events/filter.test.ts
  packages/validate-openalex/src/events/getter-effect.test.ts
  packages/validate-openalex/src/events/getter.test.ts
  packages/validate-openalex/src/store/saver.test.ts
  packages/validate-openalex/src/store/saver.ts
Due: format, lint

test(validate-openalex): catch die errors with exit instead of either
  packages/validate-openalex/src/events/builder.test.ts
  packages/validate-openalex/src/events/getter-effect.test.ts
Due: format, lint

ci: fail audit on outdated dependencies
  package.json
Due: format

chore: update dependencies
  apps/amarre/package.json
  apps/ecrin/package.json
  apps/find-an-expert/package.json
  cli/crf/package.json
  config/shared-config/package.json
  package.json
  packages/appwrite/package.json
  packages/auth/package.json
  packages/openalex/package.json
  packages/researcher-profiles/package.json
  packages/validate-openalex/package.json
  pnpm-lock.yaml
  services/crf/package.json
Due: format

chore: add dependency update changeset
  .changeset/update-dependency-audits.md
Due: format

ci: stabilize dependency coverage checks
  apps/find-an-expert/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: format, lint

test: improve find-an-expert health coverage
  apps/find-an-expert/src/lib/server/health/health.test.ts
  apps/find-an-expert/vite.config.ts
Due: format, lint

test: improve validate-openalex coverage
  packages/validate-openalex/src/actions/filter.test.ts
  packages/validate-openalex/src/config.test.ts
  packages/validate-openalex/src/fetch/index.test.ts
  packages/validate-openalex/vitest.config.ts
Due: format, lint

test: raise validate-openalex coverage threshold
  packages/validate-openalex/src/actions/actions.test.ts
  packages/validate-openalex/src/actions/actors.test.ts
  packages/validate-openalex/src/actions/reliabler.test.ts
  packages/validate-openalex/src/prompt/input.test.ts
  packages/validate-openalex/vitest.config.ts
Due: format, lint

chore(deps): normalize specifiers and add dep-versions audit
  .changeset/normalize-dependency-specifiers.md
  cli/biblio/package.json
  cli/openalex/package.json
  package.json
  packages/fetch-one-api-page/package.json
  packages/fetch-openalex/package.json
  packages/openalex/package.json
  packages/researcher-profiles/package.json
  packages/validate-openalex/package.json
  pnpm-lock.yaml
  scripts/audit/dep-versions.mjs
Due: format

feat(ci): enforce architectural boundaries via audit script and eslint
  CONTRIBUTING.md
  apps/amarre/eslint.config.js
  apps/atlas-dashboard/eslint.config.js
  apps/ecrin/eslint.config.js
  apps/find-an-expert/eslint.config.js
  apps/redcap-dashboard/eslint.config.js
  config/shared-config/eslint/base.js
  config/shared-config/eslint/index.js
  config/shared-config/eslint/scripts.js
  config/shared-config/eslint/svelte-relaxed.js
  config/shared-config/eslint/svelte.js
  config/shared-config/eslint/typescript.js
  packages/appwrite/eslint.config.js
  packages/atlas-stats/eslint.config.js
  packages/auth/eslint.config.js
  packages/errors/eslint.config.js
  packages/fetch-one-api-page/eslint.config.js
  packages/fetch-openalex/eslint.config.js
  packages/net/eslint.config.js
  packages/openalex-types/eslint.config.js
  packages/openalex/eslint.config.js
  packages/redcap-client/eslint.config.js
  packages/redcap-core/eslint.config.js
  packages/redcap-logs/eslint.config.js
  packages/researcher-profiles/eslint.config.js
  packages/validate-openalex/eslint.config.js
  packages/validators/eslint.config.js
  pnpm-workspace.yaml
  scripts/audit/workspace-structure.mjs
  services/crf/eslint.config.js
  ui/.gitkeep
Due: format, lint

chore(ci): add changeset for architecture enforcement
  .changeset/architecture-enforcement.md
Due: format

fix: resolve eslint errors in researcher-matching services
  cli/researcher-profiles/ALGORITHMS.md
  cli/researcher-profiles/PLAN.md
  cli/researcher-profiles/package.json
  cli/researcher-profiles/src/cli/chart.ts
  cli/researcher-profiles/src/cli/index.ts
  cli/researcher-profiles/src/cli/match-researchers.ts
  packages/openalex-types/src/api-results.ts
  packages/openalex-types/src/index.ts
  packages/researcher-profiles/eslint.config.js
  packages/researcher-profiles/package.json
  packages/researcher-profiles/src/index.ts
  packages/researcher-profiles/src/services/embedding-profile.ts
  packages/researcher-profiles/src/services/ensemble.ts
  packages/researcher-profiles/src/services/match-formatter.ts
  packages/researcher-profiles/src/services/scorer.ts
  packages/researcher-profiles/src/services/tfidf-profile.ts
  packages/researcher-profiles/src/services/topic-extractor.ts
  pnpm-lock.yaml
Due: format, lint

chore: add changeset for researcher-matching feature
  .changeset/researcher-matching.md
Due: format

test: lower coverage thresholds to account for new untested services
  packages/researcher-profiles/vitest.config.ts
Due: format, lint

chore: version packages (#118)
  .changeset/researcher-matching.md
  apps/find-an-expert/CHANGELOG.md
  apps/find-an-expert/package.json
  cli/biblio/CHANGELOG.md
  cli/biblio/package.json
  cli/researcher-profiles/CHANGELOG.md
  cli/researcher-profiles/package.json
  packages/fetch-openalex/CHANGELOG.md
  packages/fetch-openalex/package.json
  packages/openalex-types/CHANGELOG.md
  packages/openalex-types/package.json
  packages/researcher-profiles/CHANGELOG.md
  packages/researcher-profiles/package.json
  packages/validate-openalex/CHANGELOG.md
  packages/validate-openalex/package.json
Due: format

docs: clarify workspace category boundaries
  CONTRIBUTING.md
Due: format

ci: strengthen workspace structure audit
  scripts/audit/workspace-structure.mjs
Due: none

ci: relax dependency version audit
  package.json
Due: format

docs: remove stale assistant references
  docs/.vitepress/config.ts
  docs/projects/ecrin/find-an-expert/technical-setup.md
Due: format, lint

chore: consolidate generated file ignores
  .gitignore
  apps/find-an-expert/.gitignore
Due: none

chore(docs): ignore generated api sidebar
  .gitignore
  docs/.vitepress/data/api-sidebar.json
Due: format

chore(docs): align generated docs tooling
  .gitignore
  docs/.vitepress/config.ts
  package.json
  scripts/docs/generate-api-sidebar.ts
  scripts/docs/generate-repo-stats.ts
Due: format, lint

docs: repair stale documentation links
  README.md
  apps/amarre/README.md
  apps/amarre/tests/README.md
  apps/ecrin/README.md
  apps/find-an-expert/README.md
  config/shared-config/README.md
  docs/projects/amarre/ARCHITECTURE_DIAGRAMS.md
  docs/projects/atlas/documentation-audit.md
  docs/projects/crf/index.md
  docs/projects/ecrin/audit/index.md
  docs/projects/ecrin/dev/index.md
  docs/projects/ecrin/find-an-expert/css-architecture.md
  docs/projects/ecrin/find-an-expert/design-system.md
  docs/projects/ecrin/index.md
  docs/projects/ecrin/user/index.md
Due: format

Path conditions:
  format: any of: *.{js,ts,svelte,json,yaml,yml,md,css,html}
  lint: any of: *.{js,ts,svelte}
  svelte:check: any of: *.svelte
