Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, svelte:check

format:
  run: pnpm format:check

lint:
  run: pnpm lint

svelte:check:
  run: pnpm svelte:check

fix(amarre-sandbox): explicit error when gitignored data dictionary is missing
  apps/amarre/tests/RUNBOOK.md
  sandbox/amarre-sandbox/scripts/bootstrap-crf.ts
  sandbox/amarre-sandbox/scripts/seed-fake-data.ts
Due: format, lint

feat(amarre-sandbox): auto-detect prod seed mode from credentials
  TODO.md
  apps/amarre/tests/RUNBOOK.md
  sandbox/amarre-sandbox/README.md
  sandbox/amarre-sandbox/scripts/bootstrap.sh
  sandbox/amarre-sandbox/scripts/start.sh
Due: format

fix(amarre-sandbox): explicit error when prod primary key mismatches local
  sandbox/amarre-sandbox/scripts/pull-from-prod.ts
Due: format, lint

fix(amarre-sandbox): wait for bootstrap js before clicking modal in smoke
  sandbox/amarre-sandbox/tests/e2e/smoke.spec.ts
Due: format, lint

fix(amarre): expose bootstrap api on window after dynamic import
  apps/amarre/src/routes/+layout.svelte
Due: format, lint, svelte:check

chore(amarre): rebaseline coverage after +layout.svelte bootstrap rebind
  apps/amarre/vitest.config.ts
Due: format, lint

fix(amarre-sandbox): document that start does not leave amarre dev up
  apps/amarre/tests/RUNBOOK.md
  sandbox/amarre-sandbox/scripts/start.sh
Due: format

test(amarre-sandbox): surface the response body when the create-request post fails
  sandbox/amarre-sandbox/tests/e2e/smoke.spec.ts
Due: format, lint

fix(amarre-sandbox): pin mailpit v1.20 and appwrite 1.9.0
  TODO.md
  sandbox/amarre-sandbox/docker-compose.yaml
  sandbox/crf-sandbox/docker/docker-compose.yml
Due: format

docs: add changeset for amarre tests cleanup + runbook + dx fixes
  .changeset/amarre-tests-cleanup-and-runbook.md
Due: format

chore(amarre): test pyramid cleanup + runbook + assorted fixes (#195)
  .changeset/amarre-tests-cleanup-and-runbook.md
  TODO.md
  apps/amarre/src/routes/+layout.svelte
  apps/amarre/tests/README.md
  apps/amarre/tests/RUNBOOK.md
  apps/amarre/tests/baselines/.gitkeep
  apps/amarre/tests/integration/drift-detection.test.ts
  apps/amarre/tests/lib/server/validators/auth.test.ts
  apps/amarre/tests/utils/drift-detector.test.ts
  apps/amarre/tests/utils/drift-detector.ts
  apps/amarre/vitest.config.ts
  package.json
  sandbox/amarre-sandbox/README.md
  sandbox/amarre-sandbox/docker-compose.yaml
  sandbox/amarre-sandbox/package.json
  sandbox/amarre-sandbox/scripts/bootstrap-crf.ts
  sandbox/amarre-sandbox/scripts/bootstrap.sh
  sandbox/amarre-sandbox/scripts/pull-from-prod.ts
  sandbox/amarre-sandbox/scripts/seed-fake-data.ts
  sandbox/amarre-sandbox/scripts/start.sh
  sandbox/amarre-sandbox/scripts/test-e2e-baas-ui.ts
  sandbox/amarre-sandbox/scripts/test-e2e-baas.ts
  sandbox/amarre-sandbox/scripts/test-e2e-ui.ts
  sandbox/amarre-sandbox/scripts/test-e2e.ts
  sandbox/amarre-sandbox/tests/e2e/smoke.spec.ts
  sandbox/crf-sandbox/docker/docker-compose.yml
Due: format, lint, svelte:check

chore(config): allow sillage scope in commitlint
  commitlint.config.js
Due: format, lint

docs(sillage): add project charter for new app
  apps/sillage/PROJECT.md
Due: format

docs(sillage): add PROJECT.md charter for new app (#196)
  apps/sillage/PROJECT.md
  commitlint.config.js
Due: format, lint

fix(amarre-sandbox): auto-fallback to fake seed when prod redcap is unreachable
  sandbox/amarre-sandbox/README.md
  sandbox/amarre-sandbox/scripts/bootstrap.sh
Due: format

docs: record sdk 25 + appwrite 1.9.0 alignment decision
  TODO.md
Due: format

chore(amarre-sandbox): add changeset for prod-probe fallback
  .changeset/amarre-sandbox-prod-probe.md
Due: format

fix(amarre-sandbox): auto-fallback to fake seed when prod redcap is unreachable (#197)
  .changeset/amarre-sandbox-prod-probe.md
  TODO.md
  sandbox/amarre-sandbox/README.md
  sandbox/amarre-sandbox/scripts/bootstrap.sh
Due: format

chore(crf-sandbox): scaffold crf-sandbox-core package
  apps/sillage/PROJECT.md
  knip.json
  pnpm-lock.yaml
  sandbox/crf-sandbox-core/README.md
  sandbox/crf-sandbox-core/package.json
  sandbox/crf-sandbox-core/tsconfig.json
Due: format

feat(sillage): scaffold minimal sveltekit app
  apps/sillage/.gitignore
  apps/sillage/eslint.config.js
  apps/sillage/package.json
  apps/sillage/prettier.config.js
  apps/sillage/src/app.d.ts
  apps/sillage/src/app.html
  apps/sillage/src/routes/+page.svelte
  apps/sillage/static/.gitkeep
  apps/sillage/svelte.config.js
  apps/sillage/tsconfig.json
  apps/sillage/vite.config.ts
  knip.json
  pnpm-lock.yaml
Due: format, lint, svelte:check

feat(ui): add anonymoushome component with rotating portraits
  ui/atlas-ui/src/lib/AnonymousHome.stories.ts
  ui/atlas-ui/src/lib/AnonymousHome.svelte
  ui/atlas-ui/src/lib/index.ts
  ui/atlas-ui/src/lib/types/anonymous-researcher.ts
Due: format, lint, svelte:check

feat(sillage): wire homepage to mock researcher pool with rotation
  apps/sillage/package.json
  apps/sillage/src/lib/mocks/researchers.ts
  apps/sillage/src/routes/+page.server.ts
  apps/sillage/src/routes/+page.svelte
  pnpm-lock.yaml
Due: format, lint, svelte:check

feat(ui): add signupmodal + onsignupclick on anonymoushome
  ui/atlas-ui/src/lib/AnonymousHome.svelte
  ui/atlas-ui/src/lib/SignupModal.stories.ts
  ui/atlas-ui/src/lib/SignupModal.svelte
  ui/atlas-ui/src/lib/index.ts
Due: format, lint, svelte:check

feat(sillage): open signup modal from discover tile
  apps/sillage/src/routes/+page.svelte
Due: format, lint, svelte:check

ci: include apps/sillage in env-bootstrap loop
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: format

feat(sillage): server-side auth (signup/login/logout/me + hooks)
  apps/sillage/.env.example
  apps/sillage/package.json
  apps/sillage/src/env.d.ts
  apps/sillage/src/hooks.server.ts
  apps/sillage/src/lib/errors/index.ts
  apps/sillage/src/lib/errors/mapper.ts
  apps/sillage/src/lib/server/baas/index.ts
  apps/sillage/src/lib/server/services/auth.ts
  apps/sillage/src/lib/server/validators/auth.ts
  apps/sillage/src/routes/+page.server.ts
  apps/sillage/src/routes/+page.svelte
  apps/sillage/src/routes/api/v1/auth/login/+server.ts
  apps/sillage/src/routes/api/v1/auth/logout/+server.ts
  apps/sillage/src/routes/api/v1/auth/signup/+server.ts
  apps/sillage/src/routes/api/v1/me/+server.ts
  apps/sillage/src/routes/login/+page.server.ts
  apps/sillage/src/routes/login/+page.svelte
  pnpm-lock.yaml
Due: format, lint, svelte:check

docs: track ui workflow drift between atlas/amarre and univ-lehavre/amarre
  TODO.md
Due: format

feat(sillage): scaffold sillage-sandbox docker stack
  apps/sillage/src/lib/errors/index.ts
  apps/sillage/src/lib/server/baas/index.ts
  knip.json
  pnpm-lock.yaml
  sandbox/sillage-sandbox/.env.example
  sandbox/sillage-sandbox/.env.prod.example
  sandbox/sillage-sandbox/.gitignore
  sandbox/sillage-sandbox/README.md
  sandbox/sillage-sandbox/docker-compose.yaml
  sandbox/sillage-sandbox/docker/console-nginx.conf
  sandbox/sillage-sandbox/package.json
  sandbox/sillage-sandbox/playwright.config.ts
  sandbox/sillage-sandbox/scripts/bootstrap-baas.ts
  sandbox/sillage-sandbox/scripts/bootstrap-crf.ts
  sandbox/sillage-sandbox/scripts/bootstrap.sh
  sandbox/sillage-sandbox/scripts/pull-from-prod.ts
  sandbox/sillage-sandbox/scripts/seed-fake-data.ts
  sandbox/sillage-sandbox/scripts/start.sh
  sandbox/sillage-sandbox/scripts/wait-for.sh
  sandbox/sillage-sandbox/scripts/write-sillage-env.sh
  sandbox/sillage-sandbox/tests/e2e/fixtures/appwrite.ts
  sandbox/sillage-sandbox/tests/e2e/fixtures/mailpit.ts
  sandbox/sillage-sandbox/tests/e2e/fixtures/preflight.ts
  sandbox/sillage-sandbox/tests/e2e/smoke.spec.ts
Due: format, lint

test(sillage): set up vitest + cover phases 1-4
  apps/sillage/package.json
  apps/sillage/src/lib/utils/shuffle.ts
  apps/sillage/src/routes/+page.server.ts
  apps/sillage/tests/integration/hooks.server.test.ts
  apps/sillage/tests/integration/login.test.ts
  apps/sillage/tests/integration/logout.test.ts
  apps/sillage/tests/integration/me.test.ts
  apps/sillage/tests/integration/signup.test.ts
  apps/sillage/tests/ui/anonymous-home.test.ts
  apps/sillage/tests/ui/setup.ts
  apps/sillage/tests/ui/signup-modal.test.ts
  apps/sillage/tests/unit/shuffle.test.ts
  apps/sillage/vitest.config.ts
  pnpm-lock.yaml
Due: format, lint

test(sillage): raise coverage to 97/94/100/98
  apps/sillage/tests/integration/baas.test.ts
  apps/sillage/tests/integration/login-route.test.ts
  apps/sillage/tests/integration/page-server.test.ts
  apps/sillage/tests/integration/services-auth.test.ts
  apps/sillage/tests/unit/researchers.test.ts
  apps/sillage/vitest.config.ts
Due: format, lint

fix(sillage): default seed_mode=none in sillage-sandbox bootstrap
  sandbox/sillage-sandbox/scripts/bootstrap.sh
Due: none

fix(ui): button tile + callback signupmodal to fix smoke e2e
  ui/atlas-ui/src/lib/AnonymousHome.svelte
  ui/atlas-ui/src/lib/SignupModal.stories.ts
  ui/atlas-ui/src/lib/SignupModal.svelte
Due: format, lint, svelte:check

fix(sillage): adapt page+tests to signupmodal callback api
  apps/sillage/src/routes/+page.svelte
  apps/sillage/tests/ui/anonymous-home.test.ts
  apps/sillage/tests/ui/signup-modal.test.ts
Due: format, lint, svelte:check

test(sillage): smoke e2e waits for hydration before click
  sandbox/sillage-sandbox/tests/e2e/smoke.spec.ts
Due: format, lint

fix(amarre): cleanup helper filtrait sur record_id au lieu de userid
  apps/amarre/tests/integration/crf/surveys.test.ts
  apps/amarre/tests/integration/helpers/redcap.ts
Due: format, lint

feat(ui): add authenticatedhome + carousel projets + invite questionnaires
  ui/atlas-ui/src/lib/AuthenticatedHome.stories.ts
  ui/atlas-ui/src/lib/AuthenticatedHome.svelte
  ui/atlas-ui/src/lib/ProjectsCarousel.svelte
  ui/atlas-ui/src/lib/QuartoProjectCard.svelte
  ui/atlas-ui/src/lib/QuestionnairesInvite.svelte
  ui/atlas-ui/src/lib/index.ts
  ui/atlas-ui/src/lib/types/instrument.ts
  ui/atlas-ui/src/lib/types/project-snapshot.ts
Due: format, lint, svelte:check

fix(ui): widen greetingname type to accept undefined explicitly
  ui/atlas-ui/src/lib/AuthenticatedHome.svelte
Due: format, lint, svelte:check

feat(sillage): wire authenticatedhome on home post-login
  apps/sillage/src/lib/mocks/projects.ts
  apps/sillage/src/routes/+page.server.ts
  apps/sillage/src/routes/+page.svelte
  apps/sillage/tests/integration/page-server.test.ts
  apps/sillage/tests/ui/authenticated-home.test.ts
  apps/sillage/tests/unit/projects.test.ts
Due: format, lint, svelte:check

test(sillage): smoke e2e validates authenticated home
  sandbox/sillage-sandbox/tests/e2e/smoke.spec.ts
Due: format, lint

feat(sillage): profile state + dynamic gating
  TODO.md
  apps/sillage/src/lib/server/crf/index.ts
  apps/sillage/src/lib/server/gating.ts
  apps/sillage/src/lib/server/services/profile.ts
  apps/sillage/src/lib/types/api/profile.ts
  apps/sillage/src/lib/types/index.ts
  apps/sillage/src/routes/+page.server.ts
  apps/sillage/src/routes/api/v1/profile/state/+server.ts
  apps/sillage/tests/integration/page-server.test.ts
  apps/sillage/tests/integration/profile-service.test.ts
  apps/sillage/tests/integration/profile-state.test.ts
  apps/sillage/tests/unit/gating.test.ts
Due: format, lint

Path conditions:
  format: any of: *.{js,ts,svelte,json,yaml,yml,md,css,html}
  lint: any of: *.{js,ts,svelte}
  svelte:check: any of: *.svelte
