Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, svelte:check

format:
  run: pnpm format:check

lint:
  run: pnpm lint

svelte:check:
  run: pnpm svelte:check

feat(dataops): boucle fermée dérive→réentraînement active par défaut (citation)
  dataops/citation-dagster/src/citation_dagster/definitions.py
  dataops/citation-dagster/tests/test_definitions.py
Due: none

docs(docs): acter la boucle fermée drift→retrain autonome (adr 0079)
  docs/src/content/docs/decisions/0079-boucle-fermee-drift-retrain-active-par-defaut.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/decisions/parcours.md
Due: format

docs(docs): le ct autonome de citation passe en « appliqué » (normes)
  docs/src/content/docs/quality/normes.md
Due: format

feat(ci): capturer un brouillon de drift au point d'échec d'un run (adr 0080)
  .gitignore
  dataops/citation-dagster/tests/conftest.py
  dataops/citation-dagster/tests/drift_draft.py
  knip.json
  package.json
  sandbox/amarre-sandbox/playwright.config.ts
  sandbox/sillage-sandbox/playwright.config.ts
  scripts/drifts/draft.mjs
  scripts/drifts/playwright-reporter.mjs
  scripts/drifts/promote-draft.mjs
  scripts/drifts/promote-draft.test.mjs
Due: format, lint

docs(docs): acter la capture assistée des drifts (adr 0080)
  docs/src/content/docs/decisions/0056-registre-drifts.md
  docs/src/content/docs/decisions/0080-capture-assistee-drifts-point-echec.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/decisions/parcours.md
  docs/src/content/docs/quality/matrice-e2e.md
  docs/src/content/drifts/registre-drifts.yaml
Due: format

feat(dataops): module pur de prévision mediawatch (forecast_model)
  dataops/mediawatch-dagster/src/mediawatch_dagster/forecast_model.py
  dataops/mediawatch-dagster/tests/test_forecast_model.py
  dataops/mediawatch-dagster/tests/test_forecast_model_property.py
Due: none

test(dataops): couvrir check_forecast_drift de bout en bout (mediawatch)
  dataops/mediawatch-dagster/tests/test_drift_forecast.py
Due: none

feat(dataops): câbler le modèle de prévision dans mediawatch + maj normes
  dataops/mediawatch-dagster/src/mediawatch_dagster/assets/__init__.py
  dataops/mediawatch-dagster/src/mediawatch_dagster/definitions.py
  dataops/mediawatch-dagster/tests/test_definitions.py
  docs/src/content/docs/quality/normes.md
Due: format

feat(dataops): asset de prévision + tracking mlflow + manifest paramétré (mediawatch)
  dataops/mediawatch-dagster/src/mediawatch_dagster/assets/forecast.py
  dataops/mediawatch-dagster/src/mediawatch_dagster/assets/manifest.py
  dataops/mediawatch-dagster/src/mediawatch_dagster/tracking.py
  dataops/mediawatch-dagster/tests/test_forecast_asset.py
  dataops/mediawatch-dagster/tests/test_tracking.py
Due: none

feat(dataops): drift du modèle de prévision (evidently, porte bloquante)
  dataops/mediawatch-dagster/src/mediawatch_dagster/assets/drift_forecast.py
  dataops/mediawatch-dagster/tests/test_drift_forecast.py
Due: none

feat(dataops): socle du modèle de prévision mediawatch — deps + adr 0081
  dataops/mediawatch-dagster/pyproject.toml
  dataops/mediawatch-dagster/uv.lock
  docs/src/content/docs/decisions/0081-modele-prevision-volume-articles-mediawatch.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/decisions/parcours.md
Due: format

feat(dataops): persister le verdict de dérive du forecast en s3 (mediawatch)
  dataops/mediawatch-dagster/src/mediawatch_dagster/assets/drift_forecast.py
  dataops/mediawatch-dagster/src/mediawatch_dagster/definitions.py
  dataops/mediawatch-dagster/src/mediawatch_dagster/partitions.py
  dataops/mediawatch-dagster/tests/test_drift_forecast.py
  dataops/mediawatch-dagster/tests/test_partitions.py
Due: none

feat(dataops): boucle fermée dérive→réentraînement active par défaut (mediawatch)
  dataops/mediawatch-dagster/src/mediawatch_dagster/definitions.py
  dataops/mediawatch-dagster/tests/test_definitions.py
Due: none

docs(docs): acter la boucle fermée drift→retrain de mediawatch (adr 0082)
  docs/src/content/docs/decisions/0082-boucle-fermee-drift-retrain-mediawatch.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/decisions/parcours.md
  docs/src/content/docs/quality/normes.md
Due: format

style: reformater avec prettier 3.9 (suite au bump du groupe all-minor-patch)
  apps/crf-dashboard/src/routes/api/logs/+server.ts
  cli/crf-openapi/src/comparator/index.ts
  packages/auth/README.md
  packages/citation/src/types/index.ts
  packages/crf-client/src/types.ts
  packages/crf-core/src/content-types/endpoints.ts
  packages/crf-logs/src/net-diagnostics.ts
  packages/fetch-one-api-page/src/index.ts
Due: format, lint

ci(deps): exempter satteri de l'audit licences (mit non déclaré)
  scripts/audit/licenses.mjs
Due: none

fix(deps): borner cookie sous 2.0.0 (kit casse sur les exports renommés)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

fix(dataops): forcer deepdiff>=8 via override uv (corrige 2 cve)
  dataops/citation-dagster/pyproject.toml
  dataops/citation-dagster/uv.lock
  dataops/mediawatch-dagster/pyproject.toml
  dataops/mediawatch-dagster/uv.lock
Due: none

ci(deps): retirer l'exemption deepdiff (cve corrigées par override)
  .github/workflows/dependency-review.yml
Due: format

chore: retirer le mécanisme de revue quotidienne (adr 0044)
  .github/ISSUE_TEMPLATE/revue-quotidienne.md
  .github/workflows/daily-review.yml
  docs/src/content/docs/decisions/0044-revue-quotidienne-dimension.md
  docs/src/content/docs/decisions/0049-convention-test-effect.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/decisions/parcours.md
  docs/src/content/docs/quality/ci-pipeline.md
  scripts/audit/daily-target.mjs
  scripts/audit/daily-target.test.mjs
  scripts/audit/lib/debt-pool.json
Due: format

chore(config): retirer les dérogations knip devenues superflues
  knip.json
Due: format

ci: garde-fou de liaison pr-issue (closes) pour fermer les issues au merge
  .github/pull_request_template.md
  .github/workflows/pr-issue-link.yml
  docs/src/content/docs/collaboration/workflow.md
  docs/src/content/docs/quality/ci-pipeline.md
Due: format

ci: affiner pr-issue-link pour éliminer les faux positifs
  .github/workflows/pr-issue-link.yml
Due: format

docs(docs): refondre le readme (badges par famille, python, culture d'ingenierie)
  README.md
Due: format

ci(ci): cabler openssf scorecard et afficher le badge en tete
  .github/workflows/scorecard.yml
  README.md
  docs/src/content/docs/decisions/0070-page-preuves-vitrine-doctrine-badges.md
  docs/src/content/docs/decisions/0083-openssf-scorecard-cable.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/decisions/parcours.md
Due: format

ci(ci): plancher de permissions au niveau workflow dans release.yml
  .github/workflows/release.yml
Due: format

ci(ci): epingler les images de base par digest (scorecard pinned-deps)
  .github/dependabot.yml
  apps/amarre/Dockerfile
  apps/atlas-dashboard/Dockerfile
  apps/crf-dashboard/Dockerfile
  apps/ecrin/Dockerfile
  apps/find-an-expert/Dockerfile
  apps/sillage/Dockerfile
  dataops/citation-dagster/Dockerfile
  dataops/mediawatch-dagster/Dockerfile
  docs/src/content/docs/decisions/0084-pinning-images-base-par-digest.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/decisions/parcours.md
  sandbox/crf-sandbox/docker/php/Dockerfile
  services/crf/Dockerfile
Due: format

docs(docs): amender adr 0016 — retirer le bypass admin (scorecard branch-protection)
  docs/src/content/docs/decisions/0016-branch-protection-main.md
Due: format

docs(cache): liens adr en url absolue dans le readme (audit b7)
  packages/cache/README.md
Due: format

docs: adr 0083 — cache de flux, package partagé effect adossé à postgres
  docs/src/content/docs/decisions/0033-contrat-interface-cluster.md
  docs/src/content/docs/decisions/0040-caches-flux-backing-service-vs-fichier.md
  docs/src/content/docs/decisions/0083-cache-flux-postgres-package-partage.md
Due: format

fix(cache): écriture atomique sûre (nom tmp aléatoire + flag wx)
  packages/atlas-stats/src/cache.test.ts
  packages/atlas-stats/src/cache.ts
  packages/cache/src/file.ts
Due: format, lint

docs(cache): régénérer la carte des packages (ajout atlas-cache)
  docs/src/content/docs/architecture/packages.md
Due: format

feat(cache): package partagé du cache de flux (effect, fichier + postgres)
  commitlint.config.js
  packages/cache/README.md
  packages/cache/eslint.config.js
  packages/cache/package.json
  packages/cache/src/errors.ts
  packages/cache/src/file.test.ts
  packages/cache/src/file.ts
  packages/cache/src/index.ts
  packages/cache/src/postgres.integration.test.ts
  packages/cache/src/postgres.test.ts
  packages/cache/src/postgres.ts
  packages/cache/src/select.test.ts
  packages/cache/src/select.ts
  packages/cache/src/store.ts
  packages/cache/tsconfig.json
  packages/cache/tsup.config.ts
  packages/cache/vitest.config.ts
  pnpm-lock.yaml
Due: format, lint

docs: renommer l'adr cache en 0085 (collisions openssf/pinning)
  docs/src/content/docs/architecture/packages.md
  docs/src/content/docs/decisions/0033-contrat-interface-cluster.md
  docs/src/content/docs/decisions/0040-caches-flux-backing-service-vs-fichier.md
  docs/src/content/docs/decisions/0085-cache-flux-postgres-package-partage.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/decisions/parcours.md
  packages/cache/README.md
  packages/cache/package.json
Due: format

feat(cache): refreshcoordinator adossé postgres (bridage multi-instance)
  apps/atlas-dashboard/package.json
  apps/atlas-dashboard/src/lib/refresh-coordinator.test.ts
  apps/atlas-dashboard/src/lib/refresh-coordinator.ts
  apps/atlas-dashboard/src/routes/api/refresh/+server.ts
  packages/cache/src/index.ts
  packages/cache/src/postgres.integration.test.ts
  packages/cache/src/refresh.ts
  pnpm-lock.yaml
Due: format, lint

feat(cache): brancher atlas-stats et crf-logs sur le package de cache
  packages/atlas-stats/package.json
  packages/atlas-stats/src/cache.test.ts
  packages/atlas-stats/src/cache.ts
  packages/cache/src/select.test.ts
  packages/cache/src/select.ts
  packages/crf-logs/package.json
  packages/crf-logs/src/cache.test.ts
  packages/crf-logs/src/cache.ts
  pnpm-lock.yaml
Due: format, lint

fix(deps): réparer le lockfile après rebase (prettier 3.9.1 → 3.9.3)
  pnpm-lock.yaml
Due: format

fix(cache): aligner le specifier prettier sur ^3.9.3 (cohérence dépôt)
  packages/cache/package.json
  pnpm-lock.yaml
Due: format

fix(cache): écriture atomique via descripteur exclusif (lève l'alerte codeql)
  packages/atlas-stats/src/cache.test.ts
  packages/atlas-stats/src/cache.ts
  packages/cache/src/file.ts
Due: format, lint

docs(docs): tracer code-review et contributors comme conséquences du bus-factor=1
  docs/src/content/docs/decisions/0016-branch-protection-main.md
Due: format

Path conditions:
  format: any of: *.{js,ts,svelte,json,yaml,yml,md,css,html}
  lint: any of: *.{js,ts,svelte}
  svelte:check: any of: *.svelte
