Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, svelte:check

format:
  run: pnpm format:check

lint:
  run: pnpm lint

svelte:check:
  run: pnpm svelte:check

docs: adr rétrospectif du chantier socle effect (e1–e14)
  docs/src/content/docs/decisions/0051-retrospective-socle-effect.md
  docs/src/content/docs/decisions/index.md
Due: format

docs: charte rédactionnelle de la documentation (adr 0052) + garde-fou compteur adr
  docs/src/content/docs/decisions/0052-charte-redactionnelle-documentation.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/decisions/parcours.md
  scripts/audit/documentation.mjs
  scripts/audit/documentation.test.mjs
Due: format

docs: charte rédactionnelle de la documentation (ADR 0052) (#349)
  docs/src/content/docs/decisions/0052-charte-redactionnelle-documentation.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/decisions/parcours.md
  scripts/audit/documentation.mjs
  scripts/audit/documentation.test.mjs
Due: format

docs: appliquer la charte rédactionnelle à « choix techniques » (adr 0052)
  docs/src/content/docs/architecture/tech-choices.md
  docs/src/content/docs/collaboration/environnement-local.md
Due: format

docs: appliquer la charte rédactionnelle à la doc (adr 0052, #341)
  docs/src/content/docs/architecture/comprendre-le-code.md
  docs/src/content/docs/architecture/data-flow.md
  docs/src/content/docs/architecture/monorepo.mdx
  docs/src/content/docs/architecture/packages.md
  docs/src/content/docs/architecture/re-derivabilite-mart-index.md
  docs/src/content/docs/collaboration/workflow.md
  docs/src/content/docs/decisions/parcours.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/quality/ci-pipeline.md
  docs/src/content/docs/quality/code-style.md
  docs/src/content/docs/quality/documentation.mdx
  docs/src/content/docs/quality/hooks.md
  docs/src/content/docs/quality/normes.md
  docs/src/content/docs/quality/security.md
  docs/src/content/docs/quality/tableau-de-bord.mdx
  docs/src/content/docs/quality/tests.md
  scripts/docs/generate-packages-map.mjs
Due: format

docs: appliquer la charte rédactionnelle à la documentation (#341) (#350)
  docs/src/content/docs/architecture/comprendre-le-code.md
  docs/src/content/docs/architecture/data-flow.md
  docs/src/content/docs/architecture/monorepo.mdx
  docs/src/content/docs/architecture/packages.md
  docs/src/content/docs/architecture/re-derivabilite-mart-index.md
  docs/src/content/docs/architecture/tech-choices.md
  docs/src/content/docs/collaboration/environnement-local.md
  docs/src/content/docs/collaboration/workflow.md
  docs/src/content/docs/decisions/parcours.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/quality/ci-pipeline.md
  docs/src/content/docs/quality/code-style.md
  docs/src/content/docs/quality/documentation.mdx
  docs/src/content/docs/quality/hooks.md
  docs/src/content/docs/quality/normes.md
  docs/src/content/docs/quality/security.md
  docs/src/content/docs/quality/tableau-de-bord.mdx
  docs/src/content/docs/quality/tests.md
  scripts/docs/generate-packages-map.mjs
Due: format

docs: merge commit imposé sur main, abandon du squash (adr 0053)
  .gitignore
  docs/src/content/docs/collaboration/parametrage-github.md
  docs/src/content/docs/collaboration/workflow.md
  docs/src/content/docs/decisions/0016-branch-protection-main.md
  docs/src/content/docs/decisions/0053-strategie-merge-commit-main.md
  docs/src/content/docs/decisions/index.md
Due: format

docs: documenter le piège required_linear_history dans l'adr 0053
  docs/src/content/docs/decisions/0053-strategie-merge-commit-main.md
Due: format

docs: ingestion massive par snapshot s3 (adr 0054) et révision du plan pipeline
  docs/src/content/docs/decisions/0029-architecture-pipeline-collaborations.md
  docs/src/content/docs/decisions/0054-ingestion-massive-snapshot-s3.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/decisions/parcours.md
  docs/src/content/docs/plans/2026-06-02-pipeline-collaborations.md
  docs/src/content/docs/plans/index.md
Due: format

docs: acter rclone pour le sync inter-endpoints et la stratégie e2e (banc lima)
  docs/src/content/docs/decisions/0054-ingestion-massive-snapshot-s3.md
  docs/src/content/docs/plans/2026-06-02-pipeline-collaborations.md
Due: format

feat(dataops): catégorie python, op de sync rclone et enforcement qualité (adr 0055)
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  README.md
  commitlint.config.js
  dataops/README.md
  dataops/citation-dagster/.dockerignore
  dataops/citation-dagster/.python-version
  dataops/citation-dagster/Dockerfile
  dataops/citation-dagster/README.md
  dataops/citation-dagster/deploy/code-location.yaml
  dataops/citation-dagster/deploy/kustomization.yaml
  dataops/citation-dagster/deploy/objectbucketclaim.prod.yaml
  dataops/citation-dagster/deploy/s3-access.bench.yaml
  dataops/citation-dagster/deploy/workspace-patch.yaml
  dataops/citation-dagster/pyproject.toml
  dataops/citation-dagster/src/citation_dagster/__init__.py
  dataops/citation-dagster/src/citation_dagster/assets/__init__.py
  dataops/citation-dagster/src/citation_dagster/assets/raw_snapshot.py
  dataops/citation-dagster/src/citation_dagster/definitions.py
  dataops/citation-dagster/src/citation_dagster/resources.py
  dataops/citation-dagster/tests/__init__.py
  dataops/citation-dagster/tests/test_definitions.py
  dataops/citation-dagster/tests/test_raw_snapshot.py
  dataops/citation-dagster/tests/test_resources.py
  dataops/citation-dagster/uv.lock
  docs/src/content/docs/architecture/monorepo.mdx
  docs/src/content/docs/decisions/0002-monorepo-huit-categories.md
  docs/src/content/docs/decisions/0055-categorie-dataops-python.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/decisions/parcours.md
  docs/src/content/docs/plans/2026-06-02-pipeline-collaborations.md
  eslint.config.js
  knip.json
  lefthook.yml
  package.json
  scripts/dataops-check.mjs
Due: format, lint

refactor(dataops): pnpm orchestre, uv exécute (alignement cluster, scripts lint:python/test:python)
  .github/workflows/ci.yml
  docs/src/content/docs/decisions/0055-categorie-dataops-python.md
  package.json
  scripts/dataops-check.mjs
Due: format

fix(dataops): dockerfile non-root, deps allégées (pas de psycopg2/lgpl), licences python permissives
  .github/workflows/dependency-review.yml
  dataops/citation-dagster/Dockerfile
  dataops/citation-dagster/pyproject.toml
  dataops/citation-dagster/uv.lock
Due: format

feat(dataops): incrémental snapshot par updated_date + watermark + merged_ids
  dataops/citation-dagster/src/citation_dagster/assets/raw_snapshot.py
  dataops/citation-dagster/src/citation_dagster/watermark.py
  dataops/citation-dagster/tests/test_raw_snapshot.py
  dataops/citation-dagster/tests/test_watermark.py
  docs/src/content/docs/decisions/0054-ingestion-massive-snapshot-s3.md
  docs/src/content/docs/plans/2026-06-02-pipeline-collaborations.md
Due: format

fix(dataops): watermark merged_ids indépendant + validations format (revue 2.2)
  dataops/citation-dagster/src/citation_dagster/assets/raw_snapshot.py
  dataops/citation-dagster/src/citation_dagster/watermark.py
  dataops/citation-dagster/tests/test_raw_snapshot.py
  dataops/citation-dagster/tests/test_watermark.py
Due: none

docs: registre de drifts indexé et rendu (adr 0056, première salve d1–d9)
  docs/src/components/DriftRegistry.astro
  docs/src/content.config.ts
  docs/src/content/docs/audit/registre-drifts.mdx
  docs/src/content/docs/decisions/0054-ingestion-massive-snapshot-s3.md
  docs/src/content/docs/decisions/0056-registre-drifts.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/decisions/parcours.md
  docs/src/content/docs/glossary.md
  docs/src/content/drifts/registre-drifts.yaml
Due: format, lint

docs(dataops): adr reproductibilité (0057) + fixtures synthétiques openalex + minio épinglé
  dataops/citation-dagster/tests/conftest.py
  dataops/citation-dagster/tests/test_minio_fixture.py
  docs/src/content/docs/decisions/0057-reproductibilite-tests-hermetiques.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/decisions/parcours.md
  docs/src/content/docs/glossary.md
  fixtures/README.md
  fixtures/openalex-sample/GOLDEN.md
  fixtures/openalex-sample/README.md
  fixtures/openalex-sample/data/authors/updated_date=2020-01-01/part_000
  fixtures/openalex-sample/data/authors/updated_date=2020-01-01/part_000.gz
  fixtures/openalex-sample/data/works/updated_date=2020-01-01/part_000
  fixtures/openalex-sample/data/works/updated_date=2020-01-01/part_000.gz
  fixtures/openalex-sample/generate.py
  fixtures/openalex-sample/legacy-data/merged_ids/works/2022-07-15
  fixtures/openalex-sample/legacy-data/merged_ids/works/2022-07-15.gz
Due: format

feat(dataops): accès lakehouse duckdb↔s3 (dbt-duckdb) + volet preuve dans adr 0057
  .gitignore
  dataops/citation-dagster/Dockerfile
  dataops/citation-dagster/pyproject.toml
  dataops/citation-dagster/src/citation_dagster/lakehouse.py
  dataops/citation-dagster/src/citation_dagster/resources.py
  dataops/citation-dagster/tests/test_lakehouse.py
  dataops/citation-dagster/uv.lock
  dataops/citation-dbt/dbt_project.yml
  dataops/citation-dbt/macros/.gitkeep
  dataops/citation-dbt/models/.gitkeep
  dataops/citation-dbt/profiles.yml
  dataops/citation-dbt/seeds/.gitkeep
  dataops/citation-dbt/tests/.gitkeep
  docs/src/content/docs/decisions/0057-reproductibilite-tests-hermetiques.md
  docs/src/content/drifts/registre-drifts.yaml
Due: format

ci: autoriser les licences permissives des deps dbt-duckdb (review dependencies)
  .github/workflows/dependency-review.yml
Due: format

docs: plan transverse topologie des dépôts cluster & atlas (statu quo renforcé)
  docs/src/content/docs/plans/2026-06-11-topologie-depots-cluster-atlas.md
  docs/src/content/docs/plans/index.md
Due: format

feat(dataops): modèles dbt staging→curated + assets dagster-dbt (étape 3.2)
  dataops/.dockerignore
  dataops/citation-dagster/Dockerfile
  dataops/citation-dagster/README.md
  dataops/citation-dagster/src/citation_dagster/dbt.py
  dataops/citation-dagster/src/citation_dagster/definitions.py
  dataops/citation-dagster/tests/conftest.py
  dataops/citation-dagster/tests/test_dbt.py
  dataops/citation-dagster/tests/test_dbt_models.py
  dataops/citation-dbt/README.md
  dataops/citation-dbt/dbt_project.yml
  dataops/citation-dbt/macros/.gitkeep
  dataops/citation-dbt/macros/curated_location.sql
  dataops/citation-dbt/models/.gitkeep
  dataops/citation-dbt/models/curated/_curated__models.yml
  dataops/citation-dbt/models/curated/curated_authors.sql
  dataops/citation-dbt/models/curated/curated_authorships.sql
  dataops/citation-dbt/models/curated/curated_edges.sql
  dataops/citation-dbt/models/curated/curated_works.sql
  dataops/citation-dbt/models/staging/_staging__models.yml
  dataops/citation-dbt/models/staging/_staging__sources.yml
  dataops/citation-dbt/models/staging/stg_citation_authors.sql
  dataops/citation-dbt/models/staging/stg_citation_authorships.sql
  dataops/citation-dbt/models/staging/stg_citation_referenced_works.sql
  dataops/citation-dbt/models/staging/stg_citation_works.sql
  dataops/citation-dbt/tests/.gitkeep
  dataops/citation-dbt/tests/assert_curated_edges_unique_pair.sql
  docs/src/content/drifts/registre-drifts.yaml
Due: format

fix(dataops): dbt parse hermétique en ci + readme assets/déploiement (étape 3.2)
  dataops/citation-dagster/Dockerfile
  dataops/citation-dagster/README.md
  dataops/citation-dagster/src/citation_dagster/dbt.py
  docs/src/content/drifts/registre-drifts.yaml
Due: format

docs(dataops): readme — préciser le format parquet + résumé du code du dossier
  dataops/citation-dagster/README.md
  dataops/citation-dbt/README.md
Due: format

feat(dataops): feature citations croisées (modèle dbt marts_collab_pairs, étape 3.3)
  dataops/citation-dagster/README.md
  dataops/citation-dagster/tests/test_dbt_models.py
  dataops/citation-dbt/README.md
  dataops/citation-dbt/dbt_project.yml
  dataops/citation-dbt/models/marts/_marts__models.yml
  dataops/citation-dbt/models/marts/marts_collab_pairs.sql
  dataops/citation-dbt/tests/assert_collab_pairs_consistent.sql
  dataops/citation-dbt/tests/assert_collab_pairs_unique.sql
Due: format

feat(dataops): mart collab servi + manifest.json atomique (étape 3.4)
  dataops/README.md
  dataops/citation-dagster/README.md
  dataops/citation-dagster/src/citation_dagster/assets/__init__.py
  dataops/citation-dagster/src/citation_dagster/assets/manifest.py
  dataops/citation-dagster/src/citation_dagster/dbt.py
  dataops/citation-dagster/src/citation_dagster/definitions.py
  dataops/citation-dagster/tests/test_collab_manifest.py
  dataops/citation-dagster/tests/test_dbt_models.py
  dataops/citation-dbt/README.md
  dataops/citation-dbt/dbt_project.yml
  dataops/citation-dbt/macros/marts_location.sql
  dataops/citation-dbt/models/marts/marts_collab_pairs.sql
  docs/src/content/drifts/registre-drifts.yaml
Due: format

fix(dataops): auto-saut du test manifest si rclone absent de l'hôte (étape 3.4)
  dataops/citation-dagster/tests/conftest.py
  dataops/citation-dagster/tests/test_dbt_models.py
  docs/src/content/drifts/registre-drifts.yaml
Due: format

feat(dataops): qualité great expectations en asset checks bloquants (étape 3.5a)
  .github/workflows/dependency-review.yml
  dataops/citation-dagster/README.md
  dataops/citation-dagster/pyproject.toml
  dataops/citation-dagster/src/citation_dagster/assets/quality.py
  dataops/citation-dagster/src/citation_dagster/definitions.py
  dataops/citation-dagster/src/citation_dagster/ge_suites.py
  dataops/citation-dagster/tests/test_dbt_models.py
  dataops/citation-dagster/tests/test_ge_suites.py
  dataops/citation-dagster/tests/test_quality.py
  dataops/citation-dagster/uv.lock
Due: format

feat(dataops): lineage openlineage → marquez, chaîne connectée (étape 3.5b)
  dataops/citation-dagster/README.md
  dataops/citation-dagster/src/citation_dagster/dbt.py
  dataops/citation-dagster/src/citation_dagster/lineage.py
  dataops/citation-dagster/tests/test_lineage.py
Due: format

feat(citation): validateur du contrat de données (manifest, étape 3.6)
  docs/src/content/docs/architecture/packages.md
  packages/citation-types/src/index.ts
  packages/citation-types/src/manifest.test.ts
  packages/citation-types/src/manifest.ts
  packages/citation/README.md
  packages/citation/package.json
  packages/citation/src/errors.ts
  packages/citation/src/index.ts
  packages/citation/src/manifest/index.test.ts
  packages/citation/src/manifest/index.ts
  pnpm-lock.yaml
Due: format, lint

feat(citation): schéma postgres d'index pgvector (pairs/researchers, étape 4.1)
  packages/citation/README.md
  packages/citation/migrations/0001_index_schema.sql
  packages/citation/package.json
  packages/citation/src/errors.ts
  packages/citation/src/index.ts
  packages/citation/src/pg/index.test.ts
  packages/citation/src/pg/index.ts
  packages/citation/src/pg/integration.test.ts
  pnpm-lock.yaml
Due: format, lint

fix(citation): attente pg par vraie requête, pas pg_isready (étape 4.1)
  packages/citation/src/pg/integration.test.ts
Due: format, lint

docs: réconcilier la purge d'index (0.2) avec le schéma 4.1 réel
  docs/src/content/docs/architecture/re-derivabilite-mart-index.md
Due: format

feat(citation): chargement fts tsvector lexical par chercheur (étape 4.2)
  packages/citation/README.md
  packages/citation/migrations/0002_researchers_fts.sql
  packages/citation/src/index.ts
  packages/citation/src/pg/fts.test.ts
  packages/citation/src/pg/fts.ts
  packages/citation/src/pg/integration.test.ts
Due: format, lint

feat(citation): chargement des vecteurs + recherche sémantique knn (étape 4.3)
  packages/citation/README.md
  packages/citation/src/index.ts
  packages/citation/src/pg/integration.test.ts
  packages/citation/src/pg/vectors.test.ts
  packages/citation/src/pg/vectors.ts
Due: format, lint

docs: acter le report de l'asset index_load (adr 0058)
  docs/src/content/docs/decisions/0058-report-index-load.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/decisions/parcours.md
Due: format

docs: producteur researchers — adr 0059 (ancrage author_id, purge grain author_id/work_id) + plan
  docs/src/content/docs/decisions/0059-mart-researchers-author-id-grain.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/decisions/parcours.md
  docs/src/content/docs/glossary.md
  docs/src/content/docs/plans/2026-06-11-producteur-researchers.md
  docs/src/content/docs/plans/index.md
Due: format

chore(deps): relève l'override esbuild au-delà de la plage vulnérable
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

feat(dataops): researchers lot 1 — staging topics/keywords + provenance grain publication
  dataops/citation-dagster/tests/test_dbt_models.py
  dataops/citation-dbt/models/curated/_curated__models.yml
  dataops/citation-dbt/models/curated/curated_work_keywords.sql
  dataops/citation-dbt/models/curated/curated_work_topics.sql
  dataops/citation-dbt/models/staging/_staging__models.yml
  dataops/citation-dbt/models/staging/stg_citation_keywords.sql
  dataops/citation-dbt/models/staging/stg_citation_topics.sql
  fixtures/openalex-sample/GOLDEN.md
  fixtures/openalex-sample/data/works/updated_date=2020-01-01/part_000
  fixtures/openalex-sample/data/works/updated_date=2020-01-01/part_000.gz
  fixtures/openalex-sample/generate.py
Due: format

docs: acter la consignation des reconnaissances multi-agents (adr 0060)
  docs/src/content/docs/audit/index.md
  docs/src/content/docs/decisions/0060-consignation-reconnaissances-multi-agents.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/decisions/parcours.md
Due: format

Path conditions:
  format: any of: *.{js,ts,svelte,json,yaml,yml,md,css,html}
  lint: any of: *.{js,ts,svelte}
  svelte:check: any of: *.svelte
