Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, svelte:check

format:
  run: pnpm format:check

lint:
  run: pnpm lint

svelte:check:
  run: pnpm svelte:check

chore(deps): upgrade @effect/platform to v0.96, @effect/cli to v0.75 across monorepo
  packages/openalex/package.json
  pnpm-lock.yaml
  tools/cli/biblio-cli/package.json
  tools/cli/crf-cli/package.json
  tools/cli/net-cli/package.json
Due: format

chore(deps): upgrade @clack/prompts to v1, csv-parse to v6, pdfkit to v0.18
  packages/researcher-profiles/package.json
  packages/researcher-profiles/src/services/csv.ts
  pnpm-lock.yaml
  tools/cli/crf-cli/package.json
  tools/cli/crf-cli/src/shared/terminal.ts
  tools/cli/net-cli/package.json
  tools/cli/net-cli/src/index.ts
  tools/dev/redcap-openapi/package.json
  tools/dev/redcap-openapi/src/cli/index.ts
Due: format, lint

chore(deps): upgrade node-appwrite to v23, appwrite to v24
  apps/amarre/package.json
  apps/ecrin/package.json
  apps/find-an-expert/package.json
  packages/appwrite/package.json
  packages/auth/package.json
  pnpm-lock.yaml
Due: format

chore: dedupe lockfile
  pnpm-lock.yaml
Due: format

chore: add changeset for deps upgrade
  .changeset/deps-upgrade-mnfxk71s.md
Due: format

chore: ignore generated test baseline JSON files
  .gitignore
Due: none

chore: add test baselines to clean script
  package.json
Due: format

chore: approve @scarf/scarf build script
  package.json
Due: format

chore: optimize turbo task config (lint dependsOn build, disable cache for write tasks)
  turbo.json
Due: format

chore: optimize package.json config and size-limit coverage
  knip.json
  package.json
  pnpm-lock.yaml
Due: format

chore: audit and optimize config files
  .dockerignore
  .gitignore
  .prettierignore
  commitlint.config.js
  knip.json
  lefthook.yml
  package.json
  pnpm-workspace.yaml
Due: format, lint

chore(ci): optimize workflows
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: format

fix(researcher-profiles): auto-select affiliations and keep works without institution
  tools/cli/researcher-profiles/src/cli/process-row.ts
Due: format, lint

chore: clean up stale knip.json entries and ignore @xmldom/xmldom transitive dep
  knip.json
Due: format

fix(researcher-profiles): pass buffer to mammoth instead of arraybuffer
  packages/researcher-profiles/src/services/file-extractor.ts
Due: format, lint

feat(researcher-profiles): consolidate redcap storage into oa_data + oa_pdf
  packages/researcher-profiles/src/index.ts
  packages/researcher-profiles/src/services/pdf-generator.ts
  packages/researcher-profiles/src/services/redcap.ts
  packages/researcher-profiles/src/types.ts
  tools/cli/researcher-profiles/src/cli/from-redcap.ts
  tools/cli/researcher-profiles/src/cli/match-references.ts
  tools/cli/researcher-profiles/src/cli/match-row.ts
  tools/cli/researcher-profiles/src/cli/process-row.ts
  tools/cli/researcher-profiles/src/cli/run.ts
  tools/cli/researcher-profiles/src/cli/select-researchers.ts
Due: format, lint

fix(researcher-profiles): keep works with empty raw_author_name in name filter
  tools/cli/researcher-profiles/src/cli/process-row.ts
Due: format, lint

fix(researcher-profiles): add missing @xmldom/xmldom dependency for mammoth docx parsing
  packages/researcher-profiles/package.json
  pnpm-lock.yaml
Due: format

refactor(researcher-profiles): move filters to match-row, store all works in oa_references
  tools/cli/researcher-profiles/src/cli/match-row.ts
  tools/cli/researcher-profiles/src/cli/process-row.ts
Due: format, lint

Path conditions:
  format: any of: *.{js,ts,svelte,json,yaml,yml,md,css,html}
  lint: any of: *.{js,ts,svelte}
  svelte:check: any of: *.svelte
