Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, svelte:check

format:
  run: pnpm format:check

lint:
  run: pnpm lint

svelte:check:
  run: pnpm svelte:check

refactor(infra): standardize package metadata paths and app privacy
  apps/amarre/package.json
  apps/ecrin/package.json
  apps/find-an-expert/package.json
  cli/biblio-cli/package.json
  config/shared-config/package.json
  sandbox/redcap-sandbox/package.json
Due: format

refactor(infra): enforce strict workspace naming conventions
  .changeset/fair-mails-teach.md
  .changeset/large-zebras-think.md
  .github/pull_request_template.md
  apps/atlas-dashboard/package.json
  cli/biblio/CHANGELOG.md
  cli/biblio/eslint.config.js
  cli/biblio/package.json
  cli/biblio/src/index.ts
  cli/biblio/tsconfig.json
  cli/crf/CHANGELOG.md
  cli/crf/eslint.config.js
  cli/crf/package.json
  cli/crf/prettier.config.js
  cli/crf/src/bin/crf-redcap.ts
  cli/crf/src/bin/crf-server.ts
  cli/crf/src/redcap/commands.ts
  cli/crf/src/redcap/index.ts
  cli/crf/src/server/index.ts
  cli/crf/src/shared/context.ts
  cli/crf/src/shared/index.ts
  cli/crf/src/shared/terminal.ts
  cli/crf/tsconfig.json
  cli/net/CHANGELOG.md
  cli/net/eslint.config.js
  cli/net/package.json
  cli/net/prettier.config.js
  cli/net/src/bin/atlas-net.ts
  cli/net/src/index.ts
  cli/net/tsconfig.json
  docs/guide/developers/index.md
  docs/guide/developers/workspace-conventions.md
  knip.json
  package.json
  pnpm-lock.yaml
  scripts/audit-structure.mjs
Due: format, lint

refactor(infra): reorganize scripts directory by domain
  package.json
  scripts/README.md
  scripts/audit/workspace-structure.mjs
  scripts/docs/generate-api-sidebar.ts
  scripts/docs/generate-repo-stats.ts
  scripts/docs/lib/code-analyzer.ts
  scripts/docs/lib/git-analyzer.ts
  scripts/docs/lib/types.ts
  scripts/release/publish-packages.sh
Due: format, lint

feat(atlas-stats): extract CLI domain logic into shared package
  .changeset/rare-buses-smoke.md
  .gitignore
  cli/atlas-stats/package.json
  cli/atlas-stats/src/index.ts
  packages/atlas-stats/src/cli.ts
  packages/atlas-stats/src/index.ts
  packages/atlas-stats/src/npm.ts
  packages/atlas-stats/src/types.ts
  turbo.json
Due: format, lint

chore(infra): remove insecure default tls override from atlas-stats-cli start script
  cli/atlas-stats/package.json
Due: format

feat: improve redcap logs diagnostics and dashboard updates
  apps/redcap-dashboard/src/routes/+page.svelte
  apps/redcap-dashboard/src/routes/actualisation/+page.svelte
  apps/redcap-dashboard/src/routes/api/logs/+server.ts
  package.json
  packages/redcap-logs/src/index.ts
  packages/redcap-logs/src/net-diagnostics.ts
Due: format, lint, svelte:check

chore: add changeset for redcap logs diagnostics
  .changeset/sharp-glasses-cheer.md
Due: format

fix(ci): repair docs workflow triggers and env setup
  .github/workflows/docs.yml
Due: format

fix(docs): resolve logo paths in redcap-openapi api docs
  cli/redcap-openapi/README.md
Due: format

fix(docs): ensure openapi public dir exists before vitepress build
  package.json
Due: format

fix(ci): harden workflows and reduce redundant builds
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: format

fix(ci): create svelte env files before install
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: format

fix(docs): repair openapi symlink and docs build command
  docs/public/openapi
  package.json
Due: format

fix(ci): restore pat token for release pr automation
  .github/workflows/release.yml
Due: format

chore: version packages (#102)
  .changeset/fair-mails-teach.md
  .changeset/large-zebras-think.md
  .changeset/rare-buses-smoke.md
  .changeset/real-cheetahs-tease.md
  .changeset/sharp-glasses-cheer.md
  apps/atlas-dashboard/CHANGELOG.md
  apps/atlas-dashboard/package.json
  apps/redcap-dashboard/CHANGELOG.md
  apps/redcap-dashboard/package.json
  cli/atlas-stats/CHANGELOG.md
  cli/atlas-stats/package.json
  cli/biblio/CHANGELOG.md
  cli/biblio/package.json
  cli/crf/CHANGELOG.md
  cli/crf/package.json
  cli/net/CHANGELOG.md
  cli/net/package.json
  cli/redcap-openapi/CHANGELOG.md
  cli/redcap-openapi/package.json
  cli/redcap-stats/CHANGELOG.md
  cli/redcap-stats/package.json
  packages/atlas-stats/CHANGELOG.md
  packages/atlas-stats/package.json
  packages/redcap-logs/CHANGELOG.md
  packages/redcap-logs/package.json
Due: format

chore(deps): update patch dependencies
  apps/amarre/package.json
  apps/atlas-dashboard/package.json
  apps/ecrin/package.json
  apps/find-an-expert/package.json
  apps/redcap-dashboard/package.json
  cli/atlas-stats/package.json
  cli/biblio/package.json
  cli/crf/package.json
  cli/net/package.json
  cli/redcap-openapi/package.json
  cli/redcap-stats/package.json
  cli/researcher-profiles/package.json
  config/shared-config/package.json
  package.json
  packages/appwrite/package.json
  packages/atlas-stats/package.json
  packages/auth/package.json
  packages/errors/package.json
  packages/fetch-one-api-page/package.json
  packages/fetch-openalex/package.json
  packages/net/package.json
  packages/openalex-types/package.json
  packages/openalex/package.json
  packages/redcap-client/package.json
  packages/redcap-core/package.json
  packages/redcap-logs/package.json
  packages/researcher-profiles/package.json
  packages/validate-openalex/package.json
  packages/validators/package.json
  pnpm-lock.yaml
  sandbox/redcap-sandbox/package.json
  services/crf/package.json
Due: format

chore(deps): align @effect peer dependencies
  cli/biblio/package.json
  cli/crf/package.json
  cli/net/package.json
  packages/fetch-one-api-page/package.json
  packages/fetch-openalex/package.json
  packages/openalex/package.json
  packages/researcher-profiles/package.json
  packages/validate-openalex/package.json
  pnpm-lock.yaml
Due: format

chore(deps): remove unused @effect deps for knip
  cli/biblio/package.json
  cli/crf/package.json
  cli/net/package.json
  packages/openalex/package.json
  pnpm-lock.yaml
Due: format

chore(deps): update minor dependencies
  apps/amarre/package.json
  apps/atlas-dashboard/package.json
  apps/ecrin/package.json
  apps/find-an-expert/package.json
  apps/redcap-dashboard/package.json
  cli/atlas-stats/package.json
  cli/biblio/package.json
  cli/crf/package.json
  cli/net/package.json
  cli/redcap-openapi/package.json
  cli/redcap-stats/package.json
  cli/researcher-profiles/package.json
  config/shared-config/package.json
  package.json
  packages/appwrite/package.json
  packages/atlas-stats/package.json
  packages/auth/package.json
  packages/errors/package.json
  packages/fetch-one-api-page/package.json
  packages/fetch-openalex/package.json
  packages/net/package.json
  packages/openalex-types/package.json
  packages/openalex/package.json
  packages/redcap-client/package.json
  packages/redcap-core/package.json
  packages/redcap-logs/package.json
  packages/researcher-profiles/package.json
  packages/validate-openalex/package.json
  packages/validators/package.json
  pnpm-lock.yaml
  sandbox/redcap-sandbox/package.json
  services/crf/package.json
Due: format

chore(audit): replace license-checker and align deps
  cli/atlas-stats/package.json
  package.json
  packages/validate-openalex/package.json
  pnpm-lock.yaml
  scripts/audit/licenses.mjs
Due: format

chore(changeset): add release note for dependency alignment
  .changeset/khaki-flowers-check.md
Due: format

fix(ci): restore ci checks stability after deps updates
  apps/find-an-expert/src/routes/+page.server.ts
  cli/atlas-stats/src/index.ts
  config/shared-config/eslint/svelte-relaxed.js
  config/shared-config/eslint/svelte.js
  package.json
  pnpm-lock.yaml
Due: format, lint

fix(audit): allow fsevents unknown license in ci
  scripts/audit/licenses.mjs
Due: none

fix(researcher-profiles): validate csv inputs
  .changeset/stable-researcher-profiles-inputs.md
  packages/researcher-profiles/src/services/csv.test.ts
  packages/researcher-profiles/src/services/csv.ts
  packages/researcher-profiles/src/utils.test.ts
  packages/researcher-profiles/src/utils.ts
Due: format, lint

fix(ci): resolve high dependency advisories
  .changeset/clean-ci-audit-deps.md
  knip.json
  package.json
  packages/researcher-profiles/package.json
  pnpm-lock.yaml
Due: format

chore: version packages (#107)
  .changeset/clean-ci-audit-deps.md
  cli/researcher-profiles/CHANGELOG.md
  cli/researcher-profiles/package.json
  packages/researcher-profiles/CHANGELOG.md
  packages/researcher-profiles/package.json
Due: format

chore: version packages (#108)
  .changeset/stable-researcher-profiles-inputs.md
  cli/researcher-profiles/CHANGELOG.md
  cli/researcher-profiles/package.json
  packages/researcher-profiles/CHANGELOG.md
  packages/researcher-profiles/package.json
Due: format

ci: update pnpm action to node24
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: format

chore: mise à jour des dépendances minor/patch (avril 2026)
  .changeset/update-dependencies-april-2026.md
  apps/amarre/package.json
  apps/amarre/src/lib/types/api/surveys.ts
  apps/atlas-dashboard/package.json
  apps/ecrin/package.json
  apps/find-an-expert/package.json
  apps/find-an-expert/src/lib/server/consent/types.ts
  apps/find-an-expert/src/lib/server/git-stats/types.ts
  apps/find-an-expert/src/lib/server/github/types.ts
  apps/redcap-dashboard/package.json
  cli/atlas-stats/package.json
  cli/biblio/package.json
  cli/crf/package.json
  cli/net/package.json
  cli/redcap-openapi/package.json
  cli/redcap-stats/package.json
  cli/researcher-profiles/package.json
  config/shared-config/package.json
  package.json
  packages/appwrite/package.json
  packages/atlas-stats/package.json
  packages/auth/package.json
  packages/errors/package.json
  packages/fetch-one-api-page/package.json
  packages/fetch-openalex/package.json
  packages/net/package.json
  packages/openalex-types/package.json
  packages/openalex/package.json
  packages/redcap-client/package.json
  packages/redcap-core/package.json
  packages/redcap-logs/package.json
  packages/researcher-profiles/package.json
  packages/researcher-profiles/src/services/file-extractor.ts
  packages/researcher-profiles/src/services/reference-matcher.ts
  packages/validate-openalex/package.json
  packages/validators/package.json
  pnpm-lock.yaml
  sandbox/redcap-sandbox/package.json
  services/crf/package.json
  services/crf/src/server/effect-handler.ts
Due: format, lint

refactor: code quality - duplication, coverage, arch, contributing
  CONTRIBUTING.md
  apps/find-an-expert/src/lib/server/consent/consent.test.ts
  apps/find-an-expert/src/lib/server/user/user.test.ts
  apps/find-an-expert/vite.config.ts
  cli/openalex/eslint.config.js
  cli/openalex/package.json
  cli/openalex/src/config.ts
  cli/openalex/src/index.ts
  cli/openalex/src/prompt.ts
  cli/openalex/tsconfig.json
  knip.json
  package.json
  packages/openalex/src/config.ts
  packages/openalex/src/fetch/fetch-openalex.ts
  packages/openalex/src/index.ts
  pnpm-lock.yaml
  services/crf/src/server/app.ts
  services/crf/src/server/routes/project.ts
Due: format, lint

fix(openalex): clean up knip issues after cli extraction
  cli/openalex/src/prompt.ts
  knip.json
  packages/openalex/package.json
  packages/openalex/src/fetch/index.ts
  packages/openalex/src/index.ts
  pnpm-lock.yaml
Due: format, lint

chore: add changeset for code quality session
  .changeset/openalex-cli-extraction.md
Due: format

chore: add changeset to bump all 0.x packages to v1.0.0
  .changeset/bump-to-v1.md
Due: format

chore: publish workspace apps
  apps/amarre/package.json
  apps/atlas-dashboard/package.json
  apps/ecrin/package.json
  apps/find-an-expert/package.json
  apps/redcap-dashboard/package.json
  package.json
Due: format

Path conditions:
  format: any of: *.{js,ts,svelte,json,yaml,yml,md,css,html}
  lint: any of: *.{js,ts,svelte}
  svelte:check: any of: *.svelte
