Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, svelte:check

format:
  run: pnpm format:check

lint:
  run: pnpm lint

svelte:check:
  run: pnpm svelte:check

feat(dataops): researchers lot 2 — mart lexical pondéré par author_id
  dataops/citation-dagster/tests/test_dbt_models.py
  dataops/citation-dbt/dbt_project.yml
  dataops/citation-dbt/models/marts/_marts__models.yml
  dataops/citation-dbt/models/marts/marts_researchers.sql
  dataops/citation-dbt/tests/assert_researchers_labels_provenance.sql
  dataops/citation-dbt/tests/assert_researchers_unique.sql
  fixtures/openalex-sample/GOLDEN.md
Due: format

ci: accélérer le pipeline (composite setup, parallélisation, cache)
  .github/actions/setup-workspace/action.yml
  .github/workflows/ci.yml
Due: format

ci: valider les workflows avec actionlint + corriger la dette détectée
  .github/workflows/ci.yml
  .github/workflows/daily-review.yml
  .github/workflows/images.yml
Due: format

docs: acter l'accélération de la ci (adr 0061)
  docs/src/content/docs/decisions/0061-ci-acceleration-cache-parallelisation.md
Due: format

docs: référencer l'ADR 0061 dans l'index et le parcours
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/decisions/parcours.md
Due: format

ci: invoquer actionlint en direct au lieu de reviewdog (reporter local cassé)
  .github/workflows/ci.yml
Due: format

feat(dataops): researchers lot 3 — embeddings sémantiques par chercheur
  .gitignore
  dataops/citation-dagster/Dockerfile
  dataops/citation-dagster/pyproject.toml
  dataops/citation-dagster/scripts/fetch_model.py
  dataops/citation-dagster/src/citation_dagster/assets/__init__.py
  dataops/citation-dagster/src/citation_dagster/assets/researcher_embeddings.py
  dataops/citation-dagster/src/citation_dagster/definitions.py
  dataops/citation-dagster/src/citation_dagster/embedding.py
  dataops/citation-dagster/tests/conftest.py
  dataops/citation-dagster/tests/test_researcher_embeddings.py
  dataops/citation-dagster/uv.lock
  fixtures/openalex-sample/GOLDEN.md
Due: format

feat(dataops): researchers lot 4 — contrat, qualité et lineage des marts
  dataops/citation-dagster/src/citation_dagster/assets/__init__.py
  dataops/citation-dagster/src/citation_dagster/assets/manifest.py
  dataops/citation-dagster/src/citation_dagster/assets/quality.py
  dataops/citation-dagster/src/citation_dagster/assets/researcher_embeddings.py
  dataops/citation-dagster/src/citation_dagster/definitions.py
  dataops/citation-dagster/src/citation_dagster/ge_suites.py
  dataops/citation-dagster/src/citation_dagster/lineage.py
  dataops/citation-dagster/tests/test_collab_manifest.py
  dataops/citation-dagster/tests/test_dbt_models.py
  dataops/citation-dagster/tests/test_quality.py
  dataops/citation-dagster/tests/test_researcher_embeddings.py
Due: none

ci(dataops): télécharger le modèle d'embedding avant les tests
  .github/workflows/ci.yml
  dataops/citation-dagster/tests/conftest.py
Due: format

test(dataops): couvrir le corps de l'asset researcher_embeddings hors docker
  dataops/citation-dagster/tests/test_researcher_embeddings.py
Due: none

feat(dataops): researchers lot 5 — purge chirurgicale d'opposition (author_id, work_id)
  dataops/citation-dagster/src/citation_dagster/assets/researcher_embeddings.py
  dataops/citation-dagster/src/citation_dagster/dbt.py
  dataops/citation-dagster/tests/test_dbt.py
  dataops/citation-dagster/tests/test_dbt_models.py
  dataops/citation-dagster/tests/test_lakehouse.py
  dataops/citation-dagster/tests/test_researcher_embeddings.py
  dataops/citation-dbt/dbt_project.yml
  dataops/citation-dbt/macros/opposition_pairs_cte.sql
  dataops/citation-dbt/models/marts/marts_researchers.sql
  fixtures/openalex-sample/GOLDEN.md
  fixtures/openalex-sample/data/authors/updated_date=2020-01-01/part_000
  fixtures/openalex-sample/data/authors/updated_date=2020-01-01/part_000.gz
  fixtures/openalex-sample/data/works/updated_date=2020-01-01/part_000
  fixtures/openalex-sample/data/works/updated_date=2020-01-01/part_000.gz
  fixtures/openalex-sample/generate.py
Due: format

test(ecrin): mocker @sentry/sveltekit dans les tests hooks.server (flaky ci)
  apps/amarre/tests/hooks.server.test.ts
  apps/ecrin/src/hooks.server.test.ts
  apps/find-an-expert/src/hooks.server.test.ts
Due: format, lint

feat(dataops): index_load — chargement de l'index researchers (lexical + sémantique)
  dataops/citation-dagster/Dockerfile
  dataops/citation-dagster/src/citation_dagster/assets/__init__.py
  dataops/citation-dagster/src/citation_dagster/assets/index_load.py
  dataops/citation-dagster/src/citation_dagster/assets/manifest.py
  dataops/citation-dagster/src/citation_dagster/assets/quality.py
  dataops/citation-dagster/src/citation_dagster/definitions.py
  dataops/citation-dagster/src/citation_dagster/lakehouse.py
  dataops/citation-dagster/src/citation_dagster/lineage.py
  dataops/citation-dagster/src/citation_dagster/manifest_read.py
  dataops/citation-dagster/src/citation_dagster/resources.py
  dataops/citation-dagster/tests/conftest.py
  dataops/citation-dagster/tests/test_index_load.py
  dataops/citation-dbt/models/marts/_marts__models.yml
  dataops/citation-dbt/models/marts/marts_researchers_fts.sql
Due: format

ci: ne pas pousser le tag local :smoke vers le registre (échec ghcr images sur main)
  .github/workflows/images.yml
Due: format

refactor: split atlas-stats functions under 60 lines for eslint 10
  packages/atlas-stats/src/cli.ts
Due: format, lint

refactor: split citation-fetch institution stats under 60 lines for eslint 10
  packages/citation-fetch/src/works.ts
Due: format, lint

docs(docs): ajouter l'adr 0062 (mlops niveau 1→2) et amender le contrat 0033
  docs/src/content/docs/decisions/0033-contrat-interface-cluster.md
  docs/src/content/docs/decisions/0062-mlops-niveau-2-tracking-drift-ct.md
  docs/src/content/docs/decisions/parcours.md
Due: format

docs(docs): corriger les slugs d'ADR invalides dans le rapport d'audit
  docs/src/content/docs/audit/2026-06-15-maturite-referentiels.md
Due: format

docs(docs): ajouter l'audit de maturité 2026-06-15 (4 référentiels)
  docs/src/content/docs/audit/2026-06-15-maturite-referentiels.md
  docs/src/content/docs/audit/index.md
Due: format

docs(docs): ajouter un fichier de conventions agent (claude.md)
  .gitignore
  CLAUDE.md
Due: format

feat(dataops): détection de drift et entraînement continu (mlops 1→2)
  dataops/citation-dagster/pyproject.toml
  dataops/citation-dagster/src/citation_dagster/assets/drift.py
  dataops/citation-dagster/src/citation_dagster/definitions.py
  dataops/citation-dagster/tests/test_drift.py
  dataops/citation-dagster/uv.lock
Due: none

chore(deps): overrides scopés pour 4 cve de deps transitives
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

ci(ci): exempter les 2 advisories deepdiff de la dependency-review
  .github/workflows/dependency-review.yml
Due: format

ci(ci): exempter aussi l'advisory nltk de la dependency-review
  .github/workflows/dependency-review.yml
Due: format

ci(ci): exempter les licences mal détectées de la stack drift
  .github/workflows/dependency-review.yml
Due: format

feat(dataops): câbler mlflow + assembler le profil prod de la code-location
  .github/workflows/ci.yml
  dataops/citation-dagster/deploy/application.example.yaml
  dataops/citation-dagster/deploy/base/code-location.yaml
  dataops/citation-dagster/deploy/base/kustomization.yaml
  dataops/citation-dagster/deploy/base/workspace-patch.yaml
  dataops/citation-dagster/deploy/kustomization.yaml
  dataops/citation-dagster/deploy/objectbucketclaim.prod.yaml
  dataops/citation-dagster/deploy/overlays/bench/kustomization.yaml
  dataops/citation-dagster/deploy/overlays/bench/patch-s3-envfrom.yaml
  dataops/citation-dagster/deploy/overlays/bench/s3-access.yaml
  dataops/citation-dagster/deploy/overlays/prod/kustomization.yaml
  dataops/citation-dagster/deploy/overlays/prod/objectbucketclaim.yaml
  dataops/citation-dagster/deploy/overlays/prod/patch-s3-envfrom.yaml
  dataops/citation-dagster/deploy/validate.sh
  docs/src/content/docs/plans/2026-06-11-topologie-depots-cluster-atlas.md
  package.json
Due: format

fix(dataops): projeter les colonnes du check raw au lieu de tout lire
  dataops/citation-dagster/src/citation_dagster/assets/quality.py
Due: none

fix(dataops): injecter lineage + mlflow dans les pods de run (piège adr 0086)
  dataops/citation-dagster/src/citation_dagster/definitions.py
  dataops/citation-dagster/tests/test_definitions.py
Due: none

fix(dataops): embarquer dagster-postgres + dagster-k8s dans l'image code-location
  dataops/citation-dagster/pyproject.toml
  dataops/citation-dagster/uv.lock
Due: none

fix(deps): relever l'override undici à >=7.28.0 (advisories tls/ws/routing)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

fix(dataops): écarter la paire à clé nulle de marts_collab_pairs
  dataops/citation-dbt/models/marts/marts_collab_pairs.sql
Due: none

feat(dataops): versionner la migration du schéma d'index researchers
  dataops/citation-dagster/deploy/migrations/0001_researchers_index.sql
  dataops/citation-dagster/deploy/migrations/README.md
Due: format

fix(dataops): écarter la ligne fantôme du mart collab vide dans le check ge
  dataops/citation-dagster/src/citation_dagster/assets/quality.py
  dataops/citation-dbt/models/marts/marts_collab_pairs.sql
Due: none

fix(dataops): ne pas compter la ligne fantôme du mart vide dans le manifest
  dataops/citation-dagster/src/citation_dagster/assets/manifest.py
  dataops/citation-dagster/tests/test_collab_manifest.py
Due: none

docs(docs): consigner les drifts e2e openalex d17–d22 au registre
  docs/src/content/drifts/registre-drifts.yaml
Due: format

style(dataops): condenser la requête sql de _count_rows (ruff format)
  dataops/citation-dagster/src/citation_dagster/assets/manifest.py
Due: none

feat(dataops): échantillon cohérent par construction sur les petits bancs
  dataops/citation-dagster/src/citation_dagster/assets/raw_snapshot.py
  dataops/citation-dagster/tests/test_raw_snapshot.py
  docs/src/content/docs/decisions/0063-echantillon-coherent-banc.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/drifts/registre-drifts.yaml
Due: format

ci(ci): exempter les licences des deps du run worker dagster (psycopg2, aio*)
  .github/workflows/dependency-review.yml
Due: format

ci(ci): suivre dataops via dependabot pip groupé, ignorer la stack verrouillée
  .github/dependabot.yml
Due: format

Path conditions:
  format: any of: *.{js,ts,svelte,json,yaml,yml,md,css,html}
  lint: any of: *.{js,ts,svelte}
  svelte:check: any of: *.svelte
