Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm format
  stage_fixed: true

lint:
  run: pnpm lint:fix
  stage_fixed: true

chore(ecrin): rename package to @univ-lehavre/atlas-ecrin
  packages/ecrin/package.json
Due: format

refactor(deps): restructure redcap module with unified cli
  CLAUDE.md
  packages/redcap/analyzer/compare-spec.ts
  packages/redcap/analyzer/extract-api.ts
  packages/redcap/eslint.config.js
  packages/redcap/package.json
  packages/redcap/src/cli/index.ts
  packages/redcap/src/comparator/index.ts
  packages/redcap/src/extractor/generator.ts
  packages/redcap/src/extractor/index.ts
  packages/redcap/src/extractor/parsers.ts
  packages/redcap/src/extractor/types.ts
  packages/redcap/src/index.ts
  packages/redcap/src/server/index.ts
  packages/redcap/tsconfig.json
  pnpm-lock.yaml
  typedoc.json
Due: format, lint

refactor(config): rename redcap-source to upstream
  CLAUDE.md
  knip.json
  packages/redcap/.gitignore
  packages/redcap/.prettierignore
  packages/redcap/README.md
  packages/redcap/docker-compose.yaml
  packages/redcap/docker/README.md
  packages/redcap/docker/database.php
  packages/redcap/docker/docker-compose.yml
  packages/redcap/eslint.config.js
  packages/redcap/src/cli/index.ts
  packages/redcap/src/extractor/index.ts
  packages/redcap/tsconfig.json
  packages/redcap/upstream/.gitignore
  packages/redcap/upstream/README.md
Due: format, lint

refactor(config): move docker, scripts, tests into dev/
  CLAUDE.md
  knip.json
  packages/redcap/.gitignore
  packages/redcap/.prettierignore
  packages/redcap/README.md
  packages/redcap/dev/README.md
  packages/redcap/dev/docker-compose.yaml
  packages/redcap/dev/docker/README.md
  packages/redcap/dev/docker/config/database.php
  packages/redcap/dev/docker/config/init.sql
  packages/redcap/dev/docker/config/php.ini
  packages/redcap/dev/docker/database.php
  packages/redcap/dev/docker/docker-compose.yml
  packages/redcap/dev/docker/init.sql
  packages/redcap/dev/docker/php.ini
  packages/redcap/dev/docker/php/Dockerfile
  packages/redcap/dev/scripts/install-redcap.sh
  packages/redcap/dev/scripts/test-contract.sh
  packages/redcap/dev/scripts/test-security.sh
  packages/redcap/dev/tests/api-smoke.ts
  packages/redcap/dev/tests/contract/api-contract.test.ts
  packages/redcap/dev/tests/fixtures/projects.json
  packages/redcap/dev/tests/fixtures/setup-test-projects.ts
  packages/redcap/eslint.config.js
  packages/redcap/package.json
  packages/redcap/vitest.config.ts
Due: format, lint

refactor(redcap): rename dev to sandbox and move upstream inside
  packages/redcap/.gitignore
  packages/redcap/.prettierignore
  packages/redcap/README.md
  packages/redcap/eslint.config.js
  packages/redcap/package.json
  packages/redcap/sandbox/README.md
  packages/redcap/sandbox/docker-compose.yaml
  packages/redcap/sandbox/docker/README.md
  packages/redcap/sandbox/docker/config/database.php
  packages/redcap/sandbox/docker/config/init.sql
  packages/redcap/sandbox/docker/config/php.ini
  packages/redcap/sandbox/docker/database.php
  packages/redcap/sandbox/docker/docker-compose.yml
  packages/redcap/sandbox/docker/init.sql
  packages/redcap/sandbox/docker/php.ini
  packages/redcap/sandbox/docker/php/Dockerfile
  packages/redcap/sandbox/scripts/install-redcap.sh
  packages/redcap/sandbox/scripts/test-contract.sh
  packages/redcap/sandbox/scripts/test-security.sh
  packages/redcap/sandbox/tests/api-smoke.ts
  packages/redcap/sandbox/tests/contract/api-contract.test.ts
  packages/redcap/sandbox/tests/fixtures/projects.json
  packages/redcap/sandbox/tests/fixtures/setup-test-projects.ts
  packages/redcap/sandbox/upstream/.gitignore
  packages/redcap/sandbox/upstream/README.md
  packages/redcap/src/cli/index.ts
  packages/redcap/vitest.config.ts
Due: format, lint

chore(config): update knip.json for sandbox/tests path
  knip.json
Due: format

Add files via upload
  ECRIN_BW.png
  ECRIN_Color.png
Due: none

Rename ECRIN_BW.png to logo_ECRIN_BW.png
  logo_ECRIN_BW.png
Due: none

Rename ECRIN_Color.png to logo_ECRIN_Color.png
  logo_ECRIN_Color.png
Due: none

refactor(redcap-openapi): extract pure functional core module
  .changeset/redcap-split-packages.md
  packages/redcap-openapi/eslint.config.js
  packages/redcap-openapi/package.json
  packages/redcap-openapi/src/core/comparator.ts
  packages/redcap-openapi/src/core/generator.ts
  packages/redcap-openapi/src/core/index.ts
  packages/redcap-openapi/src/core/parsers/action-files.ts
  packages/redcap-openapi/src/core/parsers/curl-examples.ts
  packages/redcap-openapi/src/core/parsers/help-php.ts
  packages/redcap-openapi/src/core/parsers/index-php.ts
  packages/redcap-openapi/src/core/parsers/index.ts
  packages/redcap-openapi/src/core/parsers/schemas.ts
  packages/redcap-openapi/src/core/types.ts
Due: format, lint

refactor(config): rename typescript-config to shared-config
  .changeset/config.json
  knip.json
  package.json
  packages/crf/eslint.config.js
  packages/crf/package.json
  packages/crf/tsconfig.json
  packages/ecrin/eslint.config.js
  packages/ecrin/package.json
  packages/net/eslint.config.js
  packages/net/package.json
  packages/net/tsconfig.json
  packages/redcap/eslint.config.js
  packages/redcap/package.json
  packages/redcap/tsconfig.json
  packages/shared-config/LICENSE
  packages/shared-config/README.md
  packages/shared-config/base.json
  packages/shared-config/eslint/base.js
  packages/shared-config/eslint/index.js
  packages/shared-config/eslint/scripts.js
  packages/shared-config/eslint/svelte.js
  packages/shared-config/eslint/typescript.js
  packages/shared-config/node.json
  packages/shared-config/package.json
  packages/shared-config/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.json
Due: format, lint

docs(shared-config): document eslint presets differences
  packages/shared-config/README.md
Due: format

refactor(config): centralize prettier configs in shared-config
  knip.json
  packages/crf/.prettierrc
  packages/crf/prettier.config.js
  packages/ecrin/.prettierrc
  packages/ecrin/prettier.config.js
  packages/net/.prettierrc
  packages/net/prettier.config.js
  packages/redcap/.prettierrc
  packages/redcap/prettier.config.js
  packages/shared-config/README.md
  packages/shared-config/package.json
  packages/shared-config/prettier/base.js
  packages/shared-config/prettier/index.js
  packages/shared-config/prettier/svelte.js
Due: format, lint

refactor(config): centralize eslint configs in typescript-config
  knip.json
  packages/crf/eslint.config.js
  packages/crf/package.json
  packages/ecrin/.prettierrc
  packages/ecrin/eslint.config.js
  packages/ecrin/package.json
  packages/net/eslint.config.js
  packages/net/package.json
  packages/redcap/eslint.config.js
  packages/redcap/package.json
  packages/typescript-config/eslint/base.js
  packages/typescript-config/eslint/index.js
  packages/typescript-config/eslint/scripts.js
  packages/typescript-config/eslint/svelte.js
  packages/typescript-config/eslint/typescript.js
  packages/typescript-config/package.json
  pnpm-lock.yaml
Due: format, lint

docs(shared-config): add eslint presets comparison table
  packages/shared-config/README.md
Due: format

refactor(crf): integrate redcap-core as dependency
  .changeset/crf-redcap-core-integration.md
  packages/crf/package.json
  packages/crf/src/index.ts
  packages/crf/src/redcap/adapters/index.ts
  packages/crf/src/redcap/brands.test.ts
  packages/crf/src/redcap/brands.ts
  packages/crf/src/redcap/client.ts
  packages/crf/src/redcap/errors.test.ts
  packages/crf/src/redcap/errors.ts
  packages/crf/src/redcap/index.ts
  packages/crf/src/redcap/version.test.ts
  packages/crf/src/redcap/version.ts
  packages/crf/src/server/effect-handler.test.ts
  packages/crf/src/server/effect-handler.ts
  packages/crf/src/server/routes/records.ts
  packages/crf/src/server/routes/users.ts
  packages/redcap-core/src/adapters/adapters.test.ts
  packages/redcap-core/src/brands/instrument.test.ts
  packages/redcap-core/src/brands/primitives.test.ts
  packages/redcap-core/src/brands/record.test.ts
  packages/redcap-core/src/brands/token.test.ts
  packages/redcap-core/src/brands/token.ts
  packages/redcap-core/src/brands/user.test.ts
  packages/redcap-core/src/errors/api.test.ts
  packages/redcap-core/src/errors/http.test.ts
  packages/redcap-core/src/errors/http.ts
  packages/redcap-core/src/errors/network.test.ts
  packages/redcap-core/src/errors/version.test.ts
  packages/redcap-core/src/index.ts
  packages/redcap-core/src/params/params.test.ts
  packages/redcap-core/src/utils/string.test.ts
  packages/redcap-core/src/utils/token.test.ts
  packages/redcap-core/src/validation/validation.test.ts
  packages/redcap-core/src/version/compare.test.ts
  packages/redcap-core/src/version/compare.ts
  packages/redcap-core/src/version/parse.test.ts
  packages/redcap-core/src/version/parse.ts
  pnpm-lock.yaml
Due: format, lint

test(redcap-core): add content-types module tests
  packages/redcap-core/src/content-types/content-types.test.ts
Due: format, lint

Path conditions:
  format: any of: *.{js,ts,svelte,json,yaml,yml,md,css,html}
  lint: any of: *.{js,ts,svelte}
