Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, svelte:check

format:
  run: pnpm format:check

lint:
  run: pnpm lint

svelte:check:
  run: pnpm svelte:check

chore: fix ci:audit, lint errors and add clean/check:ci scripts
  docs/projects/atlas/dependencies-audit.md
  docs/projects/atlas/index.md
  package.json
  packages/crf/package.json
  packages/crf/src/server/routes/records.ts
  packages/find-an-expert/package.json
  pnpm-lock.yaml
Due: format, lint

chore: add changeset for biblio/openalex migration and crf patch
  .changeset/biblio-openalex-migration.md
Due: format

feat: centralize openalex client with api_key auth and rate-limit headers
  packages/fetch-one-api-page/src/index.spec.ts
  packages/fetch-one-api-page/src/index.ts
  packages/fetch-openalex/src/api.ts
  packages/fetch-openalex/src/authors.ts
  packages/fetch-openalex/src/helpers.ts
  packages/fetch-openalex/src/index.ts
  packages/fetch-openalex/src/institutions.ts
  packages/fetch-openalex/src/works.ts
  packages/find-an-expert/.env.example
  packages/find-an-expert/package.json
  packages/find-an-expert/src/lib/server/consent/index.ts
  packages/find-an-expert/src/lib/server/consent/service.ts
  packages/find-an-expert/src/lib/server/openalex/errors.ts
  packages/find-an-expert/src/lib/server/openalex/index.ts
  packages/find-an-expert/src/lib/server/openalex/openalex.test.ts
  packages/find-an-expert/src/lib/server/openalex/service.ts
  packages/find-an-expert/src/lib/server/openalex/types.ts
  packages/find-an-expert/src/lib/server/openalex/works.test.ts
  packages/find-an-expert/src/lib/server/openalex/works.ts
  packages/find-an-expert/src/routes/api/v1/institutions/[id]/stats/+server.ts
  packages/find-an-expert/src/routes/api/v1/institutions/stats/+server.ts
  packages/find-an-expert/src/routes/api/v1/works/counts/+server.ts
  packages/find-an-expert/vite.config.ts
  packages/openalex-types/src/api-parameters.ts
  packages/openalex-types/src/api-results.ts
  packages/openalex-types/src/index.ts
  packages/openalex/package.json
  packages/openalex/src/config.ts
  packages/openalex/src/fetch/fetch-openalex.ts
  packages/openalex/src/fetch/fetch.ts
  packages/openalex/src/types/index.ts
  packages/validate-openalex/src/config.ts
  packages/validate-openalex/src/fetch/index.ts
  pnpm-lock.yaml
Due: format, lint

chore: update lockfile after removing unused qs dependency
  pnpm-lock.yaml
Due: format

chore: add changeset for openalex client centralization
  .changeset/openalex-centralize-fetch.md
Due: format

chore: remove invalid changeset referencing non-existent docs package
  .changeset/microservices-consolidation.md
Due: format

fix(ci): add prettier to root devdependencies for changeset version script
  package.json
  pnpm-lock.yaml
Due: format

fix(ci): use --no-config in prettier call for changeset version script
  package.json
Due: format

fix(ci): replace broken changeset publish --registry with pnpm publish loop for github packages
  scripts/publish-packages.sh
Due: none

chore: update github actions to node 24 compatible versions
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: format

fix(ci): replace broken changeset publish --registry with pnpm publish loop for github packages (#73)
  scripts/publish-packages.sh
Due: none

chore: update github actions to node 24 compatible versions (#74)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: format

docs: add readme for fetch-one-api-page, openalex-types, fetch-openalex, validate-openalex, openalex
  packages/fetch-one-api-page/README.md
  packages/fetch-openalex/README.md
  packages/openalex-types/README.md
  packages/openalex/README.md
  packages/validate-openalex/README.md
Due: format

docs: fix documentation drift across claude.md, readme.md and architecture.md
  CLAUDE.md
  README.md
  docs/guide/developers/architecture.md
Due: format

docs: fix documentation drift with actual repo state (#76)
  CLAUDE.md
  README.md
  docs/guide/developers/architecture.md
  packages/fetch-one-api-page/README.md
  packages/fetch-openalex/README.md
  packages/openalex-types/README.md
  packages/openalex/README.md
  packages/validate-openalex/README.md
Due: format

fix(config): resolve tsconfigrootdir ambiguity in monorepo
  packages/appwrite/eslint.config.js
  packages/auth/eslint.config.js
  packages/crf/eslint.config.js
  packages/errors/eslint.config.js
  packages/fetch-one-api-page/eslint.config.js
  packages/fetch-openalex/eslint.config.js
  packages/net/eslint.config.js
  packages/openalex-types/eslint.config.js
  packages/shared-config/eslint/typescript.js
  packages/validators/eslint.config.js
Due: format, lint

feat(researcher-profiles): add researcher profiles cli package
  packages/researcher-profiles/eslint.config.js
  packages/researcher-profiles/package.json
  packages/researcher-profiles/src/bin/atlas-researcher-profiles.ts
  packages/researcher-profiles/src/cli/from-csv.ts
  packages/researcher-profiles/src/cli/from-redcap.ts
  packages/researcher-profiles/src/cli/index.ts
  packages/researcher-profiles/src/errors.ts
  packages/researcher-profiles/src/index.ts
  packages/researcher-profiles/src/services/csv.test.ts
  packages/researcher-profiles/src/services/csv.ts
  packages/researcher-profiles/src/services/openalex.ts
  packages/researcher-profiles/src/services/redcap.ts
  packages/researcher-profiles/src/types.ts
  packages/researcher-profiles/tsconfig.json
  pnpm-lock.yaml
Due: format, lint

docs(researcher-profiles): add readme
  packages/researcher-profiles/README.md
Due: format

fix(researcher-profiles): use correct env var names redcap_api_url and redcap_api_token
  packages/researcher-profiles/README.md
  packages/researcher-profiles/src/cli/index.ts
Due: format, lint

fix(researcher-profiles): load root .env via node --env-file in start script
  packages/researcher-profiles/package.json
Due: format

Path conditions:
  format: any of: *.{js,ts,svelte,json,yaml,yml,md,css,html}
  lint: any of: *.{js,ts,svelte}
  svelte:check: any of: *.svelte
