Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# Lefthook configuration for Atlas
# Documentation: https://github.com/evilmartians/lefthook

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    # Format and lint use turbo to run per-package configs
    format:
      run: pnpm format
      stage_fixed: true
      glob: '*.{js,ts,svelte,json,yaml,yml,md,css,html}'

    lint:
      run: pnpm lint:fix
      stage_fixed: true
      glob: '*.{js,ts,svelte}'

    cpd:
      run: pnpm cpd

    knip:
      run: pnpm knip

    test:
      run: pnpm test

    typecheck:
      run: pnpm typecheck

pre-push:
  commands:
    check-branch:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          echo "❌ Push direct sur main interdit. Utilisez une branche et une PR."
          exit 1
        fi
      priority: 1

    check-sync:
      run: |
        git fetch origin --quiet
        if ! git merge-base --is-ancestor origin/main HEAD 2>/dev/null; then
          echo "⚠️  Votre branche n'est pas à jour avec main."
          echo "   Exécutez: git fetch origin && git rebase origin/main"
        fi
      priority: 1

    check-audit:
      run: pnpm audit --audit-level=high
      priority: 2

    check-licenses:
      run: pnpm license:audit
      priority: 2

    check-lockfile:
      run: pnpm install --frozen-lockfile
      priority: 2

test(redcap-core): add types module tests
  packages/redcap-core/src/types/types.test.ts
Due: format, lint

refactor(redcap-openapi): use redcap-core for shared types and utilities
  .changeset/crf-redcap-core-integration.md
  packages/redcap-openapi/package.json
  packages/redcap-openapi/src/comparator/index.ts
  packages/redcap-openapi/src/core/index.ts
  packages/redcap-openapi/src/core/types.ts
  packages/redcap-openapi/src/extractor/types.ts
  pnpm-lock.yaml
Due: format, lint

chore: move logos to assets directory
  assets/logo_ECRIN_BW.png
  assets/logo_ECRIN_Color.png
Due: none

feat(config): add svelte-relaxed eslint preset
  packages/shared-config/eslint/index.js
  packages/shared-config/eslint/svelte-relaxed.js
  packages/shared-config/eslint/svelte.js
  packages/shared-config/package.json
  pnpm-lock.yaml
Due: format, lint

docs: add changeset for find-an-expert import
  .changeset/find-an-expert-import.md
Due: format

feat: add logos package
  packages/logos/README.md
  packages/logos/cptmp.png
  packages/logos/ecrin-bw.png
  packages/logos/ecrin-color.png
  packages/logos/eunicoast.png
  packages/logos/find-an-expert.svg
  packages/logos/package.json
  packages/logos/ulhn.svg
  pnpm-lock.yaml
Due: format

refactor(find-an-expert): use logos package via symlink
  packages/find-an-expert/package.json
  packages/find-an-expert/static/logos
  packages/find-an-expert/static/logos/cptmp.png
  packages/find-an-expert/static/logos/eunicoast.png
  packages/find-an-expert/static/logos/ulhn.svg
Due: format

refactor(find-an-expert): use logos package via vite-plugin-static-copy
  knip.json
  packages/find-an-expert/package.json
  packages/find-an-expert/static/logos
  packages/find-an-expert/vite.config.ts
  pnpm-lock.yaml
Due: format, lint

feat(logos): add amarre and partner logos
  packages/logos/README.md
  packages/logos/amarre-icon.png
  packages/logos/amarre.png
  packages/logos/france-2030.png
  packages/logos/region-normandie.png
Due: format

docs: add changeset for ecrin and amarre import
  .changeset/import-ecrin-amarre.md
  knip.json
  pnpm-lock.yaml
Due: format

chore(find-an-expert): remove unused typedoc
  packages/find-an-expert/package.json
  packages/find-an-expert/typedoc.json
Due: format

docs: migrate amarre documentation to central docs
  docs/.vitepress/config.ts
  docs/guide/amarre/AI_TESTING_GUIDE.md
  docs/guide/amarre/ARCHITECTURE_DIAGRAMS.md
  docs/guide/amarre/IMPLEMENTATION_GUIDE.md
  docs/guide/amarre/MICROSERVICES_AUDIT.md
  docs/guide/amarre/MICROSERVICES_AUDIT_README.md
  docs/guide/amarre/SECURITY.md
  docs/guide/amarre/index.md
Due: format, lint

chore: monorepo consistency audit fixes
  packages/amarre/package.json
  packages/amarre/pnpm-lock.yaml
  packages/ecrin/.env.example
  packages/ecrin/package.json
  packages/ecrin/pnpm-lock.yaml
  packages/find-an-expert/.env.example
  packages/find-an-expert/package.json
  packages/redcap-core/README.md
  packages/redcap-core/package.json
  pnpm-lock.yaml
Due: format

refactor: remove unused exports and enable knip exports check
  knip.json
  package.json
  packages/amarre/src/lib/errors/index.ts
  packages/amarre/src/lib/server/appwrite/index.ts
  packages/amarre/src/lib/types/api/common.ts
  packages/amarre/src/lib/validators/index.ts
  packages/crf/src/cli/shared/index.ts
  packages/ecrin/src/lib/appwrite/server/index.ts
  packages/ecrin/src/lib/constants/index.ts
  packages/ecrin/src/lib/errors/index.ts
  packages/ecrin/src/lib/transformers/build-name.ts
  packages/ecrin/src/lib/validators/index.ts
  packages/ecrin/src/lib/validators/server/index.ts
  packages/find-an-expert/src/lib/server/consent/types.ts
  packages/find-an-expert/src/lib/server/git-stats/repository.ts
  packages/find-an-expert/src/lib/server/git-stats/types.ts
  packages/find-an-expert/src/lib/server/github/types.ts
  packages/find-an-expert/src/lib/server/openalex/types.ts
  packages/find-an-expert/src/lib/validators/index.ts
Due: format, lint

chore: add changeset for unused exports cleanup
  .changeset/knip-unused-exports.md
Due: format
