Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, svelte:check

format:
  run: pnpm format:check

lint:
  run: pnpm lint

svelte:check:
  run: pnpm svelte:check

fix(ci): add missing Appwrite env vars to find-an-expert .env.example
  packages/find-an-expert/.env.example
Due: none

fix(ci): fix test failures and audit job
  .github/workflows/ci.yml
  packages/amarre/.env.example
  packages/find-an-expert/.env.example
Due: format

fix(ci): disable lefthook in release workflow
  .github/workflows/release.yml
Due: format

chore: version packages (#51)
  .changeset/cli-harmonization.md
  .changeset/crf-redcap-core-integration.md
  .changeset/docs-github-pages.md
  .changeset/docs-restructure-user-dev.md
  .changeset/find-an-expert-import.md
  .changeset/import-ecrin-amarre.md
  .changeset/knip-unused-exports.md
  .changeset/redcap-split-packages.md
  .changeset/remove-private-field.md
  .changeset/reorganize-scripts.md
  .changeset/shared-packages-factorization.md
  packages/amarre/CHANGELOG.md
  packages/amarre/package.json
  packages/atlas-appwrite/CHANGELOG.md
  packages/atlas-appwrite/package.json
  packages/atlas-auth/CHANGELOG.md
  packages/atlas-auth/package.json
  packages/atlas-errors/CHANGELOG.md
  packages/atlas-errors/package.json
  packages/atlas-validators/CHANGELOG.md
  packages/atlas-validators/package.json
  packages/crf/CHANGELOG.md
  packages/crf/package.json
  packages/ecrin/package.json
  packages/find-an-expert/CHANGELOG.md
  packages/find-an-expert/package.json
  packages/logos/CHANGELOG.md
  packages/logos/package.json
  packages/net/CHANGELOG.md
  packages/net/package.json
  packages/redcap-core/CHANGELOG.md
  packages/redcap-core/package.json
  packages/redcap-openapi/CHANGELOG.md
  packages/redcap-openapi/package.json
  packages/redcap-sandbox/CHANGELOG.md
  packages/redcap-sandbox/package.json
  packages/shared-config/CHANGELOG.md
  packages/shared-config/package.json
Due: format

fix(ci): add release script for changesets workflow
  package.json
Due: format

fix(ci): add env files creation step to release workflow
  .github/workflows/release.yml
Due: format

fix(ci): format changelog files after version bump
  .github/workflows/release.yml
  knip.json
  package.json
Due: format

style: format existing changelog files
  packages/amarre/CHANGELOG.md
  packages/ecrin/CHANGELOG.md
  packages/find-an-expert/CHANGELOG.md
Due: format

docs: add dependencies audit and update roadmap
  docs/guide/audit/dependencies-audit.md
  docs/guide/audit/index.md
  docs/guide/dev/index.md
Due: format

chore(deps): align and update dependencies across all packages
  packages/amarre/package.json
  packages/appwrite/package.json
  packages/appwrite/src/index.ts
  packages/auth/package.json
  packages/auth/src/index.ts
  packages/crf/package.json
  packages/ecrin/package.json
  packages/errors/package.json
  packages/find-an-expert/package.json
  packages/redcap-core/package.json
  packages/redcap-openapi/package.json
  packages/validators/package.json
  pnpm-lock.yaml
Due: format, lint

chore(deps): update to latest minor/patch versions
  package.json
  packages/amarre/package.json
  packages/appwrite/package.json
  packages/auth/package.json
  packages/crf/package.json
  packages/ecrin/package.json
  packages/errors/package.json
  packages/find-an-expert/package.json
  packages/shared-config/package.json
  packages/validators/package.json
  pnpm-lock.yaml
Due: format

docs(audit): reorganize with key information first
  docs/guide/audit/dependencies-audit.md
Due: format

docs: add latest column to dependency tables
  docs/guide/audit/dependencies-audit.md
Due: format

docs: add next steps section to dependencies audit
  docs/guide/audit/dependencies-audit.md
Due: format

feat: publish packages to both npm and GitHub Packages
  .github/workflows/release.yml
  package.json
  packages/appwrite/package.json
  packages/auth/package.json
  packages/crf/package.json
  packages/errors/package.json
  packages/logos/package.json
  packages/net/package.json
  packages/redcap-openapi/package.json
  packages/shared-config/package.json
  packages/validators/package.json
  scripts/publish-packages.sh
Due: format

fix(ci): resolve failing workflows for docs and release
  .github/workflows/release.yml
  docs/.vitepress/config.ts
Due: format, lint

fix(ci): resolve failing workflows for docs and release (#55)
  .github/workflows/release.yml
  docs/.vitepress/config.ts
Due: format, lint

fix(docs): add ignoredeadlinks pattern for typedoc api links
  docs/.vitepress/config.ts
Due: format, lint

fix(docs): add ignoredeadlinks pattern for typedoc api links (#56)
  docs/.vitepress/config.ts
Due: format, lint

docs: restructure ecrin subprojects and update amarre description
  docs/guide/index.md
  docs/index.md
Due: format

Path conditions:
  format: any of: *.{js,ts,svelte,json,yaml,yml,md,css,html}
  lint: any of: *.{js,ts,svelte}
  svelte:check: any of: *.svelte
