Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, svelte:check

format:
  run: pnpm format:check

lint:
  run: pnpm lint

svelte:check:
  run: pnpm svelte:check

fix(researcher-profiles): guard null display_name in institution sort
  tools/cli/researcher-profiles/src/cli/process-row.ts
Due: format, lint

fix(researcher-profiles): inject xmldom domparser before mammoth import
  packages/researcher-profiles/src/services/file-extractor.ts
Due: format, lint

feat(researcher-profiles): add debug appendix to oa_pdf (profiles, raw names, text)
  packages/researcher-profiles/src/index.ts
  packages/researcher-profiles/src/services/pdf-generator.ts
  packages/researcher-profiles/src/services/redcap.ts
  tools/cli/researcher-profiles/src/cli/match-row.ts
Due: format, lint

chore: add changeset for redcap consolidation
  .changeset/redcap-consolidation.md
Due: format

chore: version packages (#92)
  .changeset/redcap-consolidation.md
  packages/researcher-profiles/CHANGELOG.md
  packages/researcher-profiles/package.json
  tools/cli/researcher-profiles/CHANGELOG.md
  tools/cli/researcher-profiles/package.json
Due: format

feat(researcher-profiles): insert publications pdf before references
  .changeset/pdf-publications-merge.md
  packages/researcher-profiles/package.json
  packages/researcher-profiles/src/services/pdf-generator.ts
  pnpm-lock.yaml
  tools/cli/researcher-profiles/src/cli/match-row.ts
Due: format, lint

chore: version packages (#95)
  .changeset/pdf-publications-merge.md
  packages/researcher-profiles/CHANGELOG.md
  packages/researcher-profiles/package.json
  tools/cli/researcher-profiles/CHANGELOG.md
  tools/cli/researcher-profiles/package.json
Due: format

fix(deps): resolve high severity vulnerabilities in audit
  apps/amarre/package.json
  apps/ecrin/package.json
  apps/find-an-expert/package.json
  package.json
  pnpm-lock.yaml
Due: format

feat: add redcap-logs package and redcap-dashboard app
  .gitignore
  apps/redcap-dashboard/.env.example
  apps/redcap-dashboard/eslint.config.js
  apps/redcap-dashboard/package.json
  apps/redcap-dashboard/prettier.config.js
  apps/redcap-dashboard/src/app.d.ts
  apps/redcap-dashboard/src/app.html
  apps/redcap-dashboard/src/lib/charts.ts
  apps/redcap-dashboard/src/lib/components/PlotChart.svelte
  apps/redcap-dashboard/src/routes/+page.server.ts
  apps/redcap-dashboard/src/routes/+page.svelte
  apps/redcap-dashboard/svelte.config.js
  apps/redcap-dashboard/tsconfig.json
  apps/redcap-dashboard/vite.config.ts
  packages/redcap-logs/eslint.config.js
  packages/redcap-logs/package.json
  packages/redcap-logs/src/api.ts
  packages/redcap-logs/src/cache.ts
  packages/redcap-logs/src/enrich.ts
  packages/redcap-logs/src/index.ts
  packages/redcap-logs/src/rolling.ts
  packages/redcap-logs/src/types.ts
  packages/redcap-logs/tsconfig.json
  pnpm-lock.yaml
Due: format, lint, svelte:check

fix(redcap-dashboard): rehydrate dates and add refresh button
  apps/redcap-dashboard/src/lib/charts.ts
  apps/redcap-dashboard/src/routes/+page.server.ts
  apps/redcap-dashboard/src/routes/+page.svelte
  commitlint.config.js
Due: format, lint, svelte:check

fix(redcap-dashboard): log redcap api requests to console
  apps/redcap-dashboard/src/routes/+page.server.ts
Due: format, lint

fix(redcap-logs): log api errors instead of silently returning empty
  packages/redcap-logs/src/api.ts
Due: format, lint

feat(redcap-dashboard): add sse progress with batch fetching (batches of 3)
  apps/redcap-dashboard/src/routes/+page.server.ts
  apps/redcap-dashboard/src/routes/+page.svelte
  apps/redcap-dashboard/src/routes/api/logs/+server.ts
Due: format, lint, svelte:check

docs(redcap-dashboard): add readme
  apps/redcap-dashboard/README.md
Due: format

fix(redcap-dashboard): correct token path and sse encoding
  apps/redcap-dashboard/.env.example
  apps/redcap-dashboard/src/routes/api/logs/+server.ts
Due: format, lint

feat(redcap-dashboard): add refresh page and sortable project status table
  apps/redcap-dashboard/README.md
  apps/redcap-dashboard/src/routes/+page.svelte
  apps/redcap-dashboard/src/routes/actualisation/+page.server.ts
  apps/redcap-dashboard/src/routes/actualisation/+page.svelte
Due: format, lint, svelte:check

fix(redcap-dashboard): force refresh and always persist cache on updates
  apps/redcap-dashboard/src/routes/api/logs/+server.ts
Due: format, lint

fix(redcap-logs): store cache file in current working directory
  packages/redcap-logs/src/cache.ts
Due: format, lint

chore(repo): ignore runtime redcap cache file in prettier
  .prettierignore
Due: none

chore(ci): commit all pending changes
  .gitignore
  packages/fetch-one-api-page/src/index.spec.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/cli-redcap-stats/README.md
  tools/cli-redcap-stats/eslint.config.js
  tools/cli-redcap-stats/package.json
  tools/cli-redcap-stats/src/bin/atlas-redcap-stats.ts
  tools/cli-redcap-stats/src/index.ts
  tools/cli-redcap-stats/tsconfig.json
Due: format, lint

chore(ci): add changeset for redcap logs and stats cli
  .changeset/green-pears-dance.md
Due: format

feat(redcap-logs): write human-readable cache file
  .changeset/green-pears-dance.md
  packages/redcap-logs/src/cache.ts
Due: format, lint

feat(redcap-dashboard): revamp monthly analytics and chart controls
  .changeset/green-pears-dance.md
  apps/redcap-dashboard/README.md
  apps/redcap-dashboard/src/lib/charts.ts
  apps/redcap-dashboard/src/routes/+page.server.ts
  apps/redcap-dashboard/src/routes/+page.svelte
  apps/redcap-dashboard/src/routes/actualisation/+page.server.ts
  apps/redcap-dashboard/src/routes/api/logs/+server.ts
  packages/redcap-logs/src/enrich.ts
  packages/redcap-logs/src/index.ts
  packages/redcap-logs/src/monthly.ts
  packages/redcap-logs/src/rolling.ts
  packages/redcap-logs/src/surveyed.ts
  packages/redcap-logs/src/types.ts
Due: format, lint, svelte:check

feat(redcap-dashboard): add multi-granularity aggregation and selector
  .changeset/redcap-aggregation-granularity.md
  apps/redcap-dashboard/src/lib/charts.ts
  apps/redcap-dashboard/src/lib/patches.ts
  apps/redcap-dashboard/src/routes/+page.server.ts
  apps/redcap-dashboard/src/routes/+page.svelte
  apps/redcap-dashboard/src/routes/api/stats/+server.ts
  packages/redcap-logs/src/index.ts
  packages/redcap-logs/src/monthly.ts
  packages/redcap-logs/src/types.ts
Due: format, lint, svelte:check

fix(redcap-logs): rewrite bucket functions to satisfy functional lint rules
  apps/redcap-dashboard/src/lib/charts.ts
Due: format, lint

chore(ci): announce initial release of redcap-dashboard and redcap-stats-cli in changesets
  .changeset/green-pears-dance.md
  .changeset/redcap-aggregation-granularity.md
Due: format

fix(redcap-dashboard): handle undefined redcap_api_url env variable
  apps/redcap-dashboard/src/routes/api/logs/+server.ts
Due: format, lint

chore: version packages (#98)
  .changeset/green-pears-dance.md
  .changeset/redcap-aggregation-granularity.md
  apps/redcap-dashboard/CHANGELOG.md
  apps/redcap-dashboard/package.json
  packages/redcap-logs/CHANGELOG.md
  packages/redcap-logs/package.json
  tools/cli-redcap-stats/CHANGELOG.md
  tools/cli-redcap-stats/package.json
Due: format

fix(ci): exclude apps from release build to avoid missing env vars
  package.json
Due: format

fix(ci): exclude apps from release build to avoid missing env vars (#99)
  package.json
Due: format

fix(infra): remove unused atlas dashboard exports
  apps/atlas-dashboard/src/lib/components/PlotChart.svelte
  apps/atlas-dashboard/src/lib/types.ts
Due: format, lint, svelte:check

refactor(infra): move atlas stats cli under tools/cli
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/cli/atlas-stats/eslint.config.js
  tools/cli/atlas-stats/package.json
  tools/cli/atlas-stats/src/bin/atlas-stats.ts
  tools/cli/atlas-stats/src/index.ts
  tools/cli/atlas-stats/tsconfig.json
Due: format, lint

Path conditions:
  format: any of: *.{js,ts,svelte,json,yaml,yml,md,css,html}
  lint: any of: *.{js,ts,svelte}
  svelte:check: any of: *.svelte
