Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, svelte:check

format:
  run: pnpm format:check

lint:
  run: pnpm lint

svelte:check:
  run: pnpm svelte:check

docs: add citations as fourth major module
  docs/guide/index.md
  docs/index.md
Due: format

docs: restructure ecrin subprojects and update amarre description (#57)
  docs/guide/index.md
  docs/index.md
Due: format

chore: improve commit hooks and workflow identity
  .github/workflows/release.yml
  lefthook.yml
Due: format

chore(lefthook): strip all email lines from commit messages
  lefthook.yml
Due: format

feat(infra): add tsdoc, pr, release counts and improve date handling
  scripts/generate-repo-stats.ts
  scripts/lib/code-analyzer.ts
  scripts/lib/git-analyzer.ts
  scripts/lib/types.ts
Due: format, lint

refactor(docs): simplify package table and remove timeline chart
  docs/.vitepress/theme/components/PackageTable.vue
  docs/.vitepress/theme/components/RepoDynamics.vue
  docs/.vitepress/theme/components/charts/TimelineChart.vue
Due: none

style(docs): reduce logo height to 20px in package readme files
  packages/amarre/README.md
  packages/appwrite/README.md
  packages/auth/README.md
  packages/crf/README.md
  packages/ecrin/README.md
  packages/errors/README.md
  packages/find-an-expert/README.md
  packages/net/README.md
  packages/redcap-core/README.md
  packages/redcap-openapi/README.md
  packages/shared-config/README.md
  packages/validators/README.md
Due: format

docs: expand institutional projects with detailed information
  README.md
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/RepoDynamics.vue
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/index.ts
  docs/index.md
Due: format, lint

docs: restructure navigation and add technical debt audit
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/PackageTable.vue
  docs/guide/audit/ecrin-audit.md
  docs/guide/audit/technical-debt.md
  docs/index.md
  scripts/generate-repo-stats.ts
  scripts/lib/git-analyzer.ts
Due: format, lint

style(docs): improve responsive design for package table and hero
  docs/.vitepress/theme/components/PackageTable.vue
  docs/.vitepress/theme/custom.css
Due: format

docs(guide): reorganize sidebar with researcher and developer sections
  docs/.vitepress/config.ts
Due: format, lint

docs: add roadmaps page and rewrite technical debt audit
  docs/.vitepress/config.ts
  docs/guide/audit/technical-debt.md
  docs/guide/index.md
  docs/guide/roadmaps/index.md
Due: format, lint

docs: add archives section and fix documentation audit issues
  docs/.vitepress/config.ts
  docs/guide/archives/code-audit.md
  docs/guide/archives/css-audit-report.md
  docs/guide/archives/index.md
  docs/guide/archives/microservices-audit-readme.md
  docs/guide/find-an-expert/appwrite-setup.md
  docs/guide/find-an-expert/design-system.md
  docs/guide/find-an-expert/technical-setup.md
Due: format, lint

docs: add dedicated researcher guide page
  docs/.vitepress/config.ts
  docs/guide/researchers/index.md
  docs/index.md
Due: format, lint

fix(docs): use guide sidebar for researchers page
  docs/.vitepress/config.ts
Due: format, lint

refactor(docs): move archive audits to audit section
  docs/.vitepress/config.ts
  docs/guide/archives/index.md
  docs/guide/audit/code-audit.md
  docs/guide/audit/css-audit-report.md
  docs/guide/audit/microservices-audit-readme.md
Due: format, lint

feat(docs): add mermaid diagram support
  docs/.vitepress/config.ts
  knip.json
  package.json
  pnpm-lock.yaml
Due: format, lint

fix(docs): resolve dayjs esm import error for mermaid
  docs/.vitepress/config.ts
Due: format, lint

fix(docs): correct mermaid vite configuration
  docs/.vitepress/config.ts
  knip.json
  package.json
  pnpm-lock.yaml
Due: format, lint

fix(docs): add mermaid dependencies and simplify homepage
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/RepoDynamics.vue
  knip.json
  package.json
  pnpm-lock.yaml
Due: format, lint

Path conditions:
  format: any of: *.{js,ts,svelte,json,yaml,yml,md,css,html}
  lint: any of: *.{js,ts,svelte}
  svelte:check: any of: *.svelte
