Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, svelte:check

lefthook.yml:

# Lefthook configuration for Atlas
# Documentation: https://github.com/evilmartians/lefthook

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    format:
      run: pnpm format:check
      glob: '*.{js,ts,svelte,json,yaml,yml,md,css,html}'

    lint:
      run: pnpm lint
      glob: '*.{js,ts,svelte}'

    cpd:
      run: pnpm audit:duplicates

    knip:
      run: pnpm audit:unused

    test:
      run: pnpm test:coverage

    typecheck:
      run: pnpm typecheck

    svelte:check:
      run: pnpm svelte:check
      glob: '*.svelte'

pre-push:
  commands:
    check-branch:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          echo "❌ Push direct sur main interdit. Utilisez une branche et une PR."
          exit 1
        fi
      priority: 1

    check-sync:
      run: |
        git fetch origin --quiet
        if ! git merge-base --is-ancestor origin/main HEAD 2>/dev/null; then
          echo "⚠️  Votre branche n'est pas à jour avec main."
          echo "   Exécutez: git fetch origin && git rebase origin/main"
        fi
      priority: 1

    check-audit:
      run: pnpm audit:security
      priority: 2

    check-licenses:
      run: pnpm audit:licenses
      priority: 2

    check-lockfile:
      run: pnpm install --frozen-lockfile
      priority: 2

refactor(ui): migrate components to bootstrap classes
  ui/atlas-ui/src/lib/AnonymousHome.svelte
  ui/atlas-ui/src/lib/AuthenticatedHome.svelte
  ui/atlas-ui/src/lib/ProjectsCarousel.svelte
  ui/atlas-ui/src/lib/QuartoProjectCard.svelte
  ui/atlas-ui/src/lib/QuestionnairesInvite.svelte
  ui/atlas-ui/src/lib/SignupModal.svelte
Due: format, lint, svelte:check

feat(sillage): bootstrap layout + adapt tests to new selectors
  apps/sillage/package.json
  apps/sillage/src/bootstrap.d.ts
  apps/sillage/src/routes/+layout.svelte
  apps/sillage/tests/ui/anonymous-home.test.ts
  apps/sillage/tests/ui/authenticated-home.test.ts
  apps/sillage/tests/ui/signup-modal.test.ts
  pnpm-lock.yaml
Due: format, lint, svelte:check

feat(ui): bootstrap carousel + en-gb copy + dark stripe
  ui/atlas-ui/src/lib/AnonymousHome.svelte
  ui/atlas-ui/src/lib/AuthenticatedHome.svelte
  ui/atlas-ui/src/lib/ProjectsCarousel.svelte
  ui/atlas-ui/src/lib/QuartoProjectCard.svelte
  ui/atlas-ui/src/lib/QuestionnairesInvite.svelte
  ui/atlas-ui/src/lib/SignupModal.svelte
Due: format, lint, svelte:check

feat(sillage): en-gb mocks + adapt tests + smoke selectors
  apps/sillage/src/lib/mocks/projects.ts
  apps/sillage/src/lib/mocks/researchers.ts
  apps/sillage/src/routes/+page.svelte
  apps/sillage/tests/ui/anonymous-home.test.ts
  apps/sillage/tests/ui/authenticated-home.test.ts
  apps/sillage/tests/unit/researchers.test.ts
  sandbox/sillage-sandbox/tests/e2e/smoke.spec.ts
Due: format, lint, svelte:check

feat(sillage): read community projects from redcap (mock fallback)
  apps/sillage/src/lib/server/services/projects.ts
  apps/sillage/src/lib/types/api/community-project.ts
  apps/sillage/src/routes/+page.server.ts
  apps/sillage/src/routes/api/v1/projects/community/+server.ts
  apps/sillage/tests/integration/page-server.test.ts
  apps/sillage/tests/integration/projects-endpoint.test.ts
  apps/sillage/tests/integration/projects-service.test.ts
Due: format, lint

fix(crf-openapi): replace execsync with execfilesync to close codeql shell-injection
  .changeset/codeql-triage-post-194.md
  TODO.md
  cli/crf-openapi/src/extractor/index.ts
Due: format, lint

test(citation-validate): switch tmp paths to mkdtempsync + drop dead helper
  packages/citation-validate/src/events/updater-effect.test.ts
  packages/citation-validate/src/store/loader.test.ts
  packages/citation-validate/src/store/saver.test.ts
Due: format, lint

test(crf-core): drop unused pattern imports from validation.test
  packages/crf-core/src/validation/validation.test.ts
Due: format, lint

fix(amarre): close codeql file-system-race in manage-baselines
  apps/amarre/scripts/manage-baselines.ts
Due: format, lint

fix(crf-dashboard): drop dead cache !== null branch from logs sse
  apps/crf-dashboard/src/routes/api/logs/+server.ts
Due: format, lint

fix(ecrin): remove unused getid + getecrcode helpers from build-name
  apps/ecrin/src/lib/transformers/build-name.ts
Due: format, lint

fix(security): close 13 CodeQL alerts + triage 26 dismissals (#198)
  .changeset/codeql-triage-post-194.md
  TODO.md
  apps/amarre/scripts/manage-baselines.ts
  apps/crf-dashboard/src/routes/api/logs/+server.ts
  apps/ecrin/src/lib/transformers/build-name.ts
  cli/crf-openapi/src/extractor/index.ts
  packages/citation-validate/src/events/updater-effect.test.ts
  packages/citation-validate/src/store/loader.test.ts
  packages/citation-validate/src/store/saver.test.ts
  packages/crf-core/src/validation/validation.test.ts
Due: format, lint

chore: mark 3 packages private + todo cleanup
  .changeset/mark-3-packages-private.md
  TODO.md
  apps/atlas-dashboard/package.json
  apps/crf-dashboard/package.json
  sandbox/crf-sandbox/package.json
Due: format

chore: mark 3 packages private + todo cleanup (#199)
  .changeset/mark-3-packages-private.md
  TODO.md
  apps/atlas-dashboard/package.json
  apps/crf-dashboard/package.json
  sandbox/crf-sandbox/package.json
Due: format

feat(ci): activate npm provenance via oidc on release workflow
  .github/workflows/release.yml
  SECURITY.md
  TODO.md
  scripts/release/publish-packages.sh
Due: format

feat(ci): activate npm provenance via OIDC (Phase 4.3) (#202)
  .github/workflows/release.yml
  SECURITY.md
  TODO.md
  scripts/release/publish-packages.sh
Due: format

feat(ci): generate cyclonedx sbom on every push to main (phase 4.4)
  .github/workflows/sbom.yml
  SECURITY.md
  TODO.md
  docs/security/sbom/README.md
Due: format

feat(ci): generate CycloneDX SBOM on push to main (Phase 4.4) (#203)
  .github/workflows/sbom.yml
  SECURITY.md
  TODO.md
  docs/security/sbom/README.md
Due: format

feat(ci): add owasp zap baseline workflow (phase 7.1, workflow_dispatch)
  .github/workflows/zap-baseline.yml
  .zap/rules.tsv
  SECURITY.md
  TODO.md
  docs/security/dast.md
Due: format

chore(infra): run eslint per package root in lefthook for cross-package commits
  lefthook.yml
  scripts/lint-staged.mjs
Due: format

docs(sillage): document data-table tokens for topic/keyword/region lookups
  sandbox/sillage-sandbox/.env.prod.example
Due: none

fix(sillage): use userid as project record identifier (ecrin v2 convention)
  apps/sillage/src/lib/server/services/projects.ts
  apps/sillage/tests/integration/projects-service.test.ts
Due: format, lint

feat(ci): add OWASP ZAP baseline workflow (Phase 7.1) (#204)
  .github/workflows/zap-baseline.yml
  .zap/rules.tsv
  SECURITY.md
  TODO.md
  docs/security/dast.md
Due: format

fix(sillage): declare redcap env vars + harden strip-tags + drop file read in smoke fixture
  apps/sillage/.env.example
  apps/sillage/src/lib/server/services/projects.ts
  sandbox/sillage-sandbox/playwright.config.ts
  sandbox/sillage-sandbox/tests/e2e/fixtures/appwrite.ts
Due: format, lint

docs(ci): add incident response runbook (phase 8 devsecops)
  SECURITY.md
  TODO.md
  docs/security/incident-response.md
Due: format

docs(security): add incident response runbook (Phase 8) (#206)
  SECURITY.md
  TODO.md
  docs/security/incident-response.md
Due: format

chore(infra): tighten audit threshold + csp connect-src (phase 3.3 + 6.3)
  TODO.md
  apps/amarre/svelte.config.js
  apps/ecrin/svelte.config.js
  apps/find-an-expert/svelte.config.js
  package.json
Due: format, lint

docs: minimize per-app readmes to point at the new /docs/apps/ pages
  apps/amarre/README.md
  apps/atlas-dashboard/README.md
  apps/crf-dashboard/README.md
  apps/ecrin/README.md
  apps/find-an-expert/README.md
  apps/sillage/README.md
Due: format

docs: slim contributing and security to point at the new docs site
  CONTRIBUTING.md
  SECURITY.md
Due: format

chore(infra): tighten audit threshold + CSP connect-src (Phase 3.3 + 6.3) (#207)
  TODO.md
  apps/amarre/svelte.config.js
  apps/ecrin/svelte.config.js
  apps/find-an-expert/svelte.config.js
  package.json
Due: format, lint

docs: align ci/docs workflows with new docs:build + fix wording
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  docs/.vitepress/config.ts
  docs/glossary.md
  docs/index.md
Due: format, lint

docs(ci): add finding remediation sla section (phase 1.3 devsecops)
  TODO.md
  docs/quality/security.md
Due: format

docs: neutralize audience-naming language in self-descriptions
  README.md
  SECURITY.md
  apps/amarre/README.md
  apps/ecrin/README.md
  apps/find-an-expert/README.md
  apps/sillage/README.md
  docs/.vitepress/config.ts
  docs/apps/amarre.md
  docs/apps/ecrin.md
  docs/apps/find-an-expert.md
  docs/apps/sillage.md
  docs/architecture/data-flow.md
  docs/architecture/monorepo.md
  docs/architecture/tech-choices.md
  docs/architecture/zero-trust.md
  docs/glossary.md
  docs/index.md
  docs/quality/ci-pipeline.md
  docs/quality/incident-response.md
Due: format, lint

docs: remove made-up ecrin expansion from glossary
  docs/glossary.md
Due: format

docs: neutralize audience-naming language in self-descriptions (#210)
  README.md
  SECURITY.md
  apps/amarre/README.md
  apps/ecrin/README.md
  apps/find-an-expert/README.md
  apps/sillage/README.md
  docs/.vitepress/config.ts
  docs/apps/amarre.md
  docs/apps/ecrin.md
  docs/apps/find-an-expert.md
  docs/apps/sillage.md
  docs/architecture/data-flow.md
  docs/architecture/monorepo.md
  docs/architecture/tech-choices.md
  docs/architecture/zero-trust.md
  docs/glossary.md
  docs/index.md
  docs/quality/ci-pipeline.md
  docs/quality/incident-response.md
Due: format, lint

docs(ci): add finding remediation SLA (Phase 1.3 — finalisation DevSecOps) (#209)
  TODO.md
  docs/quality/security.md
Due: format
