Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, svelte:check

lefthook.yml:

# Lefthook configuration for Atlas
# Documentation: https://github.com/evilmartians/lefthook

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    format:
      run: pnpm format:check
      glob: '*.{js,ts,svelte,json,yaml,yml,md,css,html}'

    lint:
      run: pnpm lint
      glob: '*.{js,ts,svelte}'

    cpd:
      run: pnpm audit:duplicates

    knip:
      run: pnpm audit:unused

    test:
      run: pnpm test:coverage

    typecheck:
      run: pnpm typecheck

    svelte:check:
      run: pnpm svelte:check
      glob: '*.svelte'

pre-push:
  commands:
    check-branch:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          echo "❌ Push direct sur main interdit. Utilisez une branche et une PR."
          exit 1
        fi
      priority: 1

    check-sync:
      run: |
        git fetch origin --quiet
        if ! git merge-base --is-ancestor origin/main HEAD 2>/dev/null; then
          echo "⚠️  Votre branche n'est pas à jour avec main."
          echo "   Exécutez: git fetch origin && git rebase origin/main"
        fi
      priority: 1

    check-audit:
      run: pnpm audit:security
      priority: 2

    check-licenses:
      run: pnpm audit:licenses
      priority: 2

    check-lockfile:
      run: pnpm install --frozen-lockfile
      priority: 2

feat(researcher-profiles): exclude complete researchers from from-redcap
  packages/researcher-profiles/src/cli/from-redcap.ts
Due: format, lint

fix(researcher-profiles): count doi/fuzzy contributions after deduplication
  packages/researcher-profiles/src/cli/match-references.ts
Due: format, lint

feat(researcher-profiles): use authorships.raw_author_name as source for name selection
  packages/researcher-profiles/src/cli/process-row.ts
Due: format, lint

feat(researcher-profiles): filter works by selected raw_author_name instead of author ids
  packages/researcher-profiles/src/cli/process-row.ts
Due: format, lint

feat(researcher-profiles): sliding window fuzzy matching + mark complete after write
  packages/researcher-profiles/src/services/redcap.ts
  packages/researcher-profiles/src/services/reference-matcher.ts
Due: format, lint

feat(researcher-profiles): add researcher selection prompt to match-references
  packages/researcher-profiles/src/cli/match-references.ts
Due: format, lint

feat(researcher-profiles): preselect all researchers in match-references prompt
  packages/researcher-profiles/src/cli/match-references.ts
  packages/researcher-profiles/src/cli/select-researchers.ts
Due: format, lint

feat(researcher-profiles): chain match-references on from-redcap processed researchers
  packages/researcher-profiles/src/cli/from-redcap.ts
  packages/researcher-profiles/src/cli/index.ts
  packages/researcher-profiles/src/cli/match-references.ts
Due: format, lint

fix(researcher-profiles): audit — type safety, bugs critiques et robustesse
  .changeset/audit-researcher-profiles.md
  packages/openalex-types/src/api-results.ts
  packages/researcher-profiles/src/cli/match-references.ts
  packages/researcher-profiles/src/cli/process-row.ts
  packages/researcher-profiles/src/cli/select-researchers.ts
  packages/researcher-profiles/src/services/file-extractor.ts
  packages/researcher-profiles/src/services/pdf-generator.ts
Due: format, lint

feat(researcher-profiles): fluidifier l'interface CLI
  .changeset/cli-ux-improvements.md
  packages/researcher-profiles/src/cli/from-redcap.ts
  packages/researcher-profiles/src/cli/index.ts
  packages/researcher-profiles/src/cli/match-references.ts
  packages/researcher-profiles/src/cli/process-row.ts
Due: format, lint

feat(researcher-profiles): unified per-researcher pipeline
  packages/researcher-profiles/src/cli/index.ts
  packages/researcher-profiles/src/cli/match-references.ts
  packages/researcher-profiles/src/cli/match-row.ts
  packages/researcher-profiles/src/cli/process-row.ts
  packages/researcher-profiles/src/cli/run.ts
  packages/researcher-profiles/src/cli/select-researchers.ts
  packages/validate-openalex/src/actions/actors.ts
Due: format, lint

chore: add changeset for unified pipeline
  .changeset/unified-pipeline.md
Due: format

feat(researcher-profiles): simplify cli output
  packages/researcher-profiles/src/cli/from-redcap.ts
  packages/researcher-profiles/src/cli/match-references.ts
  packages/researcher-profiles/src/cli/match-row.ts
  packages/researcher-profiles/src/cli/run.ts
Due: format, lint

feat(researcher-profiles): replace note() with log.info() in process-row
  packages/researcher-profiles/src/cli/process-row.ts
Due: format, lint

feat(researcher-profiles): clarify fullname selection prompt
  packages/researcher-profiles/src/cli/process-row.ts
Due: format, lint

chore: version packages (#80)
  .changeset/audit-researcher-profiles.md
  .changeset/cli-ux-improvements.md
  .changeset/unified-pipeline.md
  packages/biblio-cli/CHANGELOG.md
  packages/biblio-cli/package.json
  packages/fetch-openalex/CHANGELOG.md
  packages/fetch-openalex/package.json
  packages/find-an-expert/CHANGELOG.md
  packages/find-an-expert/package.json
  packages/openalex-types/CHANGELOG.md
  packages/openalex-types/package.json
  packages/researcher-profiles/CHANGELOG.md
  packages/researcher-profiles/package.json
  packages/validate-openalex/CHANGELOG.md
  packages/validate-openalex/package.json
Due: format

feat(researcher-profiles): add raw_affiliation_strings verification
  .changeset/affiliation-verification.md
  packages/researcher-profiles/src/cli/process-row.ts
  packages/researcher-profiles/src/services/redcap.ts
Due: format, lint

refactor(researcher-profiles): use multiselect on institutions instead of affiliation strings
  packages/researcher-profiles/src/cli/process-row.ts
Due: format, lint

chore: version packages (#82)
  .changeset/affiliation-verification.md
  packages/researcher-profiles/CHANGELOG.md
  packages/researcher-profiles/package.json
Due: format

chore: update clean script and only-built-dependencies list
  package.json
Due: format

chore: add github packages auth token to .npmrc
  .npmrc
Due: none
