Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, svelte:check

lefthook.yml:

# Lefthook configuration for Atlas
# Documentation: https://github.com/evilmartians/lefthook

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    format:
      run: pnpm format:check
      glob: '*.{js,ts,svelte,json,yaml,yml,md,css,html}'

    lint:
      run: pnpm lint
      glob: '*.{js,ts,svelte}'

    cpd:
      run: pnpm audit:duplicates

    knip:
      run: pnpm audit:unused

    test:
      run: pnpm test:coverage

    typecheck:
      run: pnpm typecheck

    svelte:check:
      run: pnpm svelte:check
      glob: '*.svelte'

pre-push:
  commands:
    check-branch:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          echo "❌ Push direct sur main interdit. Utilisez une branche et une PR."
          exit 1
        fi
      priority: 1

    check-sync:
      run: |
        git fetch origin --quiet
        if ! git merge-base --is-ancestor origin/main HEAD 2>/dev/null; then
          echo "⚠️  Votre branche n'est pas à jour avec main."
          echo "   Exécutez: git fetch origin && git rebase origin/main"
        fi
      priority: 1

    check-audit:
      run: pnpm audit:security
      priority: 2

    check-licenses:
      run: pnpm audit:licenses
      priority: 2

    check-lockfile:
      run: pnpm install --frozen-lockfile
      priority: 2

docs(docs): feuille de réponses best practices + fermer 2 manques (anglais, issue templates)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/src/content/docs/audit/2026-06-29-best-practices-badge-answer-sheet.md
Due: format

docs(docs): answer-sheet best practices à jour — 0 unmet (réglages github faits)
  docs/src/content/docs/audit/2026-06-29-best-practices-badge-answer-sheet.md
Due: format

docs(docs): badge best practices (famille sécurité) + url réelles dans l'answer-sheet
  README.md
  docs/src/content/docs/audit/2026-06-29-best-practices-badge-answer-sheet.md
Due: format

docs(docs): ajouter l'url release_notes (page releases github) à l'answer-sheet
  docs/src/content/docs/audit/2026-06-29-best-practices-badge-answer-sheet.md
Due: format

docs(docs): ajouter l'url report_archive (archive issues cherchable) à l'answer-sheet
  docs/src/content/docs/audit/2026-06-29-best-practices-badge-answer-sheet.md
Due: format

feat(infra): étendre sentry (error-tracking) aux 3 apps manquantes
  apps/atlas-dashboard/package.json
  apps/atlas-dashboard/src/hooks.client.ts
  apps/atlas-dashboard/src/hooks.server.test.ts
  apps/atlas-dashboard/src/hooks.server.ts
  apps/crf-dashboard/package.json
  apps/crf-dashboard/src/hooks.client.ts
  apps/crf-dashboard/src/hooks.server.test.ts
  apps/crf-dashboard/src/hooks.server.ts
  apps/sillage/package.json
  apps/sillage/src/hooks.client.ts
  apps/sillage/src/hooks.server.ts
  apps/sillage/tests/integration/hooks.server.test.ts
  docs/src/content/docs/quality/normes.md
  pnpm-lock.yaml
Due: format, lint

docs(docs): faisabilité silver/gold best practices + quick-wins gouvernance
  CONTRIBUTING.md
  GOVERNANCE.md
  ROADMAP.md
  docs/src/content/docs/audit/2026-06-30-best-practices-silver-gold-faisabilite.md
  docs/src/content/docs/decisions/0086-posture-paliers-best-practices.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/decisions/parcours.md
Due: format

docs: requalifier crf-logs en cache de données externes (hors facteur xi)
  docs/src/content/docs/audit/2026-06-04-cloud-native.md
  docs/src/content/docs/decisions/0040-caches-flux-backing-service-vs-fichier.md
  docs/src/content/docs/plans/2026-06-04-resorption-cloud-native.md
  docs/src/content/docs/quality/normes.md
Due: format

ci(ci): signer les artefacts de release github avec cosign keyless
  .github/workflows/release.yml
  docs/src/content/docs/decisions/0087-signature-cosign-assets-release.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/decisions/parcours.md
Due: format

ci(ci): utiliser find au lieu de ls pour le tarball (shellcheck sc2012)
  .github/workflows/release.yml
Due: format

fix(dataops): tolérer un crash de kubeconform dans validate.sh (segfault ci)
  dataops/citation-dagster/deploy/validate.sh
  dataops/mediawatch-dagster/deploy/validate.sh
Due: none

docs: hygiène de citabilité + frontière cluster outillée (#364 phases 0-2)
  CITATION.cff
  docs/src/content/docs/decisions/0033-contrat-interface-cluster.md
  docs/src/content/docs/decisions/index-systeme.md
  docs/src/content/docs/decisions/index.md
Due: format

test: garde-fou de couverture à 80 % honnête, dérogations par paquet (#255)
  cli/crf/vitest.config.ts
  cli/net/src/commands/diagnostics.test.ts
  cli/net/src/commands/index.ts
  cli/net/src/config/context.ts
  cli/net/vitest.config.ts
  docs/src/content/docs/decisions/0019-derogations-workspace-audit.md
  lefthook.yml
  scripts/audit/coverage-report.mjs
  scripts/audit/coverage-report.test.mjs
Due: format, lint

fix(dataops): revenir à python:3.10-slim (parité cluster, anti-dérive dependabot)
  dataops/citation-dagster/Dockerfile
  dataops/mediawatch-dagster/Dockerfile
Due: none

fix(crf-openapi): décompresser via fflate au lieu du binaire unzip
  cli/crf-openapi/package.json
  cli/crf-openapi/src/extractor/extract-zip.test.ts
  cli/crf-openapi/src/extractor/index.ts
  pnpm-lock.yaml
Due: format, lint

fix(ci): rendre le hook commit-msg portable (sed sans -i bsd)
  lefthook.yml
Due: format

docs: adr 0088 — portabilité os/architecture/libc
  docs/src/content/docs/decisions/0088-portabilite-os-architecture.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/decisions/parcours.md
Due: format

ci(deps): garde dependabot contre le bump de minor python/php (adr 0088)
  .github/dependabot.yml
  docs/src/content/docs/decisions/0088-portabilite-os-architecture.md
Due: format

fix(crf-openapi): créer le tmp d'extraction via mkdtempsync (codeql temp file)
  cli/crf-openapi/src/extractor/index.ts
Due: format, lint

docs: mention de la portabilité dans le readme (renvoi adr 0088)
  README.md
Due: format

fix(ci): séparer build attesté (push) et build chargé (scan/smoke) dans images
  .github/workflows/images.yml
Due: format

docs: adr 0089 — métriques prometheus des services via effect (#400)
  docs/src/content/docs/decisions/0089-metriques-prometheus-services.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/decisions/parcours.md
Due: format

feat(crf): exposer /metrics prometheus via effect (adr 0089, #400)
  cli/crf/src/commands/server/index.ts
  pnpm-lock.yaml
  services/crf/package.json
  services/crf/src/server/app.ts
  services/crf/src/server/boot.test.ts
  services/crf/src/server/boot.ts
  services/crf/src/server/index.ts
  services/crf/src/server/metrics.test.ts
  services/crf/src/server/metrics.ts
  services/crf/src/server/routes/metrics.ts
Due: format, lint

fix(crf): corriger le binding lazy, l'attribution et instrumenter /metrics (revue adr 0089)
  docs/src/content/docs/decisions/0089-metriques-prometheus-services.md
  services/crf/src/server/app.test.ts
  services/crf/src/server/app.ts
  services/crf/src/server/boot.test.ts
  services/crf/src/server/boot.ts
  services/crf/src/server/metrics.ts
  services/crf/src/server/middleware/metrics-http.ts
Due: format, lint

docs: spike a11y — écarter lighthouse/pa11y au profit d'axe-core (#298)
  docs/src/content/docs/audit/2026-06-30-spike-outil-a11y-externe.md
  docs/src/content/docs/audit/index.md
Due: format

feat(ui): auditer l'a11y des pages rendues via storybook test-runner (#296)
  .github/workflows/ci.yml
  docs/src/content/docs/quality/accessibilite.md
  pnpm-lock.yaml
  ui/atlas-ui/.storybook/test-runner.ts
  ui/atlas-ui/eslint.config.js
  ui/atlas-ui/package.json
  ui/atlas-ui/scripts/storybook-a11y.mjs
Due: format, lint

fix(ui): corriger les violations wcag aa révélées par l'audit page (#296)
  ui/atlas-ui/src/lib/AuthenticatedHome.svelte
  ui/atlas-ui/src/lib/HorizontalScroller.svelte
  ui/atlas-ui/src/lib/ProjectsCarousel.svelte
  ui/atlas-ui/src/lib/QuartoProjectCard.svelte
  ui/atlas-ui/src/lib/QuestionnairesInvite.svelte
Due: format, lint, svelte:check

ci(deps): étendre l'override uuid à la plage du test-runner (a11y, #296)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

fix(ci): merger la pr de version en --merge (ruleset main interdit --squash)
  .github/workflows/release.yml
Due: format

fix(ui): fiabiliser l'audit a11y en ci (warm-up des modules + retries jest)
  pnpm-lock.yaml
  ui/atlas-ui/.storybook/test-runner-jest.config.js
  ui/atlas-ui/.storybook/test-runner-retry.js
  ui/atlas-ui/eslint.config.js
  ui/atlas-ui/package.json
  ui/atlas-ui/scripts/storybook-a11y.mjs
  ui/atlas-ui/tsconfig.json
Due: format, lint

ci(infra): cacher la db de vulnérabilités trivy (perf + résilience rate-limit)
  .github/workflows/images.yml
Due: format

ci(infra): vérifier le checksum sha256 de trivy et gitleaks à l'installation
  .github/workflows/gitleaks.yml
  .github/workflows/images.yml
Due: format

ci(infra): durcir dependency-review à fail-on-severity moderate
  .github/workflows/dependency-review.yml
Due: format

ci: retirer le job a11y de ci (storybook ko sous rolldown-vite), garder l'audit local
  .github/workflows/ci.yml
  docs/src/content/docs/quality/accessibilite.md
Due: format

fix(ci): propager les échecs de publication github packages (release)
  scripts/release/publish-packages.sh
Due: none

docs: provenance npm limitée au registre primaire + commitlint local (adr 0017)
  CLAUDE.md
  docs/src/content/docs/decisions/0017-releases-npm-oidc-deux-registres.md
Due: format

docs: acter l'exception lefthook:0 du bot de release (adr 0015)
  docs/src/content/docs/decisions/0015-hooks-git-lefthook-jamais-bypass.md
Due: format

ci(infra): factoriser docs.yml via l'action composite, aligner les pins
  .github/actions/setup-workspace/action.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: format

perf(ci): ne pas reconstruire la doc sur push main et retirer audit:versions du gate
  .github/workflows/ci.yml
Due: format

perf(ci): glob-gate typecheck/svelte:check en pre-commit
  lefthook.yml
Due: format
