Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, svelte:check

lefthook.yml:

# Lefthook configuration for Atlas
# Documentation: https://github.com/evilmartians/lefthook

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    format:
      run: pnpm format:check
      glob: '*.{js,ts,svelte,json,yaml,yml,md,css,html}'

    lint:
      run: pnpm lint
      glob: '*.{js,ts,svelte}'

    cpd:
      run: pnpm audit:duplicates

    knip:
      run: pnpm audit:unused

    test:
      run: pnpm test:coverage

    typecheck:
      run: pnpm typecheck

    svelte:check:
      run: pnpm svelte:check
      glob: '*.svelte'

pre-push:
  commands:
    check-branch:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          echo "❌ Push direct sur main interdit. Utilisez une branche et une PR."
          exit 1
        fi
      priority: 1

    check-sync:
      run: |
        git fetch origin --quiet
        if ! git merge-base --is-ancestor origin/main HEAD 2>/dev/null; then
          echo "⚠️  Votre branche n'est pas à jour avec main."
          echo "   Exécutez: git fetch origin && git rebase origin/main"
        fi
      priority: 1

    check-audit:
      run: pnpm audit:security
      priority: 2

    check-licenses:
      run: pnpm audit:licenses
      priority: 2

    check-lockfile:
      run: pnpm install --frozen-lockfile
      priority: 2

docs: document redcap api source sections
  cli/redcap-openapi/upstream/API_CODE_SECTIONS.md
Due: format

docs: add public logo assets
  docs/public/logos
  docs/public/logos/cptmp.png
  docs/public/logos/eunicoast.png
  docs/public/logos/france-2030.png
  docs/public/logos/region-normandie.jpg
  docs/public/logos/ulhn.svg
Due: none

chore: add empty changeset for docs updates
  .changeset/redcap-api-docs-assets.md
Due: format

chore: remove empty changeset
  .changeset/redcap-api-docs-assets.md
Due: format

chore: clean vitepress temporary files
  package.json
Due: format

chore: add missing env example files
  .env.dev.appwrite.example
  .env.example
  .env.prod.appwrite.example
  apps/find-an-expert/.env.example
  apps/redcap-dashboard/.env.example
  sandbox/redcap-sandbox/docker/config/.env.test.example
Due: none

chore: filter generated files from others script
  package.json
Due: format

chore: remove redcap openapi upstream docs
  cli/redcap-openapi/.gitignore
  cli/redcap-openapi/upstream/.gitignore
  cli/redcap-openapi/upstream/API_CODE_SECTIONS.md
  cli/redcap-openapi/upstream/README.md
Due: format

test: improve redcap api contract coverage
  cli/redcap-openapi/specs/versions/redcap-16.1.9.yaml
  cli/redcap-openapi/src/cli/index.ts
  cli/redcap-openapi/src/extractor/index.ts
  sandbox/redcap-sandbox/tests/api-smoke.ts
  sandbox/redcap-sandbox/tests/contract/api-contract.test.ts
  sandbox/redcap-sandbox/tests/fixtures/setup-test-projects.ts
  sandbox/redcap-sandbox/tests/types.d.ts
Due: format, lint

docs: clarify redcap project status
  cli/redcap-openapi/README.md
Due: format

test: automate redcap docker contract workflow
  sandbox/redcap-sandbox/docker/config/.env.test
  sandbox/redcap-sandbox/docker/docker-compose.yml
  sandbox/redcap-sandbox/package.json
  sandbox/redcap-sandbox/scripts/install-redcap.sh
  sandbox/redcap-sandbox/scripts/prepare-redcap-source.sh
  sandbox/redcap-sandbox/scripts/test-contract.sh
  sandbox/redcap-sandbox/tests/fixtures/projects.json
  sandbox/redcap-sandbox/tests/fixtures/setup-test-projects.ts
  sandbox/redcap-sandbox/vitest.contract.config.ts
Due: format, lint

test: align redcap contract assertions
  sandbox/redcap-sandbox/tests/contract/api-contract.test.ts
Due: format, lint

chore: add redcap contract changeset
  .changeset/redcap-contract-coverage.md
Due: format

chore: version packages (#122)
  .changeset/redcap-contract-coverage.md
  cli/redcap-openapi/CHANGELOG.md
  cli/redcap-openapi/package.json
  sandbox/redcap-sandbox/CHANGELOG.md
  sandbox/redcap-sandbox/package.json
Due: format

test: raise coverage thresholds to 90% across packages
  packages/appwrite/src/index.test.ts
  packages/appwrite/vitest.config.ts
  packages/atlas-stats/vitest.config.ts
  packages/auth/src/index.test.ts
  packages/auth/vitest.config.ts
  packages/fetch-one-api-page/vitest.config.ts
  packages/fetch-openalex/src/api.test.ts
  packages/fetch-openalex/src/helpers.test.ts
  packages/fetch-openalex/src/works.test.ts
  packages/fetch-openalex/vitest.config.ts
  packages/openalex/src/config.test.ts
  packages/openalex/src/db/index.test.ts
  packages/openalex/src/fetch/fetch-openalex-entities.test.ts
  packages/openalex/src/fetch/fetch-openalex.test.ts
  packages/openalex/vitest.config.ts
  packages/redcap-client/src/client.test.ts
  packages/redcap-client/vitest.config.ts
  packages/redcap-logs/src/api.test.ts
  packages/redcap-logs/src/cache.test.ts
  packages/redcap-logs/src/net-diagnostics.test.ts
  packages/redcap-logs/vitest.config.ts
  packages/validate-openalex/src/actions/actors.test.ts
  packages/validate-openalex/src/events/builder.test.ts
  packages/validate-openalex/src/tools/index.test.ts
  packages/validate-openalex/vitest.config.ts
Due: format, lint

refactor(openalex): drop defensive ?? on guaranteed array accesses
  packages/openalex/src/group/helpers.ts
  packages/openalex/src/group/index.ts
  packages/openalex/vitest.config.ts
Due: format, lint

add cli architecture changeset
  .changeset/quiet-cli-paths.md
Due: format

chore(researcher-profiles): scope cli eslint relaxations to local layout
  cli/researcher-profiles/eslint.config.js
  packages/researcher-profiles/src/services/csv.ts
  packages/researcher-profiles/src/services/embedding-profile.test.ts
  packages/researcher-profiles/src/services/embedding-profile.ts
  packages/researcher-profiles/src/services/ensemble.test.ts
  packages/researcher-profiles/src/services/file-extractor.test.ts
  packages/researcher-profiles/src/services/file-extractor.ts
  packages/researcher-profiles/src/services/match-formatter.test.ts
  packages/researcher-profiles/src/services/match-formatter.ts
  packages/researcher-profiles/src/services/openalex.test.ts
  packages/researcher-profiles/src/services/pdf-generator.test.ts
  packages/researcher-profiles/src/services/redcap.test.ts
  packages/researcher-profiles/src/services/scorer.test.ts
  packages/researcher-profiles/src/services/tfidf-profile.test.ts
  packages/researcher-profiles/src/services/topic-extractor.test.ts
  packages/researcher-profiles/vitest.config.ts
Due: format, lint

chore: apply prettier to recently added cli files
  cli/atlas-stats/src/config/args.ts
  cli/openalex/src/commands/index.ts
  cli/redcap-openapi/src/bin/redcap.ts
  cli/redcap-stats/src/commands/index.ts
Due: format, lint

refactor: tighten typing and clean up coverage debt in tests
  packages/openalex/src/db/index.test.ts
  packages/openalex/src/fetch/fetch-openalex-entities.test.ts
  packages/openalex/src/fetch/fetch-openalex.test.ts
  packages/redcap-logs/src/cache.test.ts
  packages/redcap-logs/src/net-diagnostics.test.ts
  packages/researcher-profiles/src/services/csv.test.ts
  packages/researcher-profiles/src/services/csv.ts
  packages/researcher-profiles/src/services/embedding-profile.test.ts
  packages/researcher-profiles/src/services/file-extractor.test.ts
  packages/researcher-profiles/src/services/openalex.test.ts
  packages/researcher-profiles/src/services/pdf-generator.test.ts
  packages/researcher-profiles/src/services/pdf-generator.ts
  packages/researcher-profiles/src/services/redcap.test.ts
  packages/researcher-profiles/src/services/topic-extractor.test.ts
  packages/researcher-profiles/vitest.config.ts
Due: format, lint

chore(researcher-profiles): add docs:pdf script and ignore generated pdf
  .gitignore
  cli/researcher-profiles/package.json
Due: format

chore(researcher-profiles): ignore perl and pandoc binaries in knip
  knip.json
Due: format

chore(researcher-profiles): add changeset for docs:pdf script
  .changeset/researcher-profiles-docs-pdf.md
Due: format

chore: version packages (#124)
  .changeset/quiet-cli-paths.md
  .changeset/researcher-profiles-docs-pdf.md
  cli/atlas-stats/CHANGELOG.md
  cli/atlas-stats/package.json
  cli/biblio/CHANGELOG.md
  cli/biblio/package.json
  cli/crf/CHANGELOG.md
  cli/crf/package.json
  cli/net/CHANGELOG.md
  cli/net/package.json
  cli/openalex/CHANGELOG.md
  cli/openalex/package.json
  cli/redcap-openapi/CHANGELOG.md
  cli/redcap-openapi/package.json
  cli/redcap-stats/CHANGELOG.md
  cli/redcap-stats/package.json
  cli/researcher-profiles/CHANGELOG.md
  cli/researcher-profiles/package.json
Due: format

chore: align changeset frontmatters with final package names
  .changeset/rename-openalex-types-to-citation-types.md
  .changeset/rename-redcap-cluster-to-crf.md
Due: format

feat(crf): add npm deprecation script and data dictionary export tooling
  .gitignore
  package.json
  pnpm-lock.yaml
  scripts/crf-trame/export-data-dictionaries.ts
  scripts/crf-trame/redact-patterns.json
  scripts/release/deprecate-renamed-packages.sh
Due: format, lint

feat(crf): generate redcap test fixtures with fake names
  fixtures/crf-projects/README.md
  fixtures/crf-projects/atlas-amarre-v1.csv
  fixtures/crf-projects/atlas-ecrin-v1-beta.csv
  fixtures/crf-projects/atlas-ecrin-v2-alpha.csv
  fixtures/crf-projects/index.json
  package.json
  scripts/crf-trame/fake-names-map.json
  scripts/crf-trame/generate-test-fixtures.ts
Due: format, lint

chore: override fast-uri and devalue to patch high-severity cves
  package.json
  pnpm-lock.yaml
Due: format

fix(docs): unblock vitepress build after package renames
  .npmrc
  cli/crf-openapi/src/extractor/index.ts
  docs/.vitepress/config.ts
  docs/projects/ecrin/dev/index.md
  docs/projects/ecrin/index.md
  docs/public/openapi
Due: format, lint

fix(crf-client): normalise trailing slash on api url
  packages/crf-client/src/client.test.ts
  packages/crf-client/src/client.ts
Due: format, lint

chore(ci): post-migration devsecops hardening
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/gitleaks.yml
  .github/workflows/release.yml
  .gitleaks.toml
  CONTRIBUTING.md
  SECURITY.md
  apps/find-an-expert/.env.example
  apps/find-an-expert/src/lib/server/citation/index.ts
  lefthook.yml
Due: format, lint

fix(ci): use gitleaks oss binary instead of paid action
  .github/workflows/gitleaks.yml
Due: format
