Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm format
  stage_fixed: true

lint:
  run: pnpm lint:fix
  stage_fixed: true

chore: update logo paths and cleanup
  packages/amarre/src/lib/ui/MainTitle.svelte
  packages/amarre/vite.config.ts
  packages/atlas-auth/src/validators.test.ts
  packages/ecrin/.env.example
  packages/ecrin/vite.config.ts
  packages/find-an-expert/vite.config.ts
Due: format, lint

chore(redcap-openapi): move redcap source zips to upstream/source
  packages/redcap-openapi/upstream/.gitignore
Due: none

chore: remove private field from packages
  .changeset/remove-private-field.md
  packages/amarre/package.json
  packages/atlas-appwrite/package.json
  packages/atlas-auth/package.json
  packages/atlas-errors/package.json
  packages/atlas-validators/package.json
  packages/ecrin/package.json
  packages/find-an-expert/package.json
  packages/logos/package.json
  packages/redcap-sandbox/package.json
  packages/shared-config/package.json
Due: format

ci: add env vars for sveltekit apps typecheck/build
  .github/workflows/ci.yml
Due: format

ci: copy .env.example files for sveltekit apps
  .github/workflows/ci.yml
Due: format

chore: remove unused tsconfig.base.json
  tsconfig.base.json
Due: format

chore: remove unused root tsconfig.json
  tsconfig.json
Due: format

chore: remove unused .spectral.yaml and references
  .spectral.yaml
  docs/api/@univ-lehavre/atlas-crf/index.md
  packages/crf/README.md
Due: format

chore: remove unused vitest.config.ts and format .gitignore
  .gitignore
  vitest.config.ts
Due: format, lint

chore: hoist .prettierignore to root
  .prettierignore
  packages/crf/.prettierignore
  packages/net/.prettierignore
  packages/redcap-openapi/.prettierignore
Due: none

chore: reorganize scripts and add taze for version auditing
  .dockerignore
  .github/workflows/ci.yml
  lefthook.yml
  package.json
  packages/atlas-appwrite/package.json
  packages/atlas-auth/package.json
  packages/atlas-errors/package.json
  packages/atlas-validators/package.json
  packages/crf/package.json
  packages/ecrin/package.json
  packages/net/package.json
  packages/redcap-core/package.json
  pnpm-lock.yaml
Due: format

chore: add changeset for test:coverage scripts
  .changeset/reorganize-scripts.md
Due: format

fix(ci): add build step before typecheck and test jobs
  .github/workflows/ci.yml
  knip.json
  package.json
  pnpm-lock.yaml
Due: format

fix: add missing env vars to find-an-expert .env.example
  packages/find-an-expert/.env.example
Due: none

feat(config): add unified audit script and svelte:check
  .changeset/audit-scripts.md
  .github/workflows/ci.yml
  .jscpd.json
  docs/.vitepress/config.ts
  docs/guide/dev/audit.md
  lefthook.yml
  package.json
  turbo.json
  typedoc.json
Due: format, lint

fix(config): exclude upstream directory from taze analysis
  package.json
Due: format

fix(ci): resolve CI build failures
  .changeset/audit-scripts.md
  .changeset/config.json
  .changeset/docs-openapi-vitepress.md
  .changeset/shared-packages-factorization.md
  .github/workflows/docs.yml
  packages/find-an-expert/.env.example
  packages/find-an-expert/src/lib/content/core/brand.test.ts
  packages/find-an-expert/src/lib/server/auth/auth.test.ts
  packages/find-an-expert/src/lib/server/health/health.test.ts
  packages/find-an-expert/src/lib/server/user/user.test.ts
  packages/find-an-expert/vite.config.ts
Due: format, lint

fix(config): use root .prettierignore via --ignore-path
  .prettierignore
  packages/amarre/package.json
  packages/ecrin/package.json
  packages/find-an-expert/package.json
Due: format

fix(ci): add missing PUBLIC_LOGIN_URL to find-an-expert .env.example
  packages/find-an-expert/.env.example
Due: none

Path conditions:
  format: any of: *.{js,ts,svelte,json,yaml,yml,md,css,html}
  lint: any of: *.{js,ts,svelte}
