Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, svelte:check

format:
  run: pnpm format:check

lint:
  run: pnpm lint

svelte:check:
  run: pnpm svelte:check

fix(docs): compter tous les paquets (43, pas 13) dans les statistiques (#286)
  docs/.vitepress/data/repo-stats.data.ts
  scripts/docs/generate-repo-stats.ts
  scripts/docs/lib/types.ts
Due: format, lint

docs: parcours thématique des ADR pour les nouveaux venus (#287)
  docs/.vitepress/config.ts
  docs/decisions/README.md
  docs/decisions/parcours.md
Due: format, lint

docs: adr 0036 — migrer la documentation vers astro starlight
  docs/.vitepress/config.ts
  docs/decisions/0036-migration-vitepress-astro-starlight.md
  docs/decisions/README.md
  docs/decisions/parcours.md
Due: format, lint

docs: ADR 0036 — migrer la documentation vers Astro Starlight (#288)
  docs/.vitepress/config.ts
  docs/decisions/0036-migration-vitepress-astro-starlight.md
  docs/decisions/README.md
  docs/decisions/parcours.md
Due: format, lint

feat(docs): socle astro starlight (étape 1 migration, adr 0036)
  docs-astro/.gitignore
  docs-astro/astro.config.mjs
  docs-astro/package.json
  docs-astro/src/content.config.ts
  docs-astro/src/content/docs/index.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint

feat(docs): inclure les readme de paquets en place (étape 3, adr 0036)
  docs-astro/src/content.config.ts
  docs-astro/src/pages/packages/[...slug].astro
Due: format, lint

feat(docs): porter les composants vue (étape 4, adr 0036)
  docs-astro/.gitignore
  docs-astro/package.json
  docs-astro/src/components/CrfApiExplorer.vue
  docs-astro/src/components/PackageTable.vue
  docs-astro/src/components/RepoDynamics.vue
  docs-astro/src/components/charts/TimelineChart.vue
  docs-astro/src/components/kpi/ActivityBadge.vue
  docs-astro/src/components/kpi/DocBadge.vue
  docs-astro/src/components/kpi/PackagesBadge.vue
  docs-astro/src/components/kpi/kpi-card.css
  docs-astro/src/content/docs/architecture/monorepo.mdx
  docs-astro/src/content/docs/quality/documentation.mdx
  docs-astro/src/content/docs/quality/tableau-de-bord.mdx
  docs-astro/src/data/repo-stats-types.ts
  docs-astro/src/data/repo-stats.ts
  pnpm-lock.yaml
Due: format, lint

feat(docs): intégrer la référence api typedoc (étape 5, adr 0036)
  docs-astro/astro.config.mjs
  docs-astro/src/content.config.ts
  docs-astro/src/pages/api/[...slug].astro
Due: format, lint

fix(docs): retirer monorepo.md résiduel (remplacé par .mdx, étape 4)
  docs-astro/src/content/docs/architecture/monorepo.md
Due: format

revert(docs): retirer le kpi history (page d'évolution mensuelle)
  docs-astro/src/content/docs/quality/evolution-git.md
  docs/quality/evolution-git.md
  scripts/docs/generate-kpi-history.ts
Due: format, lint

feat(docs): réécrire audit:docs pour starlight et rediriger les générateurs (étape 6)
  docs-astro/src/content/docs/architecture/comprendre-le-code.md
  docs-astro/src/content/docs/architecture/data-flow.md
  docs-astro/src/content/docs/architecture/packages.md
  docs-astro/src/content/docs/collaboration/parametrage-github.md
  docs-astro/src/content/docs/decisions/0031-outil-generique-open-source.md
  docs-astro/src/content/docs/decisions/0035-depot-generaliste-ouvert.md
  docs-astro/src/content/docs/quality/tableau-de-bord.mdx
  docs/.vitepress/config.ts
  docs/quality/tableau-de-bord.md
  package.json
  scripts/audit/documentation.mjs
  scripts/audit/documentation.test.mjs
  scripts/docs/generate-packages-map.mjs
  scripts/docs/generate-repo-stats.ts
  scripts/docs/migrate-to-starlight.mjs
Due: format, lint

docs: page bilan des normes et pratiques appliquées au dépôt
  docs/src/content/docs/quality/normes.md
Due: format

build(deps): autoriser les licences build-only de la doc astro
  scripts/audit/licenses.mjs
Due: none

build(deps): aligner dependency-review sur les exceptions licences astro
  .github/workflows/dependency-review.yml
Due: format

build(deps): exclure sharp (lgpl) plutôt que l'exempter
  .github/workflows/dependency-review.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/audit/licenses.mjs
Due: format

fix: corriger les chemins vitepress périmés dans l'outillage doc
  lefthook.yml
  scripts/docs/generate-repo-stats.ts
Due: format, lint

feat: documenter les paquets racines dans la carte des paquets
  docs/src/content/docs/architecture/packages.md
  scripts/docs/generate-packages-map.mjs
Due: format

fix: corriger quatre régressions de la migration astro starlight
  docs/astro.config.mjs
  docs/package.json
  docs/src/components/PackageTable.vue
  docs/src/components/RepoDynamics.vue
  docs/src/components/kpi/ActivityBadge.vue
  docs/src/components/kpi/kpi-card.css
  docs/src/content/docs/index.md
  docs/src/content/docs/index.mdx
  pnpm-lock.yaml
Due: format

fix: corriger les avertissements de build de la doc (logos, langage env)
  apps/sillage/PROJECT.md
  cli/crf-openapi/README.md
  config/shared-config/README.md
  packages/citation-validate/README.md
  packages/citation/README.md
  services/crf/README.md
Due: format

fix: corriger les liens et images morts révélés par un audit complet du site
  config/shared-config/README.md
  docs/astro.config.mjs
  docs/public/favicon.svg
  docs/src/content.config.ts
  packages/baas/README.md
  packages/crf-core/README.md
  packages/errors/README.md
  packages/net/README.md
  packages/validators/README.md
  services/crf/README.md
Due: format, lint

fix(docs): aligner les chiffres des encarts de statistiques
  docs/src/components/kpi/kpi-card.css
Due: format

docs: ajouter une section accessibilité
  docs/src/content/docs/quality/accessibilite.md
  docs/src/content/docs/quality/normes.md
Due: format

docs: checklist de pré-déploiement (gate rgpd découvrable, phase 0)
  docs/src/content/docs/collaboration/checklist-deploiement.md
  docs/src/content/docs/decisions/0030-rgpd-profilage-collaborations.md
Due: format

docs: nommer la norme de référence accessibilité (wcag/rgaa/en 301 549)
  docs/src/content/docs/quality/accessibilite.md
Due: format

docs: accessibilité + checklist de pré-déploiement (gate rgpd) (#291)
  docs/src/content/docs/collaboration/checklist-deploiement.md
  docs/src/content/docs/decisions/0030-rgpd-profilage-collaborations.md
  docs/src/content/docs/quality/accessibilite.md
  docs/src/content/docs/quality/normes.md
Due: format

docs: ajouter un lien vers les milestones dans le readme et réparer les liens doc
  README.md
Due: format

docs: lien vers les milestones dans le readme + réparer les liens doc (#299)
  README.md
Due: format

docs: lier la page accessibilité au milestone de suivi
  docs/src/content/docs/quality/accessibilite.md
Due: format

docs: lier la page accessibilité au milestone de suivi (#300)
  docs/src/content/docs/quality/accessibilite.md
Due: format

fix(ui): rendre les modales bootstrap inertes à l'état fermé (a11y)
  docs/src/content/docs/quality/accessibilite.md
  ui/atlas-ui/src/lib/CreateRequest.svelte
  ui/atlas-ui/src/lib/Signup.svelte
  ui/atlas-ui/src/lib/modal-inert.ts
  ui/atlas-ui/tests/forms.a11y.test.ts
Due: format, lint, svelte:check

fix(ui): rendre les modales bootstrap inertes à l'état fermé (a11y) (#301)
  docs/src/content/docs/quality/accessibilite.md
  ui/atlas-ui/src/lib/CreateRequest.svelte
  ui/atlas-ui/src/lib/Signup.svelte
  ui/atlas-ui/src/lib/modal-inert.ts
  ui/atlas-ui/tests/forms.a11y.test.ts
Due: format, lint, svelte:check

feat(ui): épingler le niveau wcag aa des tests d'accessibilité (adr 0038)
  apps/find-an-expert/src/lib/test-utils/axe.ts
  apps/find-an-expert/src/lib/ui/layout/Hero.a11y.test.ts
  config/shared-config/a11y/index.js
  config/shared-config/package.json
  docs/src/content/docs/decisions/0038-epingler-niveau-wcag-tests-a11y.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/quality/accessibilite.md
  scripts/lint-staged.mjs
  ui/atlas-ui/tests/TopNavbar.a11y.test.ts
  ui/atlas-ui/tests/forms.a11y.test.ts
Due: format, lint

feat(ui): épingler le niveau wcag aa des tests d'accessibilité (adr 0038) (#302)
  apps/find-an-expert/src/lib/test-utils/axe.ts
  apps/find-an-expert/src/lib/ui/layout/Hero.a11y.test.ts
  config/shared-config/a11y/index.js
  config/shared-config/package.json
  docs/src/content/docs/decisions/0038-epingler-niveau-wcag-tests-a11y.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/quality/accessibilite.md
  scripts/lint-staged.mjs
  ui/atlas-ui/tests/TopNavbar.a11y.test.ts
  ui/atlas-ui/tests/forms.a11y.test.ts
Due: format, lint

docs: archiver l'audit cloud-native et acter une cadence trimestrielle (adr 0039)
  .github/workflows/audit-reminder.yml
  docs/src/content/docs/audit/2026-06-04-cloud-native.md
  docs/src/content/docs/audit/index.md
  docs/src/content/docs/decisions/0039-cadence-audit-transverse.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/quality/normes.md
Due: format

docs: audit cloud-native (12-factor) + cadence d'audit trimestrielle (adr 0039) (#310)
  .github/workflows/audit-reminder.yml
  docs/src/content/docs/audit/2026-06-04-cloud-native.md
  docs/src/content/docs/audit/index.md
  docs/src/content/docs/decisions/0039-cadence-audit-transverse.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/quality/normes.md
Due: format

Path conditions:
  format: any of: *.{js,ts,svelte,json,yaml,yml,md,css,html}
  lint: any of: *.{js,ts,svelte}
  svelte:check: any of: *.svelte
