Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, svelte:check

format:
  run: pnpm format:check

lint:
  run: pnpm lint

svelte:check:
  run: pnpm svelte:check

ci: phase 1 — réparer le filet de coverage
  scripts/audit/coverage-report.mjs
  turbo.json
Due: format

ci: invalider la clé du cache turbo (v1→v2) pour purger les outputs vides
  .github/workflows/ci.yml
Due: format

fix(config): activer le reporter json de vitest aussi en ci
  config/shared-config/vitest/index.js
Due: format, lint

ci: phase 1 — réparer le filet de coverage (#231)
  .github/workflows/ci.yml
  config/shared-config/vitest/index.js
  docs/decisions/0019-derogations-workspace-audit.md
  lefthook.yml
  package.json
  packages/atlas-stats/vitest.config.ts
  scripts/audit/coverage-report.mjs
  scripts/audit/coverage-report.test.mjs
  turbo.json
Due: format, lint

docs: plan de résorption agentique-ready pour audit 2026-05-29 (#230)
  TODO.md
  docs/.vitepress/config.ts
  docs/audit/2026-05-29.md
  docs/audit/README.md
  docs/plans/2026-05-30-resorption-validation.md
  docs/plans/2026-05-30-resorption.md
  docs/plans/README.md
Due: format, lint

test: phase 2 — resserrer les seuils au réel observé
  apps/amarre/vitest.config.ts
  apps/ecrin/vitest.config.ts
  apps/find-an-expert/vite.config.ts
  assets/logos/assets.test.ts
  assets/logos/package.json
  assets/logos/vitest.config.ts
  cli/crf/vitest.config.ts
  cli/net/vitest.config.ts
  docs/decisions/0019-derogations-workspace-audit.md
  pnpm-lock.yaml
  services/crf/vitest.config.ts
Due: format, lint

test: phase 2 — resserrer les seuils au réel observé (#232)
  apps/amarre/vitest.config.ts
  apps/ecrin/vitest.config.ts
  apps/find-an-expert/vite.config.ts
  assets/logos/assets.test.ts
  assets/logos/package.json
  assets/logos/vitest.config.ts
  cli/crf/vitest.config.ts
  cli/net/vitest.config.ts
  docs/decisions/0019-derogations-workspace-audit.md
  pnpm-lock.yaml
  services/crf/vitest.config.ts
Due: format, lint

fix(ci): correct upload-artifact sha in e2e workflow
  .github/workflows/e2e.yml
Due: format

fix(amarre-sandbox): drop duplicate redcap-net network declaration
  sandbox/amarre-sandbox/docker-compose.yaml
Due: format

fix(ci): e2e — skip propre quand redcap source absent
  .github/workflows/e2e.yml
Due: format

fix(ci): e2e — skip propre quand REDCap source absent (#236)
  .github/workflows/e2e.yml
Due: format

chore(ci): phase 6 — règles audit:structure et adr alignés
  docs/.vitepress/config.ts
  docs/decisions/0011-paquets-internes-private.md
  docs/decisions/0021-sandbox-deps-policy.md
  docs/decisions/0022-naming-convention.md
  docs/decisions/README.md
  scripts/audit/workspace-structure.mjs
Due: format, lint

chore(ci): phase 6 — règles audit:structure et ADR alignés (#237)
  docs/.vitepress/config.ts
  docs/decisions/0011-paquets-internes-private.md
  docs/decisions/0021-sandbox-deps-policy.md
  docs/decisions/0022-naming-convention.md
  docs/decisions/README.md
  scripts/audit/workspace-structure.mjs
Due: format, lint

chore(crf-sandbox): supprimer crf-sandbox-core scaffold inutilisé
  docs/decisions/0019-derogations-workspace-audit.md
  pnpm-lock.yaml
  sandbox/crf-sandbox-core/README.md
  sandbox/crf-sandbox-core/package.json
  sandbox/crf-sandbox-core/tsconfig.json
Due: format

chore(crf-sandbox): supprimer crf-sandbox-core scaffold inutilisé (#238)
  docs/decisions/0019-derogations-workspace-audit.md
  pnpm-lock.yaml
  sandbox/crf-sandbox-core/README.md
  sandbox/crf-sandbox-core/package.json
  sandbox/crf-sandbox-core/tsconfig.json
Due: format

test: phase 8 — robustesse tests (msw + fast-check + suppression wrapper-only)
  apps/sillage/tests/integration/services-auth.test.ts
  packages/citation-fetch/package.json
  packages/crf-core/package.json
  packages/crf-core/src/brands/instrument.property.test.ts
  packages/crf-core/src/brands/primitives.property.test.ts
  packages/crf-core/src/brands/record.property.test.ts
  packages/crf-core/src/brands/token.property.test.ts
  packages/crf-core/src/brands/user.property.test.ts
  packages/fetch-one-api-page/eslint.config.js
  packages/fetch-one-api-page/package.json
  packages/fetch-one-api-page/src/index.spec.ts
  packages/fetch-one-api-page/tests/msw/handlers.ts
  packages/fetch-one-api-page/tests/msw/server.ts
  packages/validators/package.json
  packages/validators/src/index.property.test.ts
  pnpm-lock.yaml
Due: format, lint

test: phase 8 — robustesse tests (msw + fast-check + suppression wrapper-only) (#239)
  apps/sillage/tests/integration/services-auth.test.ts
  packages/citation-fetch/package.json
  packages/crf-core/package.json
  packages/crf-core/src/brands/instrument.property.test.ts
  packages/crf-core/src/brands/primitives.property.test.ts
  packages/crf-core/src/brands/record.property.test.ts
  packages/crf-core/src/brands/token.property.test.ts
  packages/crf-core/src/brands/user.property.test.ts
  packages/fetch-one-api-page/eslint.config.js
  packages/fetch-one-api-page/package.json
  packages/fetch-one-api-page/src/index.spec.ts
  packages/fetch-one-api-page/tests/msw/handlers.ts
  packages/fetch-one-api-page/tests/msw/server.ts
  packages/validators/package.json
  packages/validators/src/index.property.test.ts
  pnpm-lock.yaml
Due: format, lint

fix: phase 9 — réparer la chaîne ci (sync svelte-kit + dashboards + knip)
  .github/workflows/ci.yml
  apps/amarre/package.json
  apps/amarre/src/lib/errors/index.ts
  apps/amarre/src/lib/errors/mapper.ts
  apps/amarre/tests/lib/errors/mapper.test.ts
  apps/atlas-dashboard/package.json
  apps/atlas-dashboard/vitest.config.ts
  apps/crf-dashboard/package.json
  apps/crf-dashboard/vitest.config.ts
  apps/ecrin/package.json
  apps/find-an-expert/package.json
  apps/sillage/package.json
  pnpm-lock.yaml
Due: format, lint

fix: phase 9 — généraliser svelte-kit sync aux scripts lint/test des apps
  .github/workflows/ci.yml
  apps/amarre/package.json
  apps/atlas-dashboard/package.json
  apps/crf-dashboard/package.json
  apps/ecrin/package.json
  apps/find-an-expert/package.json
  apps/sillage/package.json
Due: format

feat: phase 10 — ui partagée (theming opt-in, tests atlas-ui, a11y)
  .prettierignore
  apps/amarre/tests/RUNBOOK.md
  apps/amarre/tests/ui/TopNavbar.test.ts
  apps/amarre/tests/ui/forms.test.ts
  config/shared-config/eslint/svelte.js
  docs/decisions/0019-derogations-workspace-audit.md
  docs/decisions/0023-storybook-build-casse-amont.md
  docs/decisions/README.md
  pnpm-lock.yaml
  ui/atlas-ui/.gitignore
  ui/atlas-ui/.storybook/preview.ts
  ui/atlas-ui/eslint.config.js
  ui/atlas-ui/package.json
  ui/atlas-ui/src/lib/Administrate.svelte
  ui/atlas-ui/src/lib/AnonymousHome.svelte
  ui/atlas-ui/src/lib/CardItem.svelte
  ui/atlas-ui/src/lib/Collaborate.svelte
  ui/atlas-ui/src/lib/Footer.svelte
  ui/atlas-ui/src/lib/HorizontalScroller.svelte
  ui/atlas-ui/src/lib/ProjectsCarousel.svelte
  ui/atlas-ui/src/lib/SectionTile.svelte
  ui/atlas-ui/src/lib/SignupModal.svelte
  ui/atlas-ui/src/lib/Theming.stories.ts
  ui/atlas-ui/src/lib/index.ts
  ui/atlas-ui/src/theme/ThemeProvider.svelte
  ui/atlas-ui/src/theme/ThemingDemo.svelte
  ui/atlas-ui/src/theme/index.ts
  ui/atlas-ui/src/theme/theme.css
  ui/atlas-ui/tests/TopNavbar.a11y.test.ts
  ui/atlas-ui/tests/TopNavbar.test.ts
  ui/atlas-ui/tests/fixtures/forms.ts
  ui/atlas-ui/tests/forms.a11y.test.ts
  ui/atlas-ui/tests/forms.test.ts
  ui/atlas-ui/tests/setup.ts
  ui/atlas-ui/vitest.config.ts
Due: format, lint, svelte:check

feat: phase 10 — ui partagée (theming opt-in, tests atlas-ui, a11y) (#241)
  .prettierignore
  apps/amarre/tests/RUNBOOK.md
  apps/amarre/tests/ui/TopNavbar.test.ts
  apps/amarre/tests/ui/forms.test.ts
  config/shared-config/eslint/svelte.js
  docs/decisions/0019-derogations-workspace-audit.md
  docs/decisions/0023-storybook-build-casse-amont.md
  docs/decisions/README.md
  pnpm-lock.yaml
  ui/atlas-ui/.gitignore
  ui/atlas-ui/.storybook/preview.ts
  ui/atlas-ui/eslint.config.js
  ui/atlas-ui/package.json
  ui/atlas-ui/src/lib/Administrate.svelte
  ui/atlas-ui/src/lib/AnonymousHome.svelte
  ui/atlas-ui/src/lib/CardItem.svelte
  ui/atlas-ui/src/lib/Collaborate.svelte
  ui/atlas-ui/src/lib/Footer.svelte
  ui/atlas-ui/src/lib/HorizontalScroller.svelte
  ui/atlas-ui/src/lib/ProjectsCarousel.svelte
  ui/atlas-ui/src/lib/SectionTile.svelte
  ui/atlas-ui/src/lib/SignupModal.svelte
  ui/atlas-ui/src/lib/Theming.stories.ts
  ui/atlas-ui/src/lib/index.ts
  ui/atlas-ui/src/theme/ThemeProvider.svelte
  ui/atlas-ui/src/theme/ThemingDemo.svelte
  ui/atlas-ui/src/theme/index.ts
  ui/atlas-ui/src/theme/theme.css
  ui/atlas-ui/tests/TopNavbar.a11y.test.ts
  ui/atlas-ui/tests/TopNavbar.test.ts
  ui/atlas-ui/tests/fixtures/forms.ts
  ui/atlas-ui/tests/forms.a11y.test.ts
  ui/atlas-ui/tests/forms.test.ts
  ui/atlas-ui/tests/setup.ts
  ui/atlas-ui/vitest.config.ts
Due: format, lint, svelte:check

docs: phase 10 — documenter le report de 10.4 (parité visuelle) et la clôture de 10.5
  docs/plans/2026-05-30-resorption.md
Due: format

docs: reporter 10.4 (parité visuelle) et clôturer 10.5 (ADR 0009) (#242)
  docs/plans/2026-05-30-resorption.md
Due: format

chore: phase 11 — build, ci, reproductibilité
  .github/workflows/ci.yml
  cli/atlas-stats/package.json
  cli/biblio/package.json
  cli/citation/package.json
  cli/crf-openapi/package.json
  cli/crf/package.json
  cli/net/package.json
  cli/researcher-profiles/package.json
  config/shared-config/package.json
  docs/decisions/0024-ranges-deps-publiables-tilde.md
  docs/decisions/README.md
  packages/auth/package.json
  packages/baas/package.json
  packages/citation-fetch/package.json
  packages/citation-types/package.json
  packages/citation-validate/package.json
  packages/citation/package.json
  packages/crf-client/package.json
  packages/crf-core/package.json
  packages/fetch-one-api-page/package.json
  packages/net/package.json
  packages/researcher-profiles/package.json
  packages/researcher-profiles/src/services/embedding-profile.ts
  pnpm-lock.yaml
  services/crf/package.json
  turbo.json
  ui/atlas-ui/src/lib/Signup.svelte
Due: format, lint, svelte:check

chore: phase 11 — build, ci, reproductibilité (#243)
  .github/workflows/ci.yml
  cli/atlas-stats/package.json
  cli/biblio/package.json
  cli/citation/package.json
  cli/crf-openapi/package.json
  cli/crf/package.json
  cli/net/package.json
  cli/researcher-profiles/package.json
  config/shared-config/package.json
  docs/decisions/0024-ranges-deps-publiables-tilde.md
  docs/decisions/README.md
  packages/auth/package.json
  packages/baas/package.json
  packages/citation-fetch/package.json
  packages/citation-types/package.json
  packages/citation-validate/package.json
  packages/citation/package.json
  packages/crf-client/package.json
  packages/crf-core/package.json
  packages/fetch-one-api-page/package.json
  packages/net/package.json
  packages/researcher-profiles/package.json
  packages/researcher-profiles/src/services/embedding-profile.ts
  pnpm-lock.yaml
  services/crf/package.json
  turbo.json
  ui/atlas-ui/src/lib/Signup.svelte
Due: format, lint, svelte:check

docs: phase 12 — format todo(owner, date), nav adr, quickstart
  README.md
  apps/amarre/eslint.config.js
  config/shared-config/eslint/base.js
  docs/.vitepress/config.ts
  packages/citation-validate/eslint.config.js
  packages/citation-validate/src/actions/actions.ts
  ui/atlas-ui/tests/forms.a11y.test.ts
Due: format, lint

docs: phase 12 — format TODO(owner, date), nav ADR, quickstart (#245)
  README.md
  apps/amarre/eslint.config.js
  config/shared-config/eslint/base.js
  docs/.vitepress/config.ts
  packages/citation-validate/eslint.config.js
  packages/citation-validate/src/actions/actions.ts
  ui/atlas-ui/tests/forms.a11y.test.ts
Due: format, lint

docs: politique de documentation consolidée et niveaux de doc
  docs/decisions/0025-documentation-multi-niveaux.md
  docs/decisions/README.md
  docs/glossary.md
  docs/index.md
  docs/quality/documentation.md
Due: format

feat: phase 13 — observabilité et performance (budget bundle, otel, sentry)
  apps/amarre/package.json
  apps/amarre/src/hooks.client.ts
  apps/amarre/src/hooks.server.ts
  apps/amarre/tests/hooks.server.test.ts
  apps/amarre/vitest.config.ts
  apps/ecrin/package.json
  apps/ecrin/src/hooks.client.ts
  apps/ecrin/src/hooks.server.test.ts
  apps/ecrin/src/hooks.server.ts
  apps/ecrin/test-utils/env-dynamic-private.ts
  apps/ecrin/test-utils/env-dynamic-public.ts
  apps/ecrin/vitest.config.ts
  apps/find-an-expert/package.json
  apps/find-an-expert/src/hooks.client.ts
  apps/find-an-expert/src/hooks.server.test.ts
  apps/find-an-expert/src/hooks.server.ts
  docs/decisions/0019-derogations-workspace-audit.md
  package.json
  pnpm-lock.yaml
  scripts/audit/licenses.mjs
  services/crf/package.json
  services/crf/src/server/app.ts
  services/crf/src/server/index.ts
  services/crf/src/server/telemetry.test.ts
  services/crf/src/server/telemetry.ts
Due: format, lint

docs: environnement de dev local et paramétrage du dépôt github
  CONTRIBUTING.md
  docs/.vitepress/config.ts
  docs/collaboration/environnement-local.md
  docs/collaboration/parametrage-github.md
  docs/collaboration/workflow.md
Due: format, lint

ci(deps): exempter @sentry/cli* (fsl-1.1-mit) du dependency-review
  .github/workflows/dependency-review.yml
Due: format

docs: ignorer les liens vers les fichiers du dépôt hors docs/ (dead links)
  docs/.vitepress/config.ts
Due: format, lint

Path conditions:
  format: any of: *.{js,ts,svelte,json,yaml,yml,md,css,html}
  lint: any of: *.{js,ts,svelte}
  svelte:check: any of: *.svelte
