Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, svelte:check

format:
  run: pnpm format:check

lint:
  run: pnpm lint

svelte:check:
  run: pnpm svelte:check

chore: add github packages auth token to .npmrc
  .npmrc
Due: none

docs: improve tsdoc coverage and add researcher-profiles to typedoc
  package.json
  packages/openalex-types/src/setter.ts
  packages/openalex/src/fetch/fetch-openalex-entities.ts
  packages/redcap-openapi/src/index.ts
  packages/validate-openalex/src/index.ts
Due: format, lint

chore(ci): use anonymized github email for changesets commits
  .github/workflows/release.yml
Due: format

chore(ci): block direct push to main via lefthook pre-push
  lefthook.yml
Due: format

chore: rename check:ci to ci:checks and update all references
  .gitignore
  README.md
  docs/guide/developers/architecture.md
  docs/projects/atlas/dependencies-audit.md
  docs/projects/atlas/index.md
  package.json
  packages/crf/package.json
  packages/net/package.json
  packages/redcap-core/package.json
Due: format

chore: untrack claude.md and deduplicate gitignore entry
  .gitignore
  CLAUDE.md
Due: format

chore: remove prepare scripts that duplicate build
  packages/crf/package.json
  packages/net/package.json
  packages/redcap-core/package.json
Due: format

test: add coverage thresholds, missing scripts, and validate-openalex unit tests
  packages/amarre/vitest.config.ts
  packages/appwrite/vitest.config.ts
  packages/crf/vitest.config.ts
  packages/fetch-one-api-page/vitest.config.ts
  packages/fetch-openalex/vitest.config.ts
  packages/net/vitest.config.ts
  packages/openalex/package.json
  packages/redcap-core/vitest.config.ts
  packages/redcap-sandbox/package.json
  packages/researcher-profiles/vitest.config.ts
  packages/validate-openalex/src/events/filter.test.ts
  packages/validate-openalex/src/prompt/transformer.test.ts
  packages/validate-openalex/src/tools/index.test.ts
  packages/validate-openalex/vitest.config.ts
  packages/validators/vitest.config.ts
Due: format, lint

test(coverage): add missing tests and raise thresholds
  lefthook.yml
  packages/amarre/package.json
  packages/amarre/vitest.config.ts
  packages/appwrite/vitest.config.ts
  packages/auth/src/hooks.test.ts
  packages/auth/vitest.config.ts
  packages/ecrin/package.json
  packages/fetch-openalex/src/institutions.test.ts
  packages/fetch-openalex/src/works.test.ts
  packages/fetch-openalex/vitest.config.ts
  packages/find-an-expert/package.json
  packages/net/src/diagnostics.spec.ts
  packages/net/src/helpers.spec.ts
  packages/net/vitest.config.ts
  packages/researcher-profiles/src/services/reference-matcher.test.ts
  packages/researcher-profiles/vitest.config.ts
  packages/validate-openalex/src/events/builder.test.ts
Due: format, lint

test(validate-openalex): extend coverage to 60%
  packages/validate-openalex/src/actions/tester.test.ts
  packages/validate-openalex/src/context/getter.test.ts
  packages/validate-openalex/src/events/builder.test.ts
  packages/validate-openalex/src/events/getter-effect.test.ts
  packages/validate-openalex/src/events/getter.test.ts
  packages/validate-openalex/src/events/tester.test.ts
  packages/validate-openalex/src/events/update.test.ts
  packages/validate-openalex/src/events/updater-effect.test.ts
  packages/validate-openalex/src/oa/getter.test.ts
  packages/validate-openalex/src/store/setter.test.ts
  packages/validate-openalex/src/store/updater.test.ts
  packages/validate-openalex/src/tools/index.test.ts
  packages/validate-openalex/vitest.config.ts
Due: format, lint

chore: add changeset for monorepo restructuring
  .changeset/monorepo-restructuring.md
Due: format

refactor(researcher-profiles): extract service layer into packages/researcher-profiles
  .changeset/researcher-profiles-split.md
  knip.json
  package.json
  packages/researcher-profiles/eslint.config.js
  packages/researcher-profiles/package.json
  packages/researcher-profiles/src/errors.ts
  packages/researcher-profiles/src/index.ts
  packages/researcher-profiles/src/services/csv.test.ts
  packages/researcher-profiles/src/services/csv.ts
  packages/researcher-profiles/src/services/file-extractor.ts
  packages/researcher-profiles/src/services/openalex.ts
  packages/researcher-profiles/src/services/pdf-generator.ts
  packages/researcher-profiles/src/services/redcap.ts
  packages/researcher-profiles/src/services/reference-matcher.test.ts
  packages/researcher-profiles/src/services/reference-matcher.ts
  packages/researcher-profiles/src/types.ts
  packages/researcher-profiles/src/utils.ts
  packages/researcher-profiles/tsconfig.json
  packages/researcher-profiles/vitest.config.ts
  pnpm-lock.yaml
  tools/cli/researcher-profiles/src/cli/from-redcap.ts
  tools/cli/researcher-profiles/src/cli/match-references.ts
  tools/cli/researcher-profiles/src/cli/match-row.ts
  tools/cli/researcher-profiles/src/cli/process-row.ts
  tools/cli/researcher-profiles/src/cli/run.ts
  tools/cli/researcher-profiles/src/cli/select-researchers.ts
  tools/cli/researcher-profiles/src/index.ts
Due: format, lint

fix(docs): fix broken openapi symlink, logo paths and pre-push docs build
  docs/.vitepress/data/api-sidebar.json
  docs/public/openapi
  lefthook.yml
  services/crf/README.md
  tools/dev/redcap-openapi/README.md
Due: format

chore: version packages (#86)
  .changeset/monorepo-restructuring.md
  .changeset/researcher-profiles-split.md
  packages/net/CHANGELOG.md
  packages/net/package.json
  packages/redcap-client/CHANGELOG.md
  packages/redcap-client/package.json
  packages/researcher-profiles/CHANGELOG.md
  packages/researcher-profiles/package.json
  services/crf/CHANGELOG.md
  services/crf/package.json
  tools/cli/crf-cli/CHANGELOG.md
  tools/cli/crf-cli/package.json
  tools/cli/net-cli/CHANGELOG.md
  tools/cli/net-cli/package.json
  tools/cli/researcher-profiles/CHANGELOG.md
  tools/cli/researcher-profiles/package.json
Due: format

chore(deps): update all dependencies across monorepo (lots 1-5)
  apps/amarre/package.json
  apps/ecrin/package.json
  apps/find-an-expert/package.json
  config/shared-config/package.json
  lefthook.yml
  package.json
  packages/appwrite/package.json
  packages/auth/package.json
  packages/fetch-one-api-page/package.json
  packages/fetch-openalex/package.json
  packages/net/package.json
  packages/openalex-types/package.json
  packages/openalex/package.json
  packages/redcap-client/package.json
  packages/redcap-core/package.json
  packages/researcher-profiles/package.json
  packages/validate-openalex/package.json
  pnpm-lock.yaml
  services/crf/package.json
  tools/cli/biblio-cli/package.json
  tools/cli/crf-cli/package.json
  tools/cli/net-cli/package.json
  tools/cli/researcher-profiles/package.json
  tools/dev/redcap-openapi/package.json
Due: format

fix(deps): patch reprism for node 24 compatibility
  package.json
  patches/reprism@0.0.11.patch
  pnpm-lock.yaml
Due: format

chore(deps): upgrade eslint to v10 and plugins across monorepo
  apps/amarre/package.json
  apps/ecrin/package.json
  apps/find-an-expert/package.json
  config/shared-config/eslint/svelte-relaxed.js
  config/shared-config/eslint/svelte.js
  config/shared-config/package.json
  package.json
  packages/appwrite/package.json
  packages/auth/package.json
  packages/errors/package.json
  packages/fetch-one-api-page/package.json
  packages/fetch-openalex/package.json
  packages/net/package.json
  packages/net/src/diagnostics.spec.ts
  packages/net/src/helpers.ts
  packages/openalex-types/package.json
  packages/openalex/package.json
  packages/redcap-client/package.json
  packages/redcap-core/package.json
  packages/researcher-profiles/package.json
  packages/researcher-profiles/src/services/file-extractor.ts
  packages/researcher-profiles/src/services/pdf-generator.ts
  packages/researcher-profiles/src/services/reference-matcher.ts
  packages/validate-openalex/package.json
  packages/validators/package.json
  pnpm-lock.yaml
  sandbox/redcap-sandbox/package.json
  services/crf/package.json
  tools/cli/biblio-cli/package.json
  tools/cli/crf-cli/package.json
  tools/cli/net-cli/package.json
  tools/cli/researcher-profiles/package.json
  tools/cli/researcher-profiles/src/cli/process-row.ts
  tools/cli/researcher-profiles/src/cli/select-researchers.ts
  tools/dev/redcap-openapi/package.json
Due: format, lint

chore(deps): upgrade vite to v8, svelte-plugin, knip, jsdom, scalar across monorepo
  apps/amarre/package.json
  apps/ecrin/package.json
  apps/find-an-expert/package.json
  pnpm-lock.yaml
  services/crf/package.json
Due: format

chore: exclude test baselines from prettier
  .prettierignore
Due: none

Path conditions:
  format: any of: *.{js,ts,svelte,json,yaml,yml,md,css,html}
  lint: any of: *.{js,ts,svelte}
  svelte:check: any of: *.svelte
