Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, svelte:check

format:
  run: pnpm format:check

lint:
  run: pnpm lint

svelte:check:
  run: pnpm svelte:check

feat: phase 13 — observabilité et performance (budget bundle, otel, sentry) (#248)
  .github/workflows/dependency-review.yml
  CONTRIBUTING.md
  apps/amarre/package.json
  apps/amarre/src/hooks.client.ts
  apps/amarre/src/hooks.server.ts
  apps/amarre/tests/hooks.server.test.ts
  apps/amarre/vitest.config.ts
  apps/ecrin/package.json
  apps/ecrin/src/hooks.client.ts
  apps/ecrin/src/hooks.server.test.ts
  apps/ecrin/src/hooks.server.ts
  apps/ecrin/test-utils/env-dynamic-private.ts
  apps/ecrin/test-utils/env-dynamic-public.ts
  apps/ecrin/vitest.config.ts
  apps/find-an-expert/package.json
  apps/find-an-expert/src/hooks.client.ts
  apps/find-an-expert/src/hooks.server.test.ts
  apps/find-an-expert/src/hooks.server.ts
  docs/.vitepress/config.ts
  docs/collaboration/environnement-local.md
  docs/collaboration/parametrage-github.md
  docs/collaboration/workflow.md
  docs/decisions/0019-derogations-workspace-audit.md
  docs/decisions/0025-documentation-multi-niveaux.md
  docs/decisions/README.md
  docs/glossary.md
  docs/index.md
  docs/quality/documentation.md
  package.json
  pnpm-lock.yaml
  scripts/audit/licenses.mjs
  services/crf/package.json
  services/crf/src/server/app.ts
  services/crf/src/server/index.ts
  services/crf/src/server/telemetry.test.ts
  services/crf/src/server/telemetry.ts
Due: format, lint

chore: phase 15 — publier les 8 clis non publiés + doc consommateur
  .changeset/publish-clis-github-packages.md
  README.md
  docs/.vitepress/config.ts
  docs/collaboration/installer-les-clis.md
Due: format, lint

chore: phase 15 — publier les 8 CLIs non publiés + doc consommateur (#250)
  .changeset/publish-clis-github-packages.md
  README.md
  docs/.vitepress/config.ts
  docs/collaboration/installer-les-clis.md
Due: format, lint

chore: version packages (#251)
  .changeset/publish-clis-github-packages.md
  cli/atlas-stats/CHANGELOG.md
  cli/atlas-stats/package.json
  cli/citation/CHANGELOG.md
  cli/citation/package.json
  cli/crf-openapi/CHANGELOG.md
  cli/crf-openapi/package.json
  cli/crf-stats/CHANGELOG.md
  cli/crf-stats/package.json
  cli/crf/CHANGELOG.md
  cli/crf/package.json
  cli/logos/CHANGELOG.md
  cli/logos/package.json
  cli/net/CHANGELOG.md
  cli/net/package.json
  cli/researcher-profiles/CHANGELOG.md
  cli/researcher-profiles/package.json
Due: format

fix(ci): publier les clis sur github packages + npm non bloquant
  docs/decisions/0017-releases-npm-oidc-deux-registres.md
  scripts/release/publish-packages.sh
Due: format

fix(ci): publier les CLIs sur GitHub Packages + npm non bloquant (#252)
  docs/decisions/0017-releases-npm-oidc-deux-registres.md
  scripts/release/publish-packages.sh
Due: format

fix(deps): ajouter repository à crf-core, logos, logos-cli (provenance npm)
  assets/logos/package.json
  cli/logos/package.json
  packages/crf-core/package.json
Due: format

fix(deps): repository field manquant → débloque la provenance npm (#253)
  assets/logos/package.json
  cli/logos/package.json
  packages/crf-core/package.json
Due: format

chore: phase 16 — supprimer todo.md après migration du backlog
  .gitleaks.toml
  TODO.md
  apps/amarre/tests/RUNBOOK.md
  docs/.vitepress/config.ts
  docs/audit/README.md
  docs/decisions/0001-devsecops-perimetre-repo-sine-die.md
  docs/decisions/0026-rgpd-perimetre.md
  docs/decisions/0027-security-champion.md
  docs/decisions/README.md
  docs/plans/2026-05-30-resorption.md
  docs/quality/security.md
Due: format, lint

chore: phase 16 — supprimer TODO.md après migration du backlog (#257)
  .gitleaks.toml
  TODO.md
  apps/amarre/tests/RUNBOOK.md
  docs/.vitepress/config.ts
  docs/audit/README.md
  docs/decisions/0001-devsecops-perimetre-repo-sine-die.md
  docs/decisions/0026-rgpd-perimetre.md
  docs/decisions/0027-security-champion.md
  docs/decisions/README.md
  docs/plans/2026-05-30-resorption.md
  docs/quality/security.md
Due: format, lint

docs: plan documentation vérifiable (miroir contrôlable du code)
  docs/.vitepress/config.ts
  docs/plans/documentation-verifiable.md
Due: format, lint

docs: plan documentation vérifiable (#258)
  docs/.vitepress/config.ts
  docs/plans/documentation-verifiable.md
Due: format, lint

feat(docs): carte des paquets générée + contrôle de fraîcheur
  .github/workflows/ci.yml
  docs/.vitepress/config.ts
  docs/architecture/packages.md
  lefthook.yml
  package.json
  scripts/audit/lib/workspace-index.mjs
  scripts/audit/workspace-index.test.mjs
  scripts/audit/workspace-structure.mjs
  scripts/docs/generate-packages-map.mjs
Due: format, lint

docs: corriger les 14 défauts de la revue documentation (phase 4)
  docs/.vitepress/config.ts
  docs/collaboration/workflow.md
  docs/decisions/0005-effect-pour-la-pf.md
  docs/decisions/0019-derogations-workspace-audit.md
  docs/glossary.md
  docs/quality/ci-pipeline.md
  docs/quality/code-style.md
  docs/quality/hooks.md
  docs/quality/security.md
  docs/quality/tests.md
Due: format, lint

fix(docs): corriger 2 alertes codeql sur la carte des paquets
  scripts/audit/workspace-structure.mjs
  scripts/docs/generate-packages-map.mjs
Due: none

docs: corriger les 14 défauts de la revue documentation (Phase 4) (#260)
  docs/.vitepress/config.ts
  docs/collaboration/workflow.md
  docs/decisions/0005-effect-pour-la-pf.md
  docs/decisions/0019-derogations-workspace-audit.md
  docs/glossary.md
  docs/quality/ci-pipeline.md
  docs/quality/code-style.md
  docs/quality/hooks.md
  docs/quality/security.md
  docs/quality/tests.md
Due: format, lint

feat(docs): carte des paquets générée + contrôle de fraîcheur (Phase 1) (#259)
  .github/workflows/ci.yml
  docs/.vitepress/config.ts
  docs/architecture/packages.md
  lefthook.yml
  package.json
  scripts/audit/lib/workspace-index.mjs
  scripts/audit/workspace-index.test.mjs
  scripts/audit/workspace-structure.mjs
  scripts/docs/generate-packages-map.mjs
Due: format, lint

docs: parcours expert — comprendre le code + flux de données (phase 3)
  docs/.vitepress/config.ts
  docs/architecture/comprendre-le-code.md
  docs/architecture/data-flow.md
Due: format, lint

docs: parcours expert — comprendre le code + flux de données (Phase 3) (#261)
  docs/.vitepress/config.ts
  docs/architecture/comprendre-le-code.md
  docs/architecture/data-flow.md
Due: format, lint

feat(docs): auditer la documentation rédigée (phase 2)
  .github/workflows/ci.yml
  docs/.vitepress/config.ts
  lefthook.yml
  package.json
  scripts/audit/documentation.mjs
  scripts/audit/documentation.test.mjs
  services/crf/README.md
Due: format, lint

feat(docs): auditer la documentation rédigée (phase 2) (#263)
  .github/workflows/ci.yml
  docs/.vitepress/config.ts
  lefthook.yml
  package.json
  scripts/audit/documentation.mjs
  scripts/audit/documentation.test.mjs
  services/crf/README.md
Due: format, lint

fix(docs): corriger 3 alertes codeql file-system-race sur le bandeau api
  scripts/docs/api-index-banner.mjs
Due: none

feat(docs): brancher l'index api typedoc (phase 1.3)
  .github/workflows/ci.yml
  docs/.vitepress/config.ts
  package.json
  scripts/docs/api-index-banner.mjs
  scripts/docs/check-api-entrypoints.mjs
Due: format, lint

fix(ci): builder les paquets workspace avant typedoc dans le job docs
  .github/workflows/ci.yml
Due: format

feat(docs): brancher l'index API TypeDoc (Phase 1.3) (#262)
  .github/workflows/ci.yml
  docs/.vitepress/config.ts
  package.json
  scripts/docs/api-index-banner.mjs
  scripts/docs/check-api-entrypoints.mjs
Due: format, lint

docs: adr 0028 documentation vérifiable + page d'accueil table de contrôle (phase 5)
  docs/.vitepress/config.ts
  docs/decisions/0028-documentation-verifiable.md
  docs/decisions/README.md
  docs/index.md
Due: format, lint

docs: adr 0028 documentation vérifiable + page d'accueil table de contrôle (phase 5) (#264)
  docs/.vitepress/config.ts
  docs/decisions/0028-documentation-verifiable.md
  docs/decisions/README.md
  docs/index.md
Due: format, lint

chore(deps): harmoniser les specifiers divergents (audit dep-versions)
  apps/amarre/package.json
  apps/ecrin/package.json
  apps/find-an-expert/package.json
  apps/sillage/package.json
  pnpm-lock.yaml
Due: format

chore: rendre conforme le marqueur todo de workspace-structure
  scripts/audit/workspace-structure.mjs
Due: none

chore(deps): harmoniser les specifiers divergents (audit dep-versions) (#265)
  apps/amarre/package.json
  apps/ecrin/package.json
  apps/find-an-expert/package.json
  apps/sillage/package.json
  pnpm-lock.yaml
Due: format

ci: brancher audit:structure et audit:dep-versions en ci et pre-push
  .github/workflows/ci.yml
  lefthook.yml
Due: format

docs: synchroniser les index de suivi avec le réel
  cli/researcher-profiles/PLAN.md
Due: format

docs: corriger les statuts de l'index des plans
  docs/plans/README.md
Due: format

ci: brancher audit:structure et audit:dep-versions en ci et pre-push (#267)
  .github/workflows/ci.yml
  lefthook.yml
Due: format

chore: rendre conforme le marqueur todo de workspace-structure (#266)
  scripts/audit/workspace-structure.mjs
Due: none

docs: synchroniser les index de suivi avec le réel (#268)
  cli/researcher-profiles/PLAN.md
  docs/plans/README.md
Due: format

docs: adr 0029/0030 + plan pipeline de collaborations (dataops)
  docs/.vitepress/config.ts
  docs/decisions/0029-architecture-pipeline-collaborations.md
  docs/decisions/0030-rgpd-profilage-collaborations.md
  docs/decisions/README.md
  docs/plans/2026-06-02-pipeline-collaborations.md
  docs/plans/README.md
  scripts/audit/documentation.mjs
  scripts/audit/documentation.test.mjs
Due: format, lint

docs: adr 0029/0030 + plan pipeline de collaborations (dataops) (#269)
  docs/.vitepress/config.ts
  docs/decisions/0029-architecture-pipeline-collaborations.md
  docs/decisions/0030-rgpd-profilage-collaborations.md
  docs/decisions/README.md
  docs/plans/2026-06-02-pipeline-collaborations.md
  docs/plans/README.md
  scripts/audit/documentation.mjs
  scripts/audit/documentation.test.mjs
Due: format, lint

Path conditions:
  format: any of: *.{js,ts,svelte,json,yaml,yml,md,css,html}
  lint: any of: *.{js,ts,svelte}
  svelte:check: any of: *.svelte
