Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, svelte:check

format:
  run: pnpm format:check

lint:
  run: pnpm lint

svelte:check:
  run: pnpm svelte:check

test(amarre): level-4 magic-link auth integration suite (self-skipping) (#186)
  .changeset/amarre-level-4-auth.md
  apps/amarre/tests/README.md
  apps/amarre/tests/integration/auth/signup.test.ts
  apps/amarre/tests/integration/helpers/appwrite.ts
  apps/amarre/tests/integration/helpers/mailpit.ts
Due: format, lint

chore: version packages (#187)
  .changeset/amarre-level-3-integration.md
  .changeset/amarre-level-4-auth.md
  .changeset/amarre-rgpd-url-env.md
  apps/amarre/CHANGELOG.md
  apps/amarre/package.json
Due: format

chore: mark apps as private to skip npm publish
  apps/amarre/package.json
  apps/ecrin/package.json
  apps/find-an-expert/package.json
Due: format

ci: pause release workflow (only workflow_dispatch for now)
  .github/workflows/release.yml
Due: format

fix: mark apps as private to unblock npm publish step (#188)
  apps/amarre/package.json
  apps/ecrin/package.json
  apps/find-an-expert/package.json
Due: format

ci: pause release workflow while npm publish is being fixed (#189)
  .github/workflows/release.yml
Due: format

feat(amarre): load bootstrap js separately in +layout
  apps/amarre/package.json
  apps/amarre/src/routes/+layout.svelte
  pnpm-lock.yaml
Due: format, lint, svelte:check

feat(amarre): wire amarre routes/tests to @univ-lehavre/atlas-ui
  apps/amarre/package.json
  apps/amarre/src/app.html
  apps/amarre/src/lib/ui/Administrate.svelte
  apps/amarre/src/lib/ui/CardItem.svelte
  apps/amarre/src/lib/ui/Collaborate.svelte
  apps/amarre/src/lib/ui/Complete.svelte
  apps/amarre/src/lib/ui/CreateRequest.svelte
  apps/amarre/src/lib/ui/Follow.svelte
  apps/amarre/src/lib/ui/Footer.svelte
  apps/amarre/src/lib/ui/HorizontalScroller.svelte
  apps/amarre/src/lib/ui/MainTitle.svelte
  apps/amarre/src/lib/ui/Request.svelte
  apps/amarre/src/lib/ui/Retrieve.svelte
  apps/amarre/src/lib/ui/Rule.svelte
  apps/amarre/src/lib/ui/SectionTile.svelte
  apps/amarre/src/lib/ui/Signup.svelte
  apps/amarre/src/lib/ui/TopNavbar.svelte
  apps/amarre/src/routes/+layout.svelte
  apps/amarre/src/routes/+page.svelte
  apps/amarre/tests/ui/TopNavbar.test.ts
  apps/amarre/tests/ui/conditional-sections.test.ts
  apps/amarre/tests/ui/forms.test.ts
Due: format, lint, svelte:check

chore(amarre): drop unused luxon deps + knip ignores (moved to atlas-ui)
  apps/amarre/package.json
  knip.json
  pnpm-lock.yaml
Due: format

chore(amarre): re-baseline coverage thresholds after ui migration
  apps/amarre/vitest.config.ts
Due: format, lint

fix(infra): drop bootstrap js import, add cc-by-3.0 to license allowlist
  .github/workflows/dependency-review.yml
  scripts/audit/licenses.mjs
  ui/atlas-ui/src/lib/client.ts
Due: format, lint

fix(ui): compile storybook rune mocks via custom transform
  commitlint.config.js
  eslint.config.js
  ui/atlas-ui/.storybook/main.ts
Due: format, lint

fix(ui): compile storybook sveltekit rune mocks via custom transform (#191)
  commitlint.config.js
  eslint.config.js
  ui/atlas-ui/.storybook/main.ts
Due: format, lint

fix(ui): convert atlas-ui to plain svelte lib + storybook svelte-vite
  .npmrc
  pnpm-lock.yaml
  ui/atlas-ui/.storybook/main.ts
  ui/atlas-ui/.storybook/preview.ts
  ui/atlas-ui/.storybook/stubs/app-forms.ts
  ui/atlas-ui/.storybook/stubs/app-paths.ts
  ui/atlas-ui/package.json
  ui/atlas-ui/src/app.html
  ui/atlas-ui/src/global.d.ts
  ui/atlas-ui/src/lib/Administrate.stories.ts
  ui/atlas-ui/src/lib/CardItem.stories.ts
  ui/atlas-ui/src/lib/Collaborate.stories.ts
  ui/atlas-ui/src/lib/Complete.stories.ts
  ui/atlas-ui/src/lib/CreateRequest.stories.ts
  ui/atlas-ui/src/lib/Follow.stories.ts
  ui/atlas-ui/src/lib/Footer.stories.ts
  ui/atlas-ui/src/lib/HorizontalScroller.stories.ts
  ui/atlas-ui/src/lib/MainTitle.stories.ts
  ui/atlas-ui/src/lib/Request.stories.ts
  ui/atlas-ui/src/lib/Retrieve.stories.ts
  ui/atlas-ui/src/lib/Rule.stories.ts
  ui/atlas-ui/src/lib/SectionTile.stories.ts
  ui/atlas-ui/src/lib/Signup.stories.ts
  ui/atlas-ui/src/lib/TopNavbar.stories.ts
  ui/atlas-ui/src/routes/+layout.svelte
  ui/atlas-ui/src/routes/+page.svelte
  ui/atlas-ui/svelte.config.js
  ui/atlas-ui/tsconfig.json
  ui/atlas-ui/vite.config.ts
Due: format, lint, svelte:check

fix(ui): convert atlas-ui to plain svelte lib + storybook svelte-vite
  knip.json
  pnpm-lock.yaml
  ui/atlas-ui/.storybook/main.ts
  ui/atlas-ui/package.json
Due: format, lint

fix(ui): align atlas-ui on vite 8 + explicitly inject svelte plugin into storybook
  pnpm-lock.yaml
  ui/atlas-ui/.storybook/main.ts
  ui/atlas-ui/package.json
Due: format, lint

test(ui): enrich stories to cover meaningful visual variants
  ui/atlas-ui/src/lib/Administrate.stories.ts
  ui/atlas-ui/src/lib/Collaborate.stories.ts
  ui/atlas-ui/src/lib/HorizontalScroller.stories.ts
  ui/atlas-ui/src/lib/Request.stories.ts
  ui/atlas-ui/src/lib/fixtures.ts
Due: format, lint

test(ui): densify request/complete/follow stories + force-open modals in preview
  ui/atlas-ui/.storybook/preview.ts
  ui/atlas-ui/src/lib/Administrate.stories.ts
  ui/atlas-ui/src/lib/Complete.stories.ts
  ui/atlas-ui/src/lib/Follow.stories.ts
  ui/atlas-ui/src/lib/Request.stories.ts
  ui/atlas-ui/src/lib/fixtures.ts
  ui/atlas-ui/src/lib/types/request.ts
Due: format, lint

test(ui): drop unused request fixtures (stories now use inline records)
  ui/atlas-ui/src/lib/fixtures.ts
Due: format, lint

feat(ui): a11y addon + amarre-home composite + per-story modal open
  pnpm-lock.yaml
  ui/atlas-ui/.storybook/main.ts
  ui/atlas-ui/.storybook/preview.ts
  ui/atlas-ui/package.json
  ui/atlas-ui/src/lib/AmarreHomePage.stories.ts
  ui/atlas-ui/src/lib/AmarreHomePage.svelte
  ui/atlas-ui/src/lib/CreateRequest.stories.ts
  ui/atlas-ui/src/lib/Signup.stories.ts
  ui/atlas-ui/src/lib/index.ts
Due: format, lint, svelte:check

test(ui): replace homepage variants with anonymous + empty + complete-showcase
  ui/atlas-ui/src/lib/AmarreHomePage.stories.ts
Due: format, lint

refactor(ui): inject brand names via props + parent-controlled variant alternation
  ui/atlas-ui/src/lib/Administrate.svelte
  ui/atlas-ui/src/lib/AmarreHomePage.stories.ts
  ui/atlas-ui/src/lib/AmarreHomePage.svelte
  ui/atlas-ui/src/lib/Collaborate.stories.ts
  ui/atlas-ui/src/lib/Collaborate.svelte
  ui/atlas-ui/src/lib/Complete.svelte
  ui/atlas-ui/src/lib/CreateRequest.stories.ts
  ui/atlas-ui/src/lib/CreateRequest.svelte
  ui/atlas-ui/src/lib/Follow.svelte
  ui/atlas-ui/src/lib/Footer.stories.ts
  ui/atlas-ui/src/lib/Footer.svelte
  ui/atlas-ui/src/lib/MainTitle.stories.ts
  ui/atlas-ui/src/lib/MainTitle.svelte
Due: format, lint, svelte:check

feat(amarre): wire brand names + variant alternation through atlas-ui props
  apps/amarre/src/routes/+page.svelte
Due: format, lint, svelte:check

chore(amarre): nudge coverage thresholds after +page.svelte refactor
  apps/amarre/vitest.config.ts
Due: format, lint

test(ui): add follow showcase story to homepage
  ui/atlas-ui/src/lib/AmarreHomePage.stories.ts
Due: format, lint

test(ui): add freshly-created request story to homepage
  ui/atlas-ui/src/lib/AmarreHomePage.stories.ts
Due: format, lint

test(ui): add mixed complete+follow story to homepage
  ui/atlas-ui/src/lib/AmarreHomePage.stories.ts
Due: format, lint

refactor(ui): regroup stories into pages/sections/cards/modals/navigation/primitives
  ui/atlas-ui/src/lib/Administrate.stories.ts
  ui/atlas-ui/src/lib/CardItem.stories.ts
  ui/atlas-ui/src/lib/Collaborate.stories.ts
  ui/atlas-ui/src/lib/Complete.stories.ts
  ui/atlas-ui/src/lib/CreateRequest.stories.ts
  ui/atlas-ui/src/lib/Follow.stories.ts
  ui/atlas-ui/src/lib/Footer.stories.ts
  ui/atlas-ui/src/lib/HorizontalScroller.stories.ts
  ui/atlas-ui/src/lib/MainTitle.stories.ts
  ui/atlas-ui/src/lib/Request.stories.ts
  ui/atlas-ui/src/lib/Retrieve.stories.ts
  ui/atlas-ui/src/lib/Rule.stories.ts
  ui/atlas-ui/src/lib/SectionTile.stories.ts
  ui/atlas-ui/src/lib/Signup.stories.ts
  ui/atlas-ui/src/lib/TopNavbar.stories.ts
Due: format, lint

docs: backlog atlas-ui theming (palettes, fonts, sizes)
  TODO.md
Due: format

test(amarre-sandbox): add level-5 playwright smoke e2e + helpers
  .changeset/amarre-level-5-e2e.md
  .env.example
  TODO.md
  apps/amarre/src/bootstrap.d.ts
  apps/amarre/src/routes/+layout.svelte
  apps/amarre/tests/README.md
  pnpm-lock.yaml
  sandbox/amarre-sandbox/.gitignore
  sandbox/amarre-sandbox/package.json
  sandbox/amarre-sandbox/playwright.config.ts
  sandbox/amarre-sandbox/tests/e2e/fixtures/appwrite.ts
  sandbox/amarre-sandbox/tests/e2e/fixtures/mailpit.ts
  sandbox/amarre-sandbox/tests/e2e/fixtures/preflight.ts
  sandbox/amarre-sandbox/tests/e2e/smoke.spec.ts
Due: format, lint, svelte:check

chore: tighten preflight visibility + nudge amarre statements threshold
  apps/amarre/vitest.config.ts
  sandbox/amarre-sandbox/tests/e2e/fixtures/preflight.ts
Due: format, lint

fix(crf-sandbox): use execfilesync to close codeql command-injection alert
  sandbox/crf-sandbox/tests/fixtures/setup-test-projects.ts
Due: format, lint

fix(amarre): scope appwrite endpoint placeholder check to exact host
  apps/amarre/tests/integration/helpers/appwrite.ts
Due: format, lint

test(amarre): level-5 Playwright smoke E2E (self-skipping) (#193)
  .changeset/amarre-level-5-e2e.md
  .env.example
  TODO.md
  apps/amarre/src/bootstrap.d.ts
  apps/amarre/src/routes/+layout.svelte
  apps/amarre/tests/README.md
  apps/amarre/vitest.config.ts
  pnpm-lock.yaml
  sandbox/amarre-sandbox/.gitignore
  sandbox/amarre-sandbox/package.json
  sandbox/amarre-sandbox/playwright.config.ts
  sandbox/amarre-sandbox/tests/e2e/fixtures/appwrite.ts
  sandbox/amarre-sandbox/tests/e2e/fixtures/mailpit.ts
  sandbox/amarre-sandbox/tests/e2e/fixtures/preflight.ts
  sandbox/amarre-sandbox/tests/e2e/smoke.spec.ts
Due: format, lint, svelte:check

docs: add codeql backlog triage (25 warnings + 4 notes remaining)
  TODO.md
Due: format

fix(security): close CodeQL command-injection + URL-substring alerts (#194)
  TODO.md
  apps/amarre/tests/integration/helpers/appwrite.ts
  sandbox/crf-sandbox/tests/fixtures/setup-test-projects.ts
Due: format, lint

chore(amarre): test pyramid cleanup + runbook + distribution fixes
  apps/amarre/tests/README.md
  apps/amarre/tests/RUNBOOK.md
  apps/amarre/tests/baselines/.gitkeep
  apps/amarre/tests/integration/drift-detection.test.ts
  apps/amarre/tests/lib/server/validators/auth.test.ts
  apps/amarre/tests/utils/drift-detector.test.ts
  apps/amarre/tests/utils/drift-detector.ts
  package.json
  sandbox/amarre-sandbox/README.md
  sandbox/amarre-sandbox/package.json
  sandbox/amarre-sandbox/scripts/start.sh
  sandbox/amarre-sandbox/scripts/test-e2e-baas-ui.ts
  sandbox/amarre-sandbox/scripts/test-e2e-baas.ts
  sandbox/amarre-sandbox/scripts/test-e2e-ui.ts
  sandbox/amarre-sandbox/scripts/test-e2e.ts
  sandbox/amarre-sandbox/tests/e2e/smoke.spec.ts
Due: format, lint

Path conditions:
  format: any of: *.{js,ts,svelte,json,yaml,yml,md,css,html}
  lint: any of: *.{js,ts,svelte}
  svelte:check: any of: *.svelte
