Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm format
  stage_fixed: true

lint:
  run: pnpm lint:fix
  stage_fixed: true

feat(crf): harmonize cli tools with @effect/cli and @clack/prompts
  packages/crf/CLI.md
  packages/crf/package.json
  packages/crf/src/bin/crf-server.ts
  packages/crf/src/cli/redcap/commands.ts
  packages/crf/src/cli/redcap/index.ts
  packages/crf/src/cli/server/app.ts
  packages/crf/src/cli/server/index.ts
  packages/crf/src/cli/shared/context.ts
  packages/crf/src/cli/shared/index.ts
  packages/crf/src/cli/shared/terminal.ts
  packages/crf/src/server/index.ts
  packages/net/CLI.md
  packages/net/package.json
  packages/net/src/cli/index.ts
  pnpm-lock.yaml
Due: format, lint

chore(deps): update dependencies
  apps/ecrin/package.json
  package.json
  packages/redcap/package.json
Due: format

chore(changeset): add changeset for cli harmonization
  .changeset/cli-harmonization.md
Due: format

chore(ci): simplify release workflow and exclude internal packages
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  packages/typescript-config/LICENSE
  packages/typescript-config/package.json
Due: format

docs(citations): add comprehensive architecture documentation
  docs/.vitepress/config.ts
  docs/guide/citations/architecture.md
  docs/guide/citations/citations-client.md
  docs/guide/citations/index.md
  docs/guide/citations/openapi-lifecycle.md
  docs/guide/citations/openapi-validator.md
  docs/guide/citations/rate-limiting.md
  docs/guide/citations/sources/arxiv.md
  docs/guide/citations/sources/crossref.md
  docs/guide/citations/sources/hal.md
  docs/guide/citations/sources/index.md
  docs/guide/citations/sources/openalex.md
  docs/guide/citations/sources/orcid.md
  docs/guide/citations/sources/versioning.md
Due: format, lint

docs(citations): add comprehensive source catalog
  docs/.vitepress/config.ts
  docs/guide/citations/sources/catalog.md
Due: format, lint

docs: add unified schema, atlas verify system, and advanced databases
  docs/.vitepress/config.ts
  docs/guide/citations/advanced-databases.md
  docs/guide/citations/architecture.md
  docs/guide/citations/author-verification.md
  docs/guide/citations/citations-client.md
  docs/guide/citations/database-analysis.md
  docs/guide/citations/index.md
  docs/guide/citations/sources/catalog.md
  docs/guide/citations/sources/entities-reference.md
  docs/guide/citations/sources/index.md
  docs/guide/citations/unified-schema.md
Due: format, lint

docs: restructure atlas citations with user and developer sections
  .changeset/docs-restructure-user-dev.md
  docs/.vitepress/config.ts
  docs/guide/citations/dev/advanced-databases.md
  docs/guide/citations/dev/architecture.md
  docs/guide/citations/dev/author-verification.md
  docs/guide/citations/dev/citations-client.md
  docs/guide/citations/dev/database-analysis.md
  docs/guide/citations/dev/index.md
  docs/guide/citations/dev/openapi-lifecycle.md
  docs/guide/citations/dev/openapi-validator.md
  docs/guide/citations/dev/rate-limiting.md
  docs/guide/citations/dev/researcher-profile.md
  docs/guide/citations/dev/sources/arxiv.md
  docs/guide/citations/dev/sources/catalog.md
  docs/guide/citations/dev/sources/crossref.md
  docs/guide/citations/dev/sources/entities-reference.md
  docs/guide/citations/dev/sources/hal.md
  docs/guide/citations/dev/sources/index.md
  docs/guide/citations/dev/sources/openalex.md
  docs/guide/citations/dev/sources/orcid.md
  docs/guide/citations/dev/sources/versioning.md
  docs/guide/citations/dev/unified-schema.md
  docs/guide/citations/index.md
  docs/guide/citations/user/collaboration-network.md
  docs/guide/citations/user/expertise-profile.md
  docs/guide/citations/user/index.md
  docs/guide/citations/user/manage-career.md
  docs/guide/citations/user/sources.md
  docs/guide/citations/user/verify-publications.md
Due: format, lint

docs: restructure global documentation for researchers and developers
  docs/.vitepress/config.ts
  docs/guide/citations/user/index.md
  docs/guide/dev/architecture.md
  docs/guide/dev/cli.md
  docs/guide/dev/crf.md
  docs/guide/dev/index.md
  docs/guide/dev/infrastructure.md
  docs/guide/index.md
Due: format, lint

docs: update atlas development team information
  docs/guide/index.md
Due: format

docs: format tables and update team description
  docs/guide/index.md
Due: format

ci: add github pages deployment for documentation
  .github/workflows/docs.yml
  docs/.vitepress/config.ts
Due: format, lint

chore(changeset): add changeset for docs restructure and github pages
  .changeset/docs-github-pages.md
Due: format

fix(docs): remove invalid xml tags and configure dead link handling
  docs/.vitepress/config.ts
  docs/guide/citations/dev/author-verification.md
Due: format, lint

refactor(ecrin): move from apps/ to packages/
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  infra/README.md
  infra/scripts/setup.sh
  packages/ecrin/.prettierignore
  packages/ecrin/.prettierrc
  packages/ecrin/CHANGELOG.md
  packages/ecrin/Dockerfile
  packages/ecrin/eslint.config.js
  packages/ecrin/package.json
  packages/ecrin/src/app.d.ts
  packages/ecrin/src/app.html
  packages/ecrin/src/hooks.server.ts
  packages/ecrin/src/lib/server/api.ts
  packages/ecrin/src/lib/server/audit.ts
  packages/ecrin/src/lib/server/opa.ts
  packages/ecrin/src/routes/+layout.server.ts
  packages/ecrin/src/routes/+layout.svelte
  packages/ecrin/src/routes/+page.svelte
  packages/ecrin/src/routes/about/+page.svelte
  packages/ecrin/src/routes/dashboard/+page.server.ts
  packages/ecrin/src/routes/dashboard/+page.svelte
  packages/ecrin/src/routes/records/+page.server.ts
  packages/ecrin/src/routes/records/+page.svelte
  packages/ecrin/src/routes/users/+page.server.ts
  packages/ecrin/src/routes/users/+page.svelte
  packages/ecrin/svelte.config.js
  packages/ecrin/tsconfig.json
  packages/ecrin/vite.config.ts
  pnpm-lock.yaml
Due: format, lint

fix(ecrin): update dockerfile for monorepo workspace
  CLAUDE.md
  infra/README.md
  infra/scripts/setup.sh
  packages/ecrin/Dockerfile
Due: format

fix(ecrin): ignore scripts in dockerfile to skip lefthook
  packages/ecrin/Dockerfile
Due: none

Path conditions:
  format: any of: *.{js,ts,svelte,json,yaml,yml,md,css,html}
  lint: any of: *.{js,ts,svelte}
