Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, svelte:check

lefthook.yml:

# Lefthook configuration for Atlas
# Documentation: https://github.com/evilmartians/lefthook

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    format:
      run: pnpm format:check
      glob: '*.{js,ts,svelte,json,yaml,yml,md,css,html}'

    lint:
      run: pnpm lint
      glob: '*.{js,ts,svelte}'

    cpd:
      run: pnpm audit:duplicates

    knip:
      run: pnpm audit:unused

    test:
      run: pnpm test:coverage

    typecheck:
      run: pnpm typecheck

    svelte:check:
      run: pnpm svelte:check
      glob: '*.svelte'

pre-push:
  commands:
    check-branch:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          echo "❌ Push direct sur main interdit. Utilisez une branche et une PR."
          exit 1
        fi
      priority: 1

    check-sync:
      run: |
        git fetch origin --quiet
        if ! git merge-base --is-ancestor origin/main HEAD 2>/dev/null; then
          echo "⚠️  Votre branche n'est pas à jour avec main."
          echo "   Exécutez: git fetch origin && git rebase origin/main"
        fi
      priority: 1

    check-audit:
      run: pnpm audit:security
      priority: 2

    check-licenses:
      run: pnpm audit:licenses
      priority: 2

    check-lockfile:
      run: pnpm install --frozen-lockfile
      priority: 2

perf(ci): ne builder que les images impactées par le diff
  .github/workflows/images.yml
Due: format

perf(ci): court-circuiter dataops sur les pr sans python (adr 0034)
  .github/workflows/ci.yml
Due: format

perf(ci): ne builder les images non requises que sur main, pas sur pr
  .github/workflows/images.yml
Due: format

perf(ci): activer le remote cache turbo adossé au cache github (adr 0090)
  .github/actions/setup-workspace/action.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  docs/src/content/docs/decisions/0061-ci-acceleration-cache-parallelisation.md
  docs/src/content/docs/decisions/0090-remote-cache-turbo-github.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/decisions/parcours.md
Due: format

docs(ci): retirer audit:versions du job audit (supprimé en #515)
  docs/src/content/docs/quality/ci-pipeline.md
Due: format

ci: classer pnpm-workspace.yaml et patches en transverse pour le build d'images (#520)
  .github/workflows/images.yml
Due: format

test(cache): skip le test d'intégration si le pull docker échoue (#519)
  packages/cache/src/postgres.integration.test.ts
Due: format, lint

fix(citation): relever le plancher dbt-core pour deepdiff>=8 natif
  dataops/citation-dagster/pyproject.toml
  dataops/citation-dagster/uv.lock
  docs/src/content/docs/decisions/0033-contrat-interface-cluster.md
Due: format

feat(citation): appliquer la migration de schéma en hook presync argo cd
  dataops/citation-dagster/deploy/base/kustomization.yaml
  dataops/citation-dagster/deploy/base/migration-job.yaml
  dataops/citation-dagster/deploy/base/migrations/0001_researchers_index.sql
  dataops/citation-dagster/deploy/base/migrations/README.md
Due: format

docs(citation): aligne la doc de déploiement sur la chaîne événementielle cluster
  dataops/citation-dagster/README.md
  dataops/citation-dagster/code-location.manifest.yaml
  dataops/citation-dagster/deploy/RUNBOOK.md
  dataops/mediawatch-dagster/code-location.manifest.yaml
  docs/src/content/docs/decisions/0033-contrat-interface-cluster.md
Due: format

feat(dataops): workspace dagster en fragments disjoints par code-location
  dataops/citation-dagster/deploy/base/kustomization.yaml
  dataops/citation-dagster/deploy/base/workspace-fragment.yaml
  dataops/citation-dagster/deploy/base/workspace-patch.yaml
  dataops/mediawatch-dagster/deploy/base/kustomization.yaml
  dataops/mediawatch-dagster/deploy/base/workspace-fragment.yaml
  dataops/mediawatch-dagster/deploy/base/workspace-patch.yaml
Due: format

docs(citation): renseigne l'ORCID de l'auteur
  CITATION.cff
Due: none

fix(citation): configmap citation-migrations en hook presync
  dataops/citation-dagster/deploy/base/kustomization.yaml
Due: format

ci(ci): release de depot via release-please + cadence quotidienne 3h utc
  .github/workflows/release.yml
  .release-please-manifest.json
  CITATION.cff
  package.json
  release-please-config.json
Due: format

ci(ci): derive le scope-enum du workspace + genere les changesets des commits
  commitlint.config.js
  scripts/release/generate-changesets.mjs
Due: format, lint

ci(ci): cable la generation de changesets dans release.yml + backfill
  .changeset/auto-univ-lehavre-atlas-cache.md
  .changeset/auto-univ-lehavre-atlas-citation.md
  .changeset/auto-univ-lehavre-atlas-crf-openapi.md
  .changeset/auto-univ-lehavre-atlas-crf.md
  .github/workflows/release.yml
Due: format

docs(docs): adr 0091 (release depot + changesets auto) + 0092 (scope-enum derive)
  docs/src/content/docs/decisions/0014-conventional-commits-scopes-restreints.md
  docs/src/content/docs/decisions/0091-release-depot-et-changesets-automatiques.md
  docs/src/content/docs/decisions/0092-scope-enum-derive-du-workspace.md
  docs/src/content/docs/decisions/index.md
Due: format

docs(docs): corrige un rendu liste parasite dans l adr 0091
  docs/src/content/docs/decisions/0091-release-depot-et-changesets-automatiques.md
Due: format

feat(citation-dagster): schedule d'ingestion périodique du snapshot openalex
  dataops/citation-dagster/src/citation_dagster/definitions.py
  dataops/citation-dagster/tests/test_definitions.py
Due: none

fix(citation-dagster): lit le brut openalex sous data/jsonl/<entity>
  dataops/citation-dagster/src/citation_dagster/assets/raw_snapshot.py
Due: none

fix(citation-dagster): rclone no_check_bucket sur le remote ceph
  dataops/citation-dagster/src/citation_dagster/resources.py
Due: none

fix(citation-dagster): dérive les racines s3 dbt du bucket obc réel
  dataops/citation-dagster/src/citation_dagster/dbt.py
  dataops/citation-dagster/tests/test_dbt.py
Due: none

fix(citation-dagster): retire les tests dbt relationships author_id (orphelins d'entité openalex)
  dataops/citation-dbt/models/curated/_curated__models.yml
  dataops/citation-dbt/models/marts/_marts__models.yml
  dataops/citation-dbt/models/staging/_staging__models.yml
Due: format

chore(main): release 1.3.0
  .release-please-manifest.json
  CHANGELOG.md
  CITATION.cff
  package.json
Due: format

fix(citation-dagster): ingestion prod complète par défaut, le banc borne (inversion de polarité)
  dataops/citation-dagster/deploy/overlays/bench/patch-s3-envfrom.yaml
  dataops/citation-dagster/src/citation_dagster/assets/raw_snapshot.py
  dataops/citation-dagster/src/citation_dagster/dbt.py
  dataops/citation-dagster/src/citation_dagster/definitions.py
  dataops/citation-dagster/tests/test_definitions.py
  dataops/citation-dagster/tests/test_raw_snapshot.py
  dataops/citation-dbt/models/curated/curated_eunicoast_works.sql
Due: format

chore(main): release 1.3.1
  .release-please-manifest.json
  CHANGELOG.md
  CITATION.cff
  package.json
Due: format

ci(ci): release en cycle complet sur un seul run nocturne (adr 0093)
  .github/workflows/release.yml
  docs/src/content/docs/decisions/0091-release-depot-et-changesets-automatiques.md
  docs/src/content/docs/decisions/0093-release-cycle-complet-une-nuit.md
  docs/src/content/docs/decisions/index.md
  docs/src/content/docs/decisions/parcours.md
Due: format

ci(ci): workflow ponctuel de re-signature des assets de release
  .github/workflows/resign-releases.yml
Due: format

ci(ci): ajoute date-released au fichier citation et l'estampille à chaque release
  .github/workflows/release.yml
  CITATION.cff
Due: format

fix(citation-dagster): raccourcit l'endpoint duckdb au nom court (piège fqdn prod)
  dataops/citation-dagster/src/citation_dagster/resources.py
  dataops/citation-dagster/tests/test_lakehouse.py
  dataops/citation-dagster/tests/test_resources.py
  dataops/citation-dbt/profiles.yml
Due: format

fix(citation-dagster): ndots:1 sur les pods de run (tue le fan-out dns sous charge)
  dataops/citation-dagster/src/citation_dagster/definitions.py
  dataops/citation-dagster/tests/test_definitions.py
Due: none

fix(citation-dagster): ge_raw_contract échantillonne le brut (ne lit plus tout le lac)
  dataops/citation-dagster/src/citation_dagster/assets/quality.py
  dataops/citation-dagster/src/citation_dagster/lakehouse.py
  dataops/citation-dagster/tests/test_quality.py
Due: none

feat(citation-dagster): borne duckdb + spilling disque (scalabilité)
  dataops/citation-dagster/src/citation_dagster/definitions.py
  dataops/citation-dagster/src/citation_dagster/lakehouse.py
  dataops/citation-dagster/tests/test_definitions.py
  dataops/citation-dbt/profiles.yml
Due: format

feat(citation-dagster): parallélise duckdb (60 threads) + resources pod cohérentes
  dataops/citation-dagster/src/citation_dagster/definitions.py
  dataops/citation-dagster/src/citation_dagster/lakehouse.py
  dataops/citation-dagster/tests/test_definitions.py
  dataops/citation-dbt/profiles.yml
Due: format

chore(main): release 1.3.2
  .release-please-manifest.json
  CHANGELOG.md
  CITATION.cff
  package.json
Due: format

feat(citation-dagster): helpers read_parquet + manifest footer
  dataops/citation-dagster/src/citation_dagster/lakehouse.py
  dataops/citation-dagster/tests/test_lakehouse.py
Due: none

feat(citation-dagster): raw_snapshot rapatrie le parquet openalex
  dataops/citation-dagster/src/citation_dagster/assets/raw_snapshot.py
  dataops/citation-dagster/src/citation_dagster/definitions.py
  dataops/citation-dagster/tests/test_definitions.py
  dataops/citation-dagster/tests/test_raw_snapshot.py
Due: none

feat(citation-dagster): asset mart_eunicoast (batch colonnaire)
  dataops/citation-dagster/src/citation_dagster/assets/__init__.py
  dataops/citation-dagster/src/citation_dagster/assets/batch_eunicoast.py
  dataops/citation-dagster/src/citation_dagster/definitions.py
  dataops/citation-dagster/tests/test_batch_eunicoast.py
Due: none

refactor(citation-dagster): contrat ge raw sur parquet works-only
  dataops/citation-dagster/src/citation_dagster/assets/quality.py
  dataops/citation-dagster/src/citation_dagster/ge_suites.py
  dataops/citation-dagster/tests/test_ge_suites.py
  dataops/citation-dagster/tests/test_quality.py
Due: none
