Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, svelte:check

format:
  run: pnpm format:check

lint:
  run: pnpm lint

svelte:check:
  run: pnpm svelte:check

docs: align contributing and security with monorepo focus
  CONTRIBUTING.md
  SECURITY.md
Due: format

docs: align CONTRIBUTING and SECURITY with monorepo focus (#212)
  CONTRIBUTING.md
  SECURITY.md
Due: format

chore: clean stale knip configuration hints
  knip.json
Due: format

chore: clean stale knip configuration hints (#213)
  knip.json
Due: format

test(crf-cli): boost coverage from 10.5% to 64.6% statements
  cli/crf/src/commands/api/commands.test.ts
  cli/crf/src/shared/context.test.ts
  cli/crf/src/shared/terminal.test.ts
Due: format, lint

chore: drop now-resolved knip ignores for crf-cli shared modules
  knip.json
Due: format

test(crf-cli): boost coverage from 10.5% to 64.6% statements (#214)
  cli/crf/src/commands/api/commands.test.ts
  cli/crf/src/shared/context.test.ts
  cli/crf/src/shared/terminal.test.ts
  knip.json
Due: format, lint

chore(sillage): anonymous volumes for fresh state each start in sandbox
  sandbox/sillage-sandbox/README.md
  sandbox/sillage-sandbox/docker-compose.yaml
  sandbox/sillage-sandbox/package.json
  sandbox/sillage-sandbox/scripts/bootstrap-crf.ts
  sandbox/sillage-sandbox/scripts/start.sh
Due: format, lint

chore(sillage): anonymous volumes in sillage-sandbox for fresh state each start (#215)
  sandbox/sillage-sandbox/README.md
  sandbox/sillage-sandbox/docker-compose.yaml
  sandbox/sillage-sandbox/package.json
  sandbox/sillage-sandbox/scripts/bootstrap-crf.ts
  sandbox/sillage-sandbox/scripts/start.sh
Due: format, lint

test(net-cli): boost coverage from 0% to 50.5% statements
  cli/net/src/commands/diagnostics.test.ts
  cli/net/src/commands/index.ts
  cli/net/src/config/context.test.ts
  cli/net/src/output/steps.test.ts
Due: format, lint

docs: restructure todo around decisions, pending work and archive
  TODO.md
Due: format

docs: restructure TODO around decisions, pending work and archive (#217)
  TODO.md
Due: format

test(net-cli): boost coverage from 0% to 50.5% statements (#216)
  cli/net/src/commands/diagnostics.test.ts
  cli/net/src/commands/index.ts
  cli/net/src/config/context.test.ts
  cli/net/src/output/steps.test.ts
Due: format, lint

test(amarre): 401 + payloads malformés on remaining auth endpoints (Phase 7.2)
  apps/amarre/tests/routes/api/v1/auth/login.test.ts
  apps/amarre/tests/routes/api/v1/auth/logout.test.ts
  apps/amarre/tests/routes/api/v1/auth/signup.test.ts
  apps/amarre/tests/routes/api/v1/me.test.ts
Due: format, lint

refactor(auth): extract login/logout handlers into shared factory
  .changeset/auth-handlers-factory.md
  apps/amarre/src/routes/api/v1/auth/login/+server.ts
  apps/amarre/src/routes/api/v1/auth/logout/+server.ts
  apps/ecrin/src/lib/validators/server/auth.ts
  apps/ecrin/src/routes/api/v1/auth/login/+server.ts
  apps/ecrin/src/routes/api/v1/auth/logout/+server.ts
  packages/auth/src/handlers.test.ts
  packages/auth/src/handlers.ts
  packages/auth/src/index.ts
Due: format, lint

test(amarre): 401 + payloads malformés on remaining auth endpoints (Phase 7.2) (#218)
  apps/amarre/tests/routes/api/v1/auth/login.test.ts
  apps/amarre/tests/routes/api/v1/auth/logout.test.ts
  apps/amarre/tests/routes/api/v1/auth/signup.test.ts
  apps/amarre/tests/routes/api/v1/me.test.ts
Due: format, lint

refactor(auth): extract signup handler into shared factory
  .changeset/auth-signup-handler-factory.md
  apps/amarre/src/lib/server/validators/auth.ts
  apps/amarre/src/routes/api/v1/auth/signup/+server.ts
  apps/amarre/tests/routes/api/v1/auth/login.test.ts
  apps/amarre/tests/routes/api/v1/auth/logout.test.ts
  apps/amarre/tests/routes/api/v1/auth/signup.test.ts
  apps/ecrin/src/routes/api/v1/auth/signup/+server.ts
  packages/auth/src/handlers.test.ts
  packages/auth/src/handlers.ts
  packages/auth/src/index.ts
Due: format, lint

refactor(auth): extract signup handler into shared factory (#220)
  .changeset/auth-signup-handler-factory.md
  apps/amarre/src/lib/server/validators/auth.ts
  apps/amarre/src/routes/api/v1/auth/signup/+server.ts
  apps/amarre/tests/routes/api/v1/auth/login.test.ts
  apps/amarre/tests/routes/api/v1/auth/logout.test.ts
  apps/amarre/tests/routes/api/v1/auth/signup.test.ts
  apps/ecrin/src/routes/api/v1/auth/signup/+server.ts
  packages/auth/src/handlers.test.ts
  packages/auth/src/handlers.ts
  packages/auth/src/index.ts
Due: format, lint

refactor(auth): extract login/logout handlers into shared factory (#219)
  .changeset/auth-handlers-factory.md
  .changeset/auth-signup-handler-factory.md
  apps/amarre/src/lib/server/validators/auth.ts
  apps/amarre/src/routes/api/v1/auth/login/+server.ts
  apps/amarre/src/routes/api/v1/auth/logout/+server.ts
  apps/amarre/src/routes/api/v1/auth/signup/+server.ts
  apps/amarre/tests/routes/api/v1/auth/login.test.ts
  apps/amarre/tests/routes/api/v1/auth/logout.test.ts
  apps/amarre/tests/routes/api/v1/auth/signup.test.ts
  apps/ecrin/src/lib/validators/server/auth.ts
  apps/ecrin/src/routes/api/v1/auth/login/+server.ts
  apps/ecrin/src/routes/api/v1/auth/logout/+server.ts
  apps/ecrin/src/routes/api/v1/auth/signup/+server.ts
  packages/auth/src/handlers.test.ts
  packages/auth/src/handlers.ts
  packages/auth/src/index.ts
Due: format, lint

docs(auth): refresh readme around two-level api and remove drift
  packages/auth/README.md
Due: format

docs(auth): refresh README around two-level API and remove drift (#221)
  packages/auth/README.md
Due: format

refactor(auth): extract /me handler into shared factory
  .changeset/auth-me-handler-factory.md
  apps/amarre/src/routes/api/v1/me/+server.ts
  apps/amarre/tests/routes/api/v1/me.test.ts
  apps/ecrin/src/routes/api/v1/me/+server.ts
  packages/auth/src/handlers.test.ts
  packages/auth/src/handlers.ts
  packages/auth/src/index.ts
Due: format, lint

refactor(auth): extract /me handler into shared factory (#222)
  .changeset/auth-me-handler-factory.md
  apps/amarre/src/routes/api/v1/me/+server.ts
  apps/amarre/tests/routes/api/v1/me.test.ts
  apps/ecrin/src/routes/api/v1/me/+server.ts
  packages/auth/src/handlers.test.ts
  packages/auth/src/handlers.ts
  packages/auth/src/index.ts
Due: format, lint

chore(ci): wrap up devsecops finalization bundle (1.1 + 1.2 + 4.3 + 6.2 + 7.2)
  .github/workflows/release.yml
  .github/workflows/semgrep.yml
  TODO.md
  apps/ecrin/src/routes/api/v1/auth/delete/server.test.ts
  apps/ecrin/src/routes/api/v1/users/server.test.ts
  apps/find-an-expert/src/lib/ui/utils/ConnectivityBanner.svelte
  apps/find-an-expert/src/routes/api/v1/institutions/search/server.test.ts
  config/shared-config/eslint/svelte.js
  docs/quality/security.md
Due: format, lint, svelte:check

chore(ci): finalisation DevSecOps (Phases 1.1 + 1.2 + 4.3 + 6.2 + 7.2) (#223)
  .github/workflows/release.yml
  .github/workflows/semgrep.yml
  TODO.md
  apps/ecrin/src/routes/api/v1/auth/delete/server.test.ts
  apps/ecrin/src/routes/api/v1/users/server.test.ts
  apps/find-an-expert/src/lib/ui/utils/ConnectivityBanner.svelte
  apps/find-an-expert/src/routes/api/v1/institutions/search/server.test.ts
  config/shared-config/eslint/svelte.js
  docs/quality/security.md
Due: format, lint, svelte:check

fix(ci): semgrep scan instead of semgrep ci, with diff baseline
  .github/workflows/semgrep.yml
Due: format

fix(ci): semgrep scan instead of semgrep ci, with diff baseline (#225)
  .github/workflows/semgrep.yml
Due: format

fix(ci): drop non-existent p/svelte rule pack from semgrep workflow
  .github/workflows/semgrep.yml
Due: format

fix(ci): pass base_ref via env to avoid semgrep script-injection rule
  .github/workflows/semgrep.yml
Due: format

fix(ci): drop non-existent p/svelte rule pack from semgrep (#226)
  .github/workflows/semgrep.yml
Due: format

fix(ci): drop --no-config from changeset:version prettier call
  package.json
Due: format

fix(ci): drop --no-config from changeset:version prettier call (#227)
  package.json
Due: format

docs: introduire des adr (architecture decision records)
  TODO.md
  docs/.vitepress/config.ts
  docs/decisions/0001-devsecops-perimetre-repo-sine-die.md
  docs/decisions/0002-monorepo-huit-categories.md
  docs/decisions/0003-logos-split-assets-cli.md
  docs/decisions/0004-volumes-anonymes-sillage-sandbox.md
  docs/decisions/0005-effect-pour-la-pf.md
  docs/decisions/0006-sveltekit-hono-bootstrap.md
  docs/decisions/0007-redcap-appwrite-plateformes.md
  docs/decisions/0008-clis-thins-logique-dans-packages.md
  docs/decisions/0009-atlas-source-canonique-amarre.md
  docs/decisions/0010-node-appwrite-sdk-25.md
  docs/decisions/0011-paquets-internes-private.md
  docs/decisions/0012-neutralisation-framing-institutionnel.md
  docs/decisions/0013-documentation-public-non-expert-fr.md
  docs/decisions/0014-conventional-commits-scopes-restreints.md
  docs/decisions/0015-hooks-git-lefthook-jamais-bypass.md
  docs/decisions/0016-branch-protection-main.md
  docs/decisions/0017-releases-npm-oidc-deux-registres.md
  docs/decisions/0018-sla-remediation-findings.md
  docs/decisions/0019-derogations-workspace-audit.md
  docs/decisions/README.md
  docs/quality/security.md
Due: format, lint

docs: introduire des ADR (Architecture Decision Records) (#228)
  TODO.md
  docs/.vitepress/config.ts
  docs/decisions/0001-devsecops-perimetre-repo-sine-die.md
  docs/decisions/0002-monorepo-huit-categories.md
  docs/decisions/0003-logos-split-assets-cli.md
  docs/decisions/0004-volumes-anonymes-sillage-sandbox.md
  docs/decisions/0005-effect-pour-la-pf.md
  docs/decisions/0006-sveltekit-hono-bootstrap.md
  docs/decisions/0007-redcap-appwrite-plateformes.md
  docs/decisions/0008-clis-thins-logique-dans-packages.md
  docs/decisions/0009-atlas-source-canonique-amarre.md
  docs/decisions/0010-node-appwrite-sdk-25.md
  docs/decisions/0011-paquets-internes-private.md
  docs/decisions/0012-neutralisation-framing-institutionnel.md
  docs/decisions/0013-documentation-public-non-expert-fr.md
  docs/decisions/0014-conventional-commits-scopes-restreints.md
  docs/decisions/0015-hooks-git-lefthook-jamais-bypass.md
  docs/decisions/0016-branch-protection-main.md
  docs/decisions/0017-releases-npm-oidc-deux-registres.md
  docs/decisions/0018-sla-remediation-findings.md
  docs/decisions/0019-derogations-workspace-audit.md
  docs/decisions/README.md
  docs/quality/security.md
Due: format, lint

docs: ajouter rapport d'audit complet 2026-05-29
  TODO.md
  docs/.vitepress/config.ts
  docs/audit/2026-05-29.md
  docs/audit/README.md
Due: format, lint

docs: ajouter plan de résorption agentique-ready pour l'audit 2026-05-29
  docs/.vitepress/config.ts
  docs/plans/2026-05-30-resorption-validation.md
  docs/plans/2026-05-30-resorption.md
  docs/plans/README.md
Due: format, lint

ci: phase 1 — réparer le filet de coverage
  .github/workflows/ci.yml
  docs/decisions/0019-derogations-workspace-audit.md
  lefthook.yml
  package.json
  packages/atlas-stats/vitest.config.ts
  scripts/audit/coverage-report.mjs
  scripts/audit/coverage-report.test.mjs
Due: format, lint

Path conditions:
  format: any of: *.{js,ts,svelte,json,yaml,yml,md,css,html}
  lint: any of: *.{js,ts,svelte}
  svelte:check: any of: *.svelte
