Repository univ-lehavre/atlas: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, svelte:check

lefthook.yml:

# Lefthook configuration for Atlas
# Documentation: https://github.com/evilmartians/lefthook

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    format:
      run: pnpm format:check
      glob: '*.{js,ts,svelte,json,yaml,yml,md,css,html}'

    lint:
      run: pnpm lint
      glob: '*.{js,ts,svelte}'

    cpd:
      run: pnpm audit:duplicates

    knip:
      run: pnpm audit:unused

    test:
      run: pnpm test:coverage

    typecheck:
      run: pnpm typecheck

    svelte:check:
      run: pnpm svelte:check
      glob: '*.svelte'

pre-push:
  commands:
    check-branch:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          echo "❌ Push direct sur main interdit. Utilisez une branche et une PR."
          exit 1
        fi
      priority: 1

    check-sync:
      run: |
        git fetch origin --quiet
        if ! git merge-base --is-ancestor origin/main HEAD 2>/dev/null; then
          echo "⚠️  Votre branche n'est pas à jour avec main."
          echo "   Exécutez: git fetch origin && git rebase origin/main"
        fi
      priority: 1

    check-audit:
      run: pnpm audit:security
      priority: 2

    check-licenses:
      run: pnpm audit:licenses
      priority: 2

    check-lockfile:
      run: pnpm install --frozen-lockfile
      priority: 2

chore(amarre-sandbox): drop unused @univ-lehavre/atlas-crf-sandbox devdep
  pnpm-lock.yaml
  sandbox/amarre-sandbox/package.json
Due: format

feat(amarre-sandbox): redcap bootstrap with dedicated amarre project
  sandbox/amarre-sandbox/scripts/bootstrap-crf.sh
  sandbox/amarre-sandbox/scripts/bootstrap-crf.ts
Due: format, lint

fix(crf-sandbox): auto-detect container names in install-crf.sh
  sandbox/crf-sandbox/scripts/install-crf.sh
Due: none

feat(amarre-sandbox): synthetic seed and opt-in prod pull
  sandbox/amarre-sandbox/.env.prod.example
  sandbox/amarre-sandbox/.gitignore
  sandbox/amarre-sandbox/scripts/pull-from-prod.ts
  sandbox/amarre-sandbox/scripts/seed-fake-data.ts
Due: format, lint

feat(amarre-sandbox): end-to-end magic-link smoke test
  sandbox/amarre-sandbox/scripts/test-e2e.ts
Due: format, lint

feat(amarre-sandbox): zero-touch orchestrator, ergonomics and docs
  .changeset/amarre-sandbox-full-automation.md
  pnpm-lock.yaml
  sandbox/README.md
  sandbox/amarre-sandbox/.env.example
  sandbox/amarre-sandbox/README.md
  sandbox/amarre-sandbox/package.json
  sandbox/amarre-sandbox/scripts/bootstrap.sh
  sandbox/amarre-sandbox/scripts/start.sh
Due: format

feat(amarre-sandbox): complete appwrite 1.9 stack (mongodb, console, mail worker)
  commitlint.config.js
  sandbox/amarre-sandbox/docker-compose.yaml
Due: format, lint

feat(amarre-sandbox): headless appwrite bootstrap
  sandbox/amarre-sandbox/scripts/bootstrap-baas.sh
  sandbox/amarre-sandbox/scripts/bootstrap-baas.ts
Due: format, lint

fix(infra): bump appwrite image to 1.9 in amarre-sandbox
  sandbox/amarre-sandbox/docker-compose.yaml
Due: format

fix(amarre-sandbox): tolerate already-absent dictionary fk on bootstrap-crf
  sandbox/amarre-sandbox/scripts/bootstrap-crf.ts
Due: format, lint

fix(amarre-sandbox): inject public_appwrite_endpoint into console at runtime
  sandbox/amarre-sandbox/docker-compose.yaml
Due: format

fix(amarre-sandbox): proxy /v1/* from console container to baas api
  sandbox/amarre-sandbox/docker-compose.yaml
  sandbox/amarre-sandbox/docker/console-nginx.conf
Due: format

fix(amarre-sandbox): set _app_domain_target_* to avoid post-login 500
  sandbox/amarre-sandbox/docker-compose.yaml
Due: format

test(amarre-sandbox): add appwrite admin auth e2e tests (api + browser)
  pnpm-lock.yaml
  sandbox/amarre-sandbox/.gitignore
  sandbox/amarre-sandbox/package.json
  sandbox/amarre-sandbox/scripts/test-e2e-baas-ui.ts
  sandbox/amarre-sandbox/scripts/test-e2e-baas.ts
Due: format, lint

fix(crf-sandbox): keep project 1 in development + relax dictionary fk
  sandbox/amarre-sandbox/package.json
  sandbox/amarre-sandbox/scripts/bootstrap-crf.ts
  sandbox/amarre-sandbox/scripts/test-e2e-ui.ts
  sandbox/crf-sandbox/scripts/install-crf.sh
Due: format, lint

fix(amarre-sandbox): whitelist crf url scheme + host before fetching
  sandbox/amarre-sandbox/scripts/bootstrap-crf.ts
Due: format, lint

docs: ignore dead links to repo-root files from security/*.md
  docs/.vitepress/config.ts
Due: format, lint

ci: drop duplicate docs:api run + parallelise stats:generate
  .github/workflows/ci.yml
Due: format

ci: scope pre-commit hooks to staged files + skip lockfile check when irrelevant
  lefthook.yml
Due: format

chore: tell knip that `eslint` is a tool invoked from lefthook
  knip.json
Due: format

test(amarre): add level-1 ui tests (components + conditional rendering)
  .changeset/amarre-level-1-ui-tests.md
  .prettierignore
  apps/amarre/package.json
  apps/amarre/tests/README.md
  apps/amarre/tests/fixtures/forms.ts
  apps/amarre/tests/fixtures/requests.ts
  apps/amarre/tests/fixtures/users.ts
  apps/amarre/tests/ui/TopNavbar.test.ts
  apps/amarre/tests/ui/conditional-sections.test.ts
  apps/amarre/tests/ui/forms.test.ts
  apps/amarre/tests/ui/setup.ts
  apps/amarre/vitest.config.ts
  knip.json
  package.json
  pnpm-lock.yaml
Due: format, lint

docs: add ghpackages cleanup items to backlog (publish clis, mark apps private)
  TODO.md
Due: format

chore: version packages (#176)
  .changeset/amarre-level-1-ui-tests.md
  .changeset/amarre-sandbox-full-automation.md
  apps/amarre/CHANGELOG.md
  apps/amarre/package.json
  sandbox/amarre-sandbox/CHANGELOG.md
  sandbox/amarre-sandbox/package.json
  sandbox/crf-sandbox/CHANGELOG.md
  sandbox/crf-sandbox/package.json
Due: format

docs: add ghpackages cleanup items to backlog (#180)
  TODO.md
Due: format

test(amarre): include .svelte files in coverage, adjust thresholds
  apps/amarre/vitest.config.ts
Due: format, lint

test(crf-sandbox): add level-2 amarre contract tests (api-only)
  .changeset/amarre-level-2-contract.md
  sandbox/crf-sandbox/.gitignore
  sandbox/crf-sandbox/README.md
  sandbox/crf-sandbox/docker/config/.env.test
  sandbox/crf-sandbox/docker/config/.env.test.example
  sandbox/crf-sandbox/package.json
  sandbox/crf-sandbox/tests/contract-amarre/metadata.test.ts
  sandbox/crf-sandbox/tests/contract-amarre/records.test.ts
  sandbox/crf-sandbox/tests/fixtures/projects.json
  sandbox/crf-sandbox/tests/fixtures/redcap-admin.ts
  sandbox/crf-sandbox/tests/fixtures/setup-test-projects.ts
  sandbox/crf-sandbox/vitest.contract.config.ts
Due: format, lint

test(crf-sandbox): exclude contract-amarre/ from default vitest run
  sandbox/crf-sandbox/vitest.config.ts
Due: format, lint

test(amarre): level-2 REDCap contract tests scoped to amarre (api-only) (#179)
  .changeset/amarre-level-2-contract.md
  apps/amarre/vitest.config.ts
  sandbox/crf-sandbox/.gitignore
  sandbox/crf-sandbox/README.md
  sandbox/crf-sandbox/docker/config/.env.test
  sandbox/crf-sandbox/docker/config/.env.test.example
  sandbox/crf-sandbox/package.json
  sandbox/crf-sandbox/tests/contract-amarre/metadata.test.ts
  sandbox/crf-sandbox/tests/contract-amarre/records.test.ts
  sandbox/crf-sandbox/tests/fixtures/projects.json
  sandbox/crf-sandbox/tests/fixtures/redcap-admin.ts
  sandbox/crf-sandbox/tests/fixtures/setup-test-projects.ts
  sandbox/crf-sandbox/vitest.config.ts
  sandbox/crf-sandbox/vitest.contract.config.ts
Due: format, lint

chore: version packages (#181)
  .changeset/amarre-level-2-contract.md
  apps/amarre/CHANGELOG.md
  apps/amarre/package.json
  sandbox/crf-sandbox/CHANGELOG.md
  sandbox/crf-sandbox/package.json
Due: format

chore(deps): migrate pnpm config + patch 8 transitive vulns
  .github/workflows/release.yml
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

ci: auto-queue release pr merge
  .github/workflows/release.yml
Due: format

ci: scope ajv override to vuln range, keep ajv 6 for eslint
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

feat(amarre): externalize rgpd notice url via public env var
  .changeset/amarre-rgpd-url-env.md
  apps/amarre/.env.example
  apps/amarre/src/lib/ui/CreateRequest.svelte
Due: format, lint, svelte:check

chore(deps): patch 8 transitive vulns + migrate pnpm config to workspace.yaml (#182)
  .github/workflows/release.yml
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

feat(amarre): externalize RGPD notice URL via PUBLIC_RGPD_NOTICE_URL (#183)
  .changeset/amarre-rgpd-url-env.md
  apps/amarre/.env.example
  apps/amarre/src/lib/ui/CreateRequest.svelte
Due: format, lint, svelte:check

test(amarre): add level-3 redcap integration suite (self-skipping)
  .changeset/amarre-level-3-integration.md
  apps/amarre/package.json
  apps/amarre/tests/README.md
  apps/amarre/tests/integration/crf/surveys.test.ts
  apps/amarre/tests/integration/helpers/redcap.ts
  apps/amarre/vitest.config.ts
Due: format, lint

fix(deps): scope every security override to its vuln range
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

test(amarre): level-3 REDCap integration suite (self-skipping) (#184)
  .changeset/amarre-level-3-integration.md
  apps/amarre/package.json
  apps/amarre/tests/README.md
  apps/amarre/tests/integration/crf/surveys.test.ts
  apps/amarre/tests/integration/helpers/redcap.ts
  apps/amarre/vitest.config.ts
Due: format, lint

test(amarre): add level-4 auth integration suite (magic-link, self-skipping)
  .changeset/amarre-level-4-auth.md
  apps/amarre/tests/README.md
  apps/amarre/tests/integration/auth/signup.test.ts
  apps/amarre/tests/integration/helpers/appwrite.ts
  apps/amarre/tests/integration/helpers/mailpit.ts
Due: format, lint

fix(deps): scope every security override to its vuln range (unbreaks release) (#185)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format
